/* Makes dropdown menu headers change color when selected or clicked, as well as mobile menu icon (Hamburger Menu icon) change to same color */
	.dropdown-toggle:active, 					/*  */
	.open .dropdown-toggle, 					/*  */
	.dropdown-toggle:hover, 					/*  */
	.navbar-inverse .navbar-toggle:active, 		/* menu icon background color when button is active */
	.navbar-inverse .navbar-toggle:focus, 		/* menu icon background color when it is clicked into */
	.navbar-inverse .navbar-toggle:hover 		/* menu icon background color when hovered over */
	.navbar-inverse .navbar-nav .dropdown .navbutton,		/* Give/Join/Volunteer nav buttons */
	{
	background-color: #B7330E !important; /* Overwrites Bootstrap's !important */
}