@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

html * {
	font-family: 'Open Sans';
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

img {
	image-rendering: auto; /* Makes images render smoother in Chrome (and Safari) - if you don't have this they can appear blurry */
	/* image-rendering: -webkit-optimize-contrast; Chrome (and Safari) */
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-weight: bold;
}

hr {
	height: 2px;
	color: #196143;
	background-color: #196143;
	border: none;
	margin-top: 3px;
	margin-bottom: 3px;
}

.hover:hover {
	opacity: .9;
}

.panel-heading:hover {
	opacity: .9;
}

#rbgdefaultbody a, #rbgdefaultbody a:link, #rbgdefaultbody a:visited, #rbgdefaultbody a:active {
	color: #A7916E;		/* hyperlink color for default pages */
	font-weight: bold;
	text-decoration: underline;
}

#rbgdefaultbody a:hover {
	color: #C4B59E;		/* color when hyperlinks hovered over on default pages*/
}

/*******************************************/
/************** Begin Nav Bar **************/
/*******************************************/

.navbar-wrapper {
	position: absolute;
	width: 100%;
}

/* Fixes rounded corners issue in Bootstrap navbar */
.navbar-inverse {
  border-radius: 0;
}

#rbgnavbar a:hover, a, li, .dropdown-menu li:hover {
    color: #000;
}

.dropdown-menu li:hover {
	background-color: #F2EDE4;
	color: #000;
}

/* Makes dropdown menu headers change color when selected or clicked, as well as mobile menu icon (Hamburger Menu icon) change to same color */
	.dropdown-toggle:active, 					/*  */
	.open .dropdown-toggle, 					/*  */
	.dropdown-toggle:hover, 					/*  */
	.navbar-inverse .navbar-toggle:active, 		/* menu icon background color when button is active */
	.navbar-inverse .navbar-toggle:focus, 		/* menu icon background color when it is clicked into */
	.navbar-inverse .navbar-toggle:hover 		/* menu icon background color when hovered over */
	{
	background-color: #FF7744 !important; /* Overwrites Bootstrap's !important */
}

/* Underlines the last three items in the navbar */
.navbar-inverse li:nth-last-child(3) .dropdown-toggle, .navbar-inverse li:nth-last-child(2) .dropdown-toggle, .navbar-inverse li:nth-last-child(1) .dropdown-toggle { /* Give/Join/Volunteer nav buttons */
	 /* text-decoration: underline; */
	 color: yellow !important;
}

/* Makes headers of the dropdown menus white and bold */
.navbar-inverse .nav li .dropdown-toggle, .navbar-inverse .nav li .dropdown-toggle:hover  {
    color: #FFF !important; /* Overwrites Bootstrap's !important */
}

#navhide1, #navhide2, #navhide3 {
	padding-right: 1px;
}

/* Changes color of last 3 dropdown menu items to yellow */
#navhide1 > a, #navhide2 > a, #navhide3 > a {
	/* color: yellow !important; */
	/* background-color: #468068; */
	 background-color: #2f7055;
	/* background-color: #C4B59E; */
	/* border-radius: 30px 30px 30px 30px; */
	/* background-color: #299e6d; */
	/* background-color: #238a5f; */
	/* background-color: #FF6A32; */
}

@media (max-width: 1280px) {

	#navhide1 > a, #navhide2 > a, #navhide3 > a {
		padding-bottom: 5px;
	}
}

/*
#navhide1 > a:hover, #navhide2 > a:hover, #navhide3 > a:hover {
	  background-color: red !important;
	 opacity: .7;
}
*/

.dropdown-menu li {
	background-color: #FFF;
}

.dropdown-menu li:hover {
	background-color: #F2EDE4;
}

.dropdown-menu a:hover li {
	background-color: #F2EDE4;
	text-decoration: none;
}

.dropdown-menu a:hover {
	text-decoration: none;
}

.navbar-inverse a:hover {
	color: #FFF;
}

/* Changes background color of OUTDOOR CONCERT SERIES link in navbar */
.dropdown-menu .concert-li li {
	background-color: #87CEEB;
}

/* Changes the color of link text <a> after navbar has collapsed for small screen or mobile mode */
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:visited {
	color: #000;
}

.dropdown-menu li, .dropdown-menu a {
	text-align: center;
	color: #000;
}

.dropdown {
	font-size: 12px;
	padding: 0;
	font-weight: bold;
}

.dropdown ul {
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 10px;
	font-weight: bold;
}

/* Border thickness and color between dropdown menu li, padding */
.dropdown-menu li, .dropdown-menu > a > li {
	border-top: 2px double #D3D3D3;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Background color of li in navbar when hovered over */
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a, .dropdown-menu li:hover {
	background-color: #F2EDE4;
}

/* Makes dropdown-menu li links bold*/
.dropdown-menu li > a, .dropdown-menu li > a:visited {
	font-weight: bold;
}

#navbarbg {
	background-color: #00502F;
	width: 100%;
}

#rbgnavbar {
	max-width: 1280px;
	margin-left:auto;
	margin-right:auto;
	background-color:#00502F;
}

#logo {
	/* margin-top: 13px;
	padding-right: 30px; */
}

#logo img {
	max-height: 50px;
	width: auto;
	padding: 3px 0 3px 0;
}

@media (max-width: 1320px) {
	#logo img {
		padding-right: 0;
		padding-left: 0;
	}
}


/* Adjusts width of dropdown menu */
.dropdown-menu a, .dropdown-menu li {
  min-width: 150px;
}

/* Adjusts center alignment of dropdown menu under main categories when navbar has not collapsed */
@media only screen and (min-width : 769px) {

	.dropdown-menu {
	    left: 50% !important;
	    margin-left: -78px;
	}
}

/* For small devices, and after navbar collapses */
@media only screen and (max-width : 768px) {

	.dropdown-menu li, .dropdown-menu li a, .dropdown-menu ul {
		text-align: center;
		color: #000;
		list-style: none;
		padding-left: 0 !important;
	}

}

@media only screen and (max-width : 950px) {
	.jssorb21 {
		display: none; /* Makes selecion dots on slideshow disappear at this width */
		height: 0;
	}
}

/* Hides Give, Join, and Volunteer Buttons within certain widths
@media (min-width: 1043px) and (max-width: 1325px) {
	#navhide1, #navhide2, #navhide3, #navhide4 {
		display: none;
	 }

}
*/

/* Hides Search icon within certain widths
@media (min-width: 1043px) and (max-width: 1100px) {
	#navhide4 {
		display: none;
	}
}
*/

/* Ensures search icon and Give, Join, and Donate buttons clear one another and appear on next line on mobile menu */
@media (max-width: 1320px) {
	#navhide4 img, #navhide3, #navhide2, #navhide1 {
		clear: both;
	}
}

/************************/
/* Begin Search Bar CSS */
/************************/

#gcse_search{
	background:transparent;
    border-bottom :1px solid white;
    margin: 0;
    padding:0;
    position:relative;
	text-align:left;
    width: 100%;
    max-width: 1280px;
    border-radius: 2px;
}

#gcse_searchbox {
    border:1 px solid black;
    color: #196143;
    font-size: 3em;
    height:auto;
    padding:3px 5px;
    width: 100%;
    max-width: 1280px;
    background-color: transparent;
    border-radius: 5px;
    font-weight: normal !important;
}

#gcse_searchbox:focus {
	color: #196143;
}

#gcse_searchbutton {
	padding:3px;
	position:absolute;
	right:0;
	top:0;
	background-color: #196143;
	border-radius: 0px 2px 2px 0px;
}

#gcse_searchbutton:focus,
#gcse_searchbutton:hover,
#gcse_searchbutton:active {
     background-color:#F2EDE4;
}

.gcse_watermark {
	...
	url('//gcse.search.utah.edu/_images/gcse_site.png')
							no-repeat 5px 3px;
}

.search {
	padding-right: 15px;
	padding-left: 10px;
}

.searchicon {
	margin-top: 10px;
	float: left;
}

@media (max-width:1320px){
	.searchicon-mobile-menu {
		display: none;
	}
}

@media (min-width:1319px){
	.searchicon-header {
		display: none !important;
	}
}

.searchicon-header {
	margin-right: 5px;
}

.searchicon:hover {
	background-color: #196143;
}

.searchbar {
	padding-top: 13px;
	padding-left: 15px;
	float: left;
}

#gcse_search label {
     height:1px;
     left:-10000px;
     overflow:hidden;
     position:absolute;
     top:auto;
     width:1px;
}

.searchwrap {
	display: inline;
}

@media (min-width: 769px) and (max-width: 1150px) {
	.searchbar {
		display: none;
	}
}

/************************/
/** End Search Bar CSS **/
/************************/

/* Code Collapses Navbar Earlier for more Mobile Compatibility - value must be larger than 1280px due to padding and browser differences */
@media (min-width: 768px) and (max-width: 1320px) {
        .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .navbar-nav .open .dropdown-menu > li > a {
            line-height: 20px;
        }
        .navbar-nav .open .dropdown-menu > li > a,
        .navbar-nav .open .dropdown-menu .dropdown-header {
            padding: 5px 15px 5px 25px;
        }
        .dropdown-menu > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }

        .dropdown-menu > a > li, .dropdown-menu .concert-li li {
	    	margin-left: 78px; /* Fixes glitch where dropdown menu bleeds off screen to left */
        }

        .navbar-header {
            float: none;
        }

        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            /*margin: 7.5px -15px;*/
            margin: 7.5px 50px 7.5px -15px
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-text {
            float: none;
            margin: 15px 0;
        }
        /* since 3.1.0 */
        .navbar-collapse.collapse.in {
            display: block!important;
        }
        .collapsing {
            overflow: hidden!important;
        }
    }

/* Makes space between navbar and slideshow disappear after collapse - required for relative positioning so menu makes divs below the navbar move down when open */
 @media all and (max-width: 950px ){

	 .navbar-wrapper {
	 	clear:right;
	 	position: relative;
	 	padding-bottom: 0px;
	 }

	 #slider-wrapper  {
	 	margin-top: -20px;
	    position: relative;
	    clear: right;
	 }

	 #rbgdefaultbody {
		margin-top: -65px;
	    position: relative;
	    clear: right;
	 }

}

/*****************************************/
/************** End Nav Bar **************/
/*****************************************/

/************************/
/** Begin RBG Info Div **/
/************************/

#rbg-info-wrapper1, #rbg-info-wrapper2 {
	clear: both;
}

#gardenHours, #gardenStatus {
	margin-top: 2px;
}

#otherNotes {
	clear: none;
	font-size: 11px;
}

#rbginfobg {
	background-color: rgba(0,0,0,0.7); /* IMPORTANT: Use ONLY rbga here instead of rbg or hex so that opacity of the background color is not inherited */
	width: 100%;
	min-height: 150px; /* Careful with this value! */
	position: absolute;
	bottom: 0;
}

.float-left {
	display: inline-block;
	position: absolute;
}

#rbginfobg2 {
	position: relative;
}

#rbginfo, #rbginfo2 {
	max-width: 1280px;
	margin: 0 auto 0 auto;
	color: #FFF;
}

#rbghours {
	text-align: center;
	font-size: 11px;
}

#rbgadmission table, #rbgadmission2 table {
	margin-left: auto;
	margin-right: auto;
	font-size: 11px;
	color: #FFF;
	width: 215px;
}

#admissionDiscount {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #158FBF;
}

/* Homepage down arrow */

#page-down, #page-down2 {
	padding: 0px 10px 0px 10px;
	z-index: 10;
}

#page-down2 {
	bottom: 55px;
}

@media (min-width:768px) {
	#page-down2 {
		display: none;
	}
}

.page-down-icon {
	bottom: 0;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	-webkit-animation: fadein 1s linear infinite;
}

.page-down-icon img {
	display: block;
	max-width: 75px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

@-webkit-keyframes fadein{
    from { opacity: .5; }
    to { opacity: 1; }
}

.page-down-icon img:hover {
	opacity: .7;
	background-color: #196143;
}

/* Begin seasonal strikethrough admission code */

#adult-half, #senior-half, #mil-half, #child-half, #staff-half {
	color: #158FBF;
	font-weight: bold;
}

.td-title{
	font-size: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.td-padding {
	padding-left: 5px;
}

.td-final1 {
	padding-bottom: 5px;
}

.td-final2 {
	padding-left: 5px;
	padding-bottom: 5px;
}

#admission-left, #admission-right {
	float: left;
}

/*

.rbghours {
	display: block;
	margin: 40px auto 0 auto;
	width: 138px;
	height: 84px;
	background: url('/images/core/sprites.png') -0px -320px ;
}

.rbghours:hover {
	opacity: .9;
}

.rbgadmission{
	display:block;
	margin: 40px auto 0 auto;
	width:138px;
	height:84px;
	background: url('/images/core/sprites.png') -140px -325px ;
}

.rbgadmission:hover {
	opacity: .9;
}

.rbgdirections {
	display: block;
	margin: 40px auto 0 auto;
	width:138px;
	height: 84px;
	background: url('/images/core/sprites.png') -310px -169px ;
}

.rbgdirections:hover {
	opacity: .9;
}

.rbgweather {
	display: block;
	margin: 40px auto 0 auto;
	width:138px;
	height: 84px;
	background: url('/images/core/sprites.png') -172px -169px ;
}

.rbgweather:hover {
	opacity: .9;
}

#rbgadmission, #rbgadmission2, #rbgdirections, #rbgweather, #rbghours {
	min-width: 233px;
	min-height: 200px;
}

#rbgdirectionshidden, #rbgweatherhidden, #rbghidden {
	display: none;
}

#rbgweatherhidden {
	height: 100%
}

*/

.infoempty1, .infoempty2 {
	min-width: 233px;
}

/* For small devices, and after navbar collapses */
@media only screen and (max-width : 950px) {

  	#rbg-info-wrapper1 {
	  	display: none;
  	}

  	#rbginfobg {
	  	position: relative;
  	}

	#rbgdirections img, #rbgweather img {
		margin: 5px auto 5px auto;
	}

	#rbgdirections a:hover, #rbgweather a:hover {
		text-decoration: none;
	}

	#rbghours, #rbgadmission, #rbgadmission2, #rbgdirections, #rbgweather {
		background-color: #196143;
		border-top: black 1px solid;
		clear: both;
		width: 100%;
	}

	/* Padding around these divs and their images after collapsing */
	.rbgdirections, .rbgweather {
		margin: 5px auto 10px auto;
	}

}

@media only screen and (min-width: 950px) {

	#rbg-info-wrapper2 {
		display: none;
	}

}

@media only screen and (max-width: 950px) {

	#rbg-info-wrapper1{
		display: none;
	}
}

/************************/
/**  End RBG Info Div  **/
/************************/

/* Begin Home Template Body */

#rbghomebody {
	max-width:1280px;
	margin: 0 auto 0 auto;
	padding: 15px;
}

#rbghomebody img {
	margin: 5px auto 5px auto;
	width: 100%;
	height: auto;
}

/* End Home Template Body */

/* Begin Default Template Body */

#rbgdefaultbody {
	max-width:1280px;
	clear: both;
	position: relative;
	float: none;
	padding: 65px 15px 15px 15px;
}

/* End Default Template Body */

/*************************************************************/
/***************** Begin Slider Wrapper CSS ******************/
/*************************************************************/

.slide-description {
	position:absolute;
	top: 45%;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	z-index:0;
	font-size: 4.41em;
	font-weight: bold;
	color:#fff;
	padding: 0 5px 0 5px;
	text-transform: capitalize;
}

@media (max-width: 768px) {

	.slide-description {
		font-size: 2.5em;
		top: 40%;
	}

}

#slider-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

#inner-slider-wrapper1 {
	position: relative;
	left: 50%;
	width: 5000px;
	text-align: center;
	margin-left: -2500px;
}

#inner-slider-wrapper2 {
	min-height: 50px;
}

#slider1_container {
	visibility: hidden;
	position: relative;
	margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 500px;
    overflow: hidden;
}

#slides {
	cursor: move;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1280px;
	height: 500px;
	overflow: hidden;
}

/***************************************************/
/* Begin jssor slider bullet navigator skin 21 css */
/***************************************************/

/*
.jssorb21 div           (normal)
.jssorb21 div:hover     (normal mouseover)
.jssorb21 .av           (active)
.jssorb21 .av:hover     (active mouseover)
.jssorb21 .dn           (mousedown)
*/
.jssorb21 {
	position: absolute;
}

.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
	position: absolute;
 	/* size of bullet elment */
 	width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    color: white;
    font-size: 12px;
    background: url(/images/core/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb21 div {
	background-position: -5px -5px;
}

.jssorb21 div:hover, .jssorb21 .av:hover {
	background-position: -35px -5px;
}

.jssorb21 .av {
	background-position: -65px -5px;
}

.jssorb21 .dn, .jssorb21 .dn:hover {
	background-position: -95px -5px;
}

/***************************************************/
/** End jssor slider bullet navigator skin 21 css **/
/***************************************************/

/***************************************************/
/* Begin jssor slider arrow navigator skin 21 css **/
/***************************************************/

/*
.jssora21l                  (normal)
.jssora21r                  (normal)
.jssora21l:hover            (normal mouseover)
.jssora21r:hover            (normal mouseover)
.jssora21l.jssora21ldn      (mousedown)
.jssora21r.jssora21rdn      (mousedown)
*/
.jssora21l, .jssora21r {
	display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(/images/core/a21.png) center center no-repeat;
    overflow: hidden;
}

.jssora21l {
	background-position: -3px -33px;
}

.jssora21r {
	background-position: -63px -33px;
}

.jssora21l:hover {
	background-position: -123px -33px;
}

.jssora21r:hover {
	background-position: -183px -33px;
}

.jssora21l.jssora21ldn {
	background-position: -243px -33px;
}

.jssora21r.jssora21rdn {
	background-position: -303px -33px;
}

/***************************************************/
/** End jssor slider arrow navigator skin 21 css ***/
/***************************************************/

/*************************************************************/
/****************** End Slider Wrapper CSS *******************/
/*************************************************************/

/*************************************************************/
/*********************** Footer CSS **************************/
/*************************************************************/

/*** Begin Pre-Footer ***/

#prefooterbg {
	background-color: #F2EDE4;
	width: 100%;
	border-top: 1px solid #000;
	border-bottom: 1px solid #2E7258;
	clear:both;
}

#prefooter {
	max-width: 1280px;
	margin: 0 auto 0 auto;
	clear: both;
}

#infoempty1, #infoempty2, #empty1, #empty2 {
	line-height: 1px;
}

#prefooter img{
	display: block;
	margin: 10px auto 10px auto;
	max-width: 166px;
}

#prefooter img:hover {
	background-color: #FBF9F6;

}

@media only screen and (max-width : 950px) {

	.prefooter {
		position: relative;
	}
}

/*** End Pre-Footer ***/

/*** Begin Footer ***/

#rbgfooterbg {
	background-color: #00502F;
	width: 100%;
}

#rbgfooter {
  max-width: 1280px;
  margin: 0 auto 0 auto;
  background-color:#00502F;
}

.rbgfooterlinks {
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
	display: inline;
	text-align: center;
}

.rbgfooterlinks ul {
    margin: 0 auto;                  /* center container */
    padding-left: 0;                 /* remove list padding */
    font-size: 0;                    /* remove inline-block white space; see http://stackoverflow.com/a/32801275/3597276 */
}

.rbgfooterlinks li {
    display: inline-block;
    font-size: 10px;
    list-style-type: none;
    box-sizing: border-box;
    text-align: center;
    color: #FFF;
}

.rbgfooterlinks a:link, a:visited, a:active {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

.rbgfooterlinks a:hover {
	color: #C4B59E;
}

#social-media-wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
	display: inline;
	text-align: center;
}

#social-media-wrapper ul {
    margin: 0 auto; 		/* center container */
    padding-left: 0;        /* remove list padding */
    font-size: 0;           /* remove inline-block white space; see http://stackoverflow.com/a/32801275/3597276 */
}

#social-media-wrapper li {
    display: inline-block;
    list-style-type: none;
    box-sizing: border-box;
    text-align: center;
	margin: 0px 11px 4px 11px;
}

/* Begin Footer Sprite CSS */

.yelp {
	width:39px;
	height:39px;
	background: url('/images/core/sprites.png') -200px -90px;
}

.yelp:hover {
	background: url('/images/core/sprites.png') -160px -90px;
}

.tripadvisor {
	width:39px;
	height: 39px;
	background: url('/images/core/sprites.png') -360px -90px;
}

.tripadvisor:hover {
	background: url('/images/core/sprites.png') -320px -90px;
}

.googleplus {
	width:39px;
	height: 39px;
	background: url('/images/core/sprites.png') -160px -130px;
}

.googleplus:hover {
	background: url('/images/core/sprites.png') -200px -130px;
}

.facebook {
	width:39px;
	height: 39px;
	background: url('/images/core/sprites.png') -40px -90px;
}

.facebook:hover {
	background: url('/images/core/sprites.png') -0px -90px;
}

.instagram {
	width:39px;
	height: 39px;
	background: url('/images/core/sprites.png') -240px -130px;
}

.instagram:hover {
	background: url('/images/core/sprites.png') -280px -130px;
}

.twitter {
	width:39px;
	height: 39px;
	background: url('/images/core/sprites.png') -280px -90px;
}

.twitter:hover {
	background: url('/images/core/sprites.png') -240px -90px;
}

.youtube {
	width:39px;
	height: 39px;
	background: url('/images/core/sprites.png') -120px -90px;
}

.youtube:hover {
	background: url('/images/core/sprites.png') -80px -90px;
}

.snapchat {
	width:39px;
	height: 39px;
	background: url('/images/core/sprites.png') -320px -130px;
}

.snapchat:hover {
	background: url('/images/core/sprites.png') -360px -130px;
}

.reddit {
	width:39px;
	height: 39px;
	background: url('/images/core/sprites.png') -0px -130px;
}

.reddit:hover {
	background: url('/images/core/sprites.png') -40px -130px;
}

.pinterest {
	width:39px;
	height: 39px;
	background: url('/images/core/sprites.png') -80px -130px;
}

.pinterest:hover {
	background: url('/images/core/sprites.png') -120px -130px;
}

/* End Footer Sprite CSS */

#uofu {
	background-color: #00502F;
	padding-top: 30px;
}

#footerlogo {
	background-color: #00502F;
	padding-top: 15px;
}


#uofu img, #footerlogo img, #zap img {
	max-width: 170px;
}

#zap {
	background-color: #00502F;
	padding-top: 17px;
}


.uofu:hover, .footerlogo:hover, .zap:hover {
	opacity: .9;
}

.space hr {
	height: 4px;
	visibility: hidden;
	margin: 0px;
}

#contactinfo1 {
	text-align: center;
	color: #FFF;
	font-size: 86%;
}

#contactinfo2 {
	text-align: center;
	color: #F2EDE4;
	font-size: 71%;
	font-style: italic;
}

/*** End Footer ***/

/*************************************************************/
/**************** End Footer CSS *****************************/
/*************************************************************/

/* Added to make Bootstrap row divs with pictures the same height  */

.row, .row-fluid {
    overflow: hidden !important;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    height: auto;
}

/*** End Bootstrap Change ***/

/**********************************************************/
/*************  Begin CSS for membership page *************/
/**********************************************************/

#memcontain {
	max-width:1280px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

.memwrap{
	width: 100%;
	position: relative;
	min-height: 227px;
}

.mempic {
	float: left;
	max-width:175px;
	margin:0;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	/**min-height: 223px;
	width: 175px;**/
}

.meminfo {
	max-width:455px;
	float: left;
	width: 100%;
	background-color: #F2EDE4;
	min-height: 226px;
	padding: 7px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	font-size: 12px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.memcorp {
	border-left: 1px solid black;
	min-height: 250px;
	padding: 15px;
}

@media (max-width:1295px) {
	.meminfo {
		max-width: 1200px;
		border-left: 1px solid black;
		border-radius: 0px;
	}

	.memwrap{
		border-bottom: 1px solid black;
	}

	/* Hides mempic for mobile*/
	.mempic {
		display: none;
	}

	#memcontain .row, #sponcontain .row {
		margin-bottom: 0px !important;
	}

	.memcorp {
		clear:both;
		margin: 0;
	}
}

@media (max-width:768px) {
	#memcontain, .memwrap {
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		max-width: 768px;
		width: 100%;
	}

	.memcorp {
		min-height: 227px;
	}

	#rbgdefaultbody #memcontain h1 {
		font-size: 22px;
	}

	#rbgdefaultbody #memcontain h2 {
		font-size: 20px;
	}

	.lowpadding {
		padding: 0px !important;
		margin: 0 !important;
	}

}

.meminfo h4 {
	color: #196134;
	font-weight: bold;
}

.meminfo h5, .sponinfo h5 {
	color: #A26BA2;
	font-weight: bold;
	padding-bottom: 0px;

}

#memcontain .row, #sponcontain .row {
	margin-bottom: 10px;
}

.membutton, .apply-button {
	background-color: #196143;
	color: #FFF;
	width: 190px;
	height: 40px;
	font-size: 16px;
	border: 1px solid black;
}

.footer-button {
	background-color: #C4B59E;
	color: #FFF;
	width: 100%;
	height: 40px;
	font-size: .82em;
	border: 0;
}

.membutton {
	margin-bottom: 20px;
	position: absolute;
	bottom: -10px;
	right: 10px;
}

.membutton:hover {
	opacity: .9;
}

.meminfowrapper {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width:100%;
	border-radius: 2px;
}

.membenefits  {
	max-width: 630px;
	text-align: center;
	background-color: #196143;
	color: #FFF;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	opacity: 1;
	padding: 15px;
	margin-bottom: 4px;
}


.membenefits:hover {
  	opacity: .9;
}

.membenefits:before, .memfaq:before, .volbutton:before {      /* create a full-height inline block pseudo-element */
	content: ' ';
	display: inline-block;
	vertical-align: middle; /* vertical alignment of the inline element */
	height: 100%;
}

	#membenefits, #mempolicies, #memrecurring {
		max-width: 640px;
  		background-color: #F2EDE4;
  		color: #000;
  		margin-left: auto;
  		margin-right: auto;
  		font-size: 14px;
  		opacity: .9;
  		padding: 15px;
  		margin-bottom: 4px;
  		margin-top: -5px;
	}

	.memfaq, .volbutton {
		max-width: 1190px;
		text-align: center;
		color: #FFF;
		height: 100px;
		margin-left: auto;
		margin-right: auto;
		font-size: 18px;
		opacity: 1;
		margin-bottom: 4px;
		padding: 0;
		background-color: #196143;
	}

	.memfaq {
		max-width: 1280px;
	}

	.memfaq:hover {
		opacity: .9;
	}

	.lowpadding {
		padding: 0 5px 0 5px !important;
		margin: 0 !important;
	}

	.nopadding {
		padding: 0px !important;
		margin: auto !important:
	}

	#rbgdefaultbody .memfaqwrap a, #rbgdefaultbody .memfaqwrap a:hover, #rbgdefaultbody .memfaqwrap a:active, #rbgdefaultbody .memfaqwrap a:visited, #rbgdefaultbody .memfaqwrap a:link {
		text-decoration: none;
		color: #FFF;
		font-weight: normal;
	}

	.renewbutton {
		background-color: #196143;
		color: #FFF;
		max-width: 325px;
		min-height: 40px;
		font-size: 16px;
		border: 1px solid black;
	}

/* Begin CSS for membership page sprites */

/* Generated by http://css.spritegen.com CSS Sprite Generator */

.memsprite01, .memsprite02, .memsprite03, .memsprite04, .memsprite05,
.memsprite06, .memsprite07, .memsprite08, .memsprite09, .memsprite10
{
	background: url('/images/core/memsprite.png') no-repeat;
	}

.memsprite01 { background-position: -0px -0px; width: 175px; height: 225px; }
.memsprite02 { background-position: -175px -0px; width: 175px; height: 225px; }
.memsprite03 { background-position: -350px -0px; width: 175px; height: 225px; }
.memsprite04 { background-position: -0px -225px; width: 175px; height: 225px; }
.memsprite05 { background-position: -175px -225px; width: 175px; height: 225px; }
.memsprite06 { background-position: -350px -225px; width: 175px; height: 225px; }
.memsprite07 { background-position: -0px -450px; width: 175px; height: 225px; }
.memsprite08 { background-position: -175px -450px; width: 175px; height: 225px; }
.memsprite09 { background-position: -350px -450px; width: 175px; height: 225px; }
.memsprite10 { background-position: -0px -675px; width: 175px; height: 225px; }

/* End CSS for membership page sprites */

/**********************************************************/
/**************  End CSS for membership page **************/
/**********************************************************/

/* Begin Wrapper for Google Maps */

#googlemapswrapper {
	max-width: 1280px;
	max-height: 800px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

/* End Wrapper for Google Maps */

/* Being CSS for RBG Banner Images */

  	.concertbanner {
		max-height: 175px; 			/* IMPORTANT!!! Determines max height of banner on large screens - must match .concertbanner img max-height value */
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		background-color: #00502f;
		overflow: hidden;
	}

	.concertbanner img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-height: 175px; 			/* IMPORTANT!!! Determines max height of banner on large screens - must match .concertbanner max-height value */
		max-width: 100%;
	}

	.concertdonorbanner {
	max-height: 150px; 			/* IMPORTANT!!! Determines max height of banner on large screens - must match .concertbanner img max-height value */
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #00502f;
	overflow: hidden;
}

.concertdonorbanner img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 150px; 			/* IMPORTANT!!! Determines max height of banner on large screens - must match .concertbanner max-height value */
	max-width: 100%;
}

/* End CSS for RBG Banner Images*/

/* Begin Accordion Panel Colors */

.panel-heading {
	background-color: #F2EDE4;
}

#rbgdefaultbody .panel-default a, #rbgdefaultbody .panel-default a:link, #rbgdefaultbody .panel-default a:visited, #rbgdefaultbody .panel-default a:active { /* sets link color for panels to black with no underline  */
	color: #000;
	text-decoration: none;
}

#rbgdefaultbody .panel-body a, #rbgdefaultbody .panel-body a:link, #rbgdefaultbody .panel-body a:visited, #rbgdefaultbody .panel-body a:active { /* sets link colors inside panels back to site defaults */
	color: #A7916E;		/* hyperlink color for default pages */
	text-decoration: underline;
}

#rbgdefaultbody .panel-body a:hover {
	color: #C4B59E;		/* sets color when hyperlinks hovered over on pages within panel back to site defaults */
}

.panel-title {
	font-size: 12px;
}

/* End Accordion Panel Colors */

/**********************************************************/
/**************  Begin CSS for Concerts page **************/
/**********************************************************/

  	#concertcontent {
	  	max-width:1280px;
	  	margin: 0 auto 0 auto;
	  	padding: 0px;
  	}

 .container-fluid-no-padding{
	  	padding: 0px;
  	}

  	.concertinfo, .concert-test {
  		position: relative;
  		max-width: 280px;
  		text-align: center;
  		max-height: 215px;
  		background-color: #BCAC93;
  		color: #fff;
  		/* height: 215px; */
  		height: 75px;
  		margin: 10px auto 10px auto;
  		font-size: 16px;
  		opacity: 1;
  		text-wrap:normal;
  	}

  	.concert-test {
	  	height: 40px;
  	}

  	@media (max-width: 768px){
	  	.concertinfo {
		  	font-size: .85em;
	  	}
  	}

  	.concertinfo:before {      /* create a full-height inline block pseudo-element */
	    content: ' ';
	    display: inline-block;
	    vertical-align: middle; /* vertical alignment of the inline element */
	    height: 100%;
	}

	.concertwrapper{
		position: relative;
		opacity: 1;
		margin: 0 0 0 0;
	  	text-align:center;
	  	padding: 0 0 0 0;
	  	z-index: 45;
	}

	@media (max-width: 768px) {

		.concertwrapper{
			max-width: 420px;
			margin-left: auto;
			margin-right: auto;
			float: none;
			position: relative;
		}

		.pastdivide hr {
			display: none;
		}

		.pastdivide {
			font-weight: bold;
		}

	}

	.past:hover .pasttext{
		display:block;
	}

	 .bandpic {
	  	text-align:center;
	  	width: 90%;
	  	padding: 10px 0 0 0;
	  	position: relative;
	  	z-index: 1;
	  	margin: auto;
  	}

  	.bandpic img {
	  	width: 100%;
	  	position: relative;
	  	z-index: 2;
  	}

	.pasttext, .soldout, .concerttext{
		position: absolute;
	  	margin:0 auto 0 auto;
	  	width: 100%;
	}

	.invisible{
		display: none;
	}

	.concerttext {
		z-index: 3;
		background-color: #F2EDE4;
		text-wrap: normal;
		position: relative;
		overflow: none;
		width: 95%;
		display: table;
		margin: auto;
		height: 280px; /* This value might need to be changed each season */
		padding-bottom: 15px; /* Adds space between rows of artists on concerts page */
	}

	.donor-height {
		height: 230px; /* This value might need to be changed each season for donor-package.html */
	}

	.concerttext:before {      /* create a full-height inline block pseudo-element */
	    content: ' ';
	    display: inline-block;
	    vertical-align: middle; /* vertical alignment of the inline element */
	    height: 100%;
	}

	.textwrapper {
		z-index: 3;
		text-align:  center;
		text-wrap: normal;
		position: relative;
		background-color: none;
		overflow: none;
		width: 95%;
		/* height: 300px; */
		margin:auto;
	}

	.textcenter {
		display: table-cell;
		vertical-align: middle;
	}

	.con-band-wrap {
		position: absolute;
		top: 0;
		text-align: center;
		text-wrap: normal;
		overflow: none;
		width: 100%;
		display: table;
		margin: auto;
	}

	.con-but-wrap {
		position: absolute;
		bottom: 0;
	}

/*
	.con-but-wrap hr {
		background-color: #E86730 !important;
	}
*/

	.soldout {
		margin: 0 auto 0 auto;
	  	text-align:center;
		z-index: 3;
	  	width: 30%;
	  	position: absolute;
		left:70%;
		top: 10px;
	}

	.soldout img{
	  	width: 100%;
	  	display: block;
	  	margin: auto;
	}

	.pasttext{
		z-index: 30;
		top: 25%;
		left: 10%;
		color: rgba(255,255,255, 0.7);
		text-align:  center;
		height: auto;
		text-wrap: normal;
		position: absolute;
		padding-left:0px;
		-ms-transform: rotate(-45deg); /* IE 9 */
		-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
		transform: rotate(-45deg);
		opacity:1%;
		overflow: hidden;
		max-width:80%;
		font-size: 48px;
		display: none;
	}

	.past{
		opacity:.5;
	}

   .buytickets {
		margin: 0 auto 0 auto;
	  	text-align:center;
		z-index: 50;
	  	width: 15%;
	  	position: absolute;
		top: 80%;
		left:55%;
	}

	.buytickets:img {
		width: 100%;
	  	display: block;
	  	margin: auto;
	}

   .addcalendar {
		margin: 0 auto 0 auto;
	  	text-align:center;
		z-index: 55 ;
	  	width: 15%;
	  	position: absolute;
		top: 80%;
		left:30%;
	}
	.addcalendar:img {
		width: 100%;
	  	display: block;
	  	margin: auto;
	}

	.info {
		z-index; 10;
		background-color: none;
		padding: 10px 20px 10px 20px;
		width: 88%;
		margin: auto;
	}

.row-fluid {
    overflow: hidden;
}

.pastbar1 {
	float:left;

}

.pastbar2{
	float:right;
}

.pastdivide{
	text-align: center;
	width: 100%;
	color: (125, 125, 125, 1);
	margin-left: auto;
	margin-right: auto;
	float:none;
	position: relative;
}

.pastdivide hr {
	width: 40%;
}
/**********************************************************/
/***************  End CSS for Concerts page ***************/
/**********************************************************/

/**********************************************************/
/*********  Begin CSS for Sponsors Packages Page **********/
/**********************************************************/

.sponinfo {
	max-width:620px;
	width: 100%;
	background-color: #f2ede4;
	min-height: 340px;
	padding: 7px;
	border: 1px solid black;
	font-size: 12px;
	border-radius: 2px;
}

.sponinfo td {
	text-align: center;
	padding: 5px;
	border: 1px solid black !important;
}

@media (max-width:1280px) {

	.sponinfo {
		max-width: 1200px;
		border-radius: 0px;
	}

}

.spon-table  {
		max-width: 1280px;
		text-align: center;
		max-height: 100px;
		background-color: #BCAC93;
		color: #FFF;
		height: 215px;
		margin-left: auto;
		margin-right: auto;
		font-size: 18px;
}

.private-rental {
	background-color: #196143
}

.spon-table:before {      		/* create a full-height inline block pseudo-element */
    content: ' ';
    display: inline-block;
    vertical-align: middle; 	/* vertical alignment of the inline element */
    height: 100%;
}

#spon-table {
	margin-top: -4px;
	margin-bottom: 4px;
}

#sponcontain td, #sponcontain th {
	text-align: center;
}

#sponcontain th {
	background-color:#F5F5DC;
}

/**********************************************************/
/**********  End CSS for Sponsors Packages Page ***********/
/**********************************************************/

/**********************************************************/
/****************  Begin Generic Classes ******************/
/**********************************************************/

.red {
	font-weight: bold;
	color: #FF0000;
}

.blue {
	color: #158FBF;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.lilac {
	font-weight: bold;
	color: #A26BA2;
}

.orange {
	font-weight: bold;
	color: #FF7744;
}

.white {
	font-weight: bold;
	color: #FFF;
}

.swag {
	color: purple;
	background-color: yellow;
	text-decoration: underline;
}

.hover:hover {
	opacity: .9;
}

.caps {
	text-transform: capitalize;
}

.lowercase {
	text-transform: lowercase;
}

.responsive, .responsive img {
	width: 100%;
	height: auto;
}

.arbor-day-logo, .arbor-day-logo img {
	width: 50%;
	height: auto;
}

.hide {
	display: none;
}

@media (max-width:768px) {
	.hide-mobile {
		display:none;
	}
}

@media (min-width:769px) {
	.hide-desktop {
		display:none;
	}
}

.green {
	color: #196143;
}

.green-button, .tan-button {
	border: none;
	padding: 10px 15px 10px 15px;
	font-size: 18px;
	color: #FFF;
	font-weight: bold;
}

.green-button {
	background-color: #196143;
}

#rbgdefaultbody .green-button-wrap a, #rbgdefaultbody .green-button-wrap a:link {
	text-decoration: none;
}

.normal {
	font-weight: normal;
}

.tan-http://redbuttegarden.github.io/rental-rates-and-catering {
	background-color: #C4B59E;
}

.green-button:hover, .tan-button:hover {
	opacity: .9;
}

.img-center, .img-center img {
	display: block;
	margin: 0 auto;
}

.border {
	border: 1px solid #000;
}

.no-border {
	border: 0;
}

.garden-panel {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

/**********************************************************/
/****************  End Generic Classes ********************/
/**********************************************************/

/* Fixes responsive table horizontal glitch on phones */

.table-responsive .table {
    max-width: none !important;
}

/*****************************************************/
/****************  Begin Event CSS *******************/
/*****************************************************/

.event-pic, .ev-tickets, .ev-cal, .ev-hr, .ev-tickets, .ev-cal {
	margin-left: auto;
	margin-right: auto;
	max-width: 280px;
	text-transform: capitalize;
}

.event-pic img {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 2;
}

.ev-tickets img, .ev-cal img {
	max-width: 300px;
	width: 100%;
	height: auto;
	margin: 4px auto 4px auto;
	background-color: #196143;
}

.ev-hr {
	background-color: gray;
	clear: both;
}

.ev-tickets, .ev-cal {
	clear: none;

}

.ev-title-reg {

}

.ev-title {
	line-height: 75%;
	font-size: 36px;
	font-weight: bold;
}

.ev-title, .ev-title-reg, .ev-title-reg h1, .ev-sub, ev-title-mobile, ev-title-mobile h3, .ev-sub {
	padding: 0px;
  margin: 0px;
}

.ev-sub, .ev-date {
	font-size: 18px;
}


.ev-sub {
	padding-top: 15px !important;
}

.ev-date {
	margin-top: -20px !important;
}


.ev-tickets, .ev-cal {
	max-width: 280px;
}

.ev-tickets:hover, .ev-cal:hover {
	background-color: #F2EDE4;
}

.ev-info-header {
	font-weight: bold;
	clear: both;
}

@media (min-width: 769px) {
	.ev-title-mobile, .ev-date-mobile {
		display: none;
	}

}

@media (max-width: 769px) {
	.ev-title-reg, .ev-date, .ev-space {
		display: none;
	}

	.ev-date-mobile, .ev-title-mobile {
		text-align: center;
	}

	.ev-title {
		font-size: 24px;
		font-weight: bold;
	}

	.ev-date-mobile {
		font-weight: bold;
	}
}

.inline, .ev-member-sale, .ev-public-sale, .ev-member-cost, .ev-public-cost {
	display: inline;
}

/******************************************************/
/****************  End Event CSS **********************/
/******************************************************/

/**********************************************************/
/***************  Begin Event Images CSS ******************/
/**********************************************************/

.collectionswrap {
	max-width: 600px;
}

.eventwrapsmall, .collectionswrap {
	max-width: 385px;
	width: 100%;
	height: auto;
	position: relative !important;
	margin-top: 30px;
}

.eventwraplarge {
	max-width: 1280px;
}

.eventwrapsmall img, .collectionswrap img{
	width: 100%;
	height: auto;
}

.eventinfo {
	position: absolute !important;
	width: 80%;
	z-index: 5;
	bottom: 60px;
	background-color: #196143;
	padding: 15px;
}

.eventinfo-small {
	width: 45%;
}

.eventname {
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

.eventdate {
	font-size: 14px;
	color: #FFF;
	text-transform: uppercase;
	font-weight: normal;
}

.eventnotes {
	color: #FFF;
	font-style: italic;
	width: 65%;
	font-size: 12px;
	text-transform: lowercase;
	font-weight: normal;
}

@media (max-width:768px) {

	.eventname {
		font-size: 16px;
	}

	.eventdate {
		font-size: 12px;
	}

	.eventenotes {
		font-size: 8px;
	}
}

/**********************************************************/
/****************  End Event Images CSS *******************/
/**********************************************************/

/* Begin Grid Page Header Code */

.grid-header, .grid-header-small {
	font-size: 36px;
	text-align: center;
	text-transform: capitalize;
}

.grid-header-small {
	font-size: 1.75em;
}

.eventdivide hr {
	height: 3px;
}

@media (max-width:768px) {
	.grid-header {
		font-size: 22px;
	}
}

/* End Grid Page Header Code */

/* Colors grid of local retail partner grid items*/
.local-retail-partner {
	background-color: #F2EDE4;
	border: 1px solid #000;
}

.test {
	background-color: rgba(29,108,182, 0.3);
}

/* Volunteer Panel Code */
.volbutton {
		height: 60px;
		min-width: 100px;
		max-width: 1280px;
		width: 100%;
		background-color:#c4b59e;
		cursor: pointer; /* Adding this makes collapse panels with this class work on Safari on iOS devices */
}

.green-bg {
	background-color: #196143;
}

.tan-bg {
	background-color: #F2EDE4;
}

.dark-tan-bg {
	background-color:#C4B59E;
}

.white-bg {
	background-color: #FFF;
}

.red-bg {
	background-color: red;
}

.orange-bg {
	background-color: #FF7744;
}

#volunteer-apps {
	background-color:#f2ede4;
	margin-top: -4px;
}

.panel-border {
	margin-top: -4px;
	border: 1px solid #D3D3D3;
	border-top: 0px;
}

.tall-button {
	height: 100px;
}

/* Begin panel code to get rid of button borders and blue border around selected button */

.no-button-outline button:focus {
	outline: 0;
}

.no-button-outline .volbutton {
	padding: 0;
	border: none;
}

/* End panel code to get rid of button borders and blue border around selected button */

.col-sm-4 {
	/*display: none;*/
}

/* Hides <br /> on mobile devices */
@media (max-width:768px) {

	.br-hide {
		display: none;
	}

}

/* Hides <br /> on large devices */
@media (min-width:769px) {

	.br-hide-lg {
		display: none;
	}

}

/* Reduces size of headers on small screens and devices */
@media (max-width: 768px){

	h1{font-size: 2em;}
	h2{font-size: 1.5em;}
	h3{font-size: 1.17em;}
	h4{font-size: 1em;}
	h5{font-size: .83em;}
	h6{font-size: .75em;}

}

/* Concert information CSS */


/* Hides main sections of Concerts Page when printing */
.concert-print {
	display: none;
}

@media print {

	.concert-print-hide, .navbar-wrapper, #prefooterbg, #rbgfooterbg {
		display: none;
	}

}

.con-title {
	font-size: 1.5em !important;
	font-weight: bold;
	text-decoration: none;
	color: #000 !important;
}

.con-smaller {
	font-size: 1.25em !important;
}

@media (max-width: 768px) {
	.con-smaller {
		font-size: 1.1em !important;
	}
}

#rbgdefaultbody .con-title a, #rbgdefaultbody .con-title a:link, #rbgdefaultbody .con-title a:visited, #rbgdefaultbody .con-title a:active {
	/* font-size: 1em !important; */
	font-weight: bold;
	text-decoration: none;
	color: #000;
}

.con-title a:hover, .con-opener a:hover, .con-sub a:hover {
	color: #C4B59E !important;
	text-decoration: none;
}

.con-sub {
	font-size: .9em;
	font-style: italic;
}

#rbgdefaultbody .con-sub a, #rbgdefaultbody .con-sub a:link, #rbgdefaultbody .con-sub a:visited, #rbgdefaultbody .con-sub a:active {
	/* font-size: 1em !important; */
	font-weight: normal;
	text-decoration: none;
	color: #000;
}

.con-opener {
	font-size: 1.0em;
	text-transform: capitalize;
	color: #000 !important;
}

#rbgdefaultbody .con-opener a, #rbgdefaultbody .con-opener a:link, #rbgdefaultbody .con-opener a:visited, #rbgdefaultbody .con-opener a:active {
	/* font-size: 1em !important; */
	font-weight: normal;
	text-decoration: none;
	color: #000;
}

.con-date {
	font-size: 1.25em;
	font-weight: bold;
}

.con-price {
	font-size: .9em;
}

.con-times {
	font-size: .9em;
}

.con-genre {
	font-size: .9em;
	font-style: italic;
}

.con-button, .con-button img {
	background-color: #196143;
}

/* Event Carousel CSS */

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}

#rbgCarousel {
	background-color: #196143;
}

/* Vertical Concert Sponsors Banner  - HIDDEN FOR NOW, DEVELOPMENT WANTS HORIZONTAL*/

#concert-sponsors-banner {
	top: 160px;
	right: 50px;
	position: absolute;
	display: none;
}

@media (max-width: 1670px) {
	#concert-sponsors-banner {
		display: none;
	}
}

/* Begin CSS for Blog Post Navigation */

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

/* Begin Homepage Separator */

.separator {
    color: #196143;
    background-color: #FFF;
    font-weight: bold;
    font-size: 3em;
    position: relative;
    margin: -35px auto 0 auto;
    text-align:center;
    width: 28%;
}

.hr-separator {
	width: 55%;
	border: 1px solid #196143;
}

@media (max-width: 768px) {

	.separator {
		font-size: 2em;
		width: 40%;
		margin: -25px auto 0 auto;
	}

	.hr-separator {
		width: 85%;
	}

}

.field-class-info {
	min-height: 305px;
}

/* Offsite Pickup Table for Botany Bins */

.offsite-pickup-table th {
	color: #FFF;
	background-color: #196143;
	text-align: center;
	font-size: 1.25em;
	height: 28px;
}

.offsite-pickup-table tr:nth-child(odd) {
	background-color: #F2EDE4;
}

.offsite-pickup-table tr:nth-child(even) {
	background-color: #FFF;
}

.offsite-pickup-table tr td:nth-child(1) {
	font-weight: bold;
}

.memfaq-con-table th {
	color: #FFF;
	background-color: #196143;
	text-align: center;
	font-size: 1em;
	width: 200px;
	padding: 1px;
	border: 1px solid #000;
}

.memfaq-con-table td:nth-child(odd) {
	padding-left: 10px;
	border: 1px solid #000;
}

.memfaq-con-table td:nth-child(even) {
	text-align: center;
	border: 1px solid #000;
}

.donor-table th {
	color: #FFF;
	background-color: #196143;
	text-align: center;
	font-size: 1.25em;
	height: 28px;
}

.donor-table tr:nth-child(odd) {
	background-color: #F2EDE4;
}

.donor-table tr:nth-child(even) {
	background-color: #FFF;
}

.donor-table tr td:nth-child(1) {
	font-weight: bold;
}

.donor-table td {
	text-align: center;
}

#donor-table1 {
	margin-top: -5px;
}

/* Botany Bin Table */
.botany-bin-table {
	display: block;
}


.botany-bin-table table, .offsite-pickup-table table {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.botany-bin-table th {
	color: #FFF;
	background-color: #007600;
	text-align: center;
	font-size: 1.25em;
	height: 28px;
}

.botany-bin-table td, .offsite-pickup-table td {
	text-align: center;
	font-weight: bold;
	padding: 10px;
}

.botany-bin-table tr:nth-child(odd) {
	background-color: #D7F5D7;
}

.botany-bin-table tr:nth-child(even) {
	background-color: #A9EAA9;
}

/********************************/
/* Test Sprite for Presentation */
/********************************/

.rbgadmission, .rbghours, .rbgdirections, .rbgweather
{ max-width: 100%; background-size: 100%; background-image: url('/images/core/sprite-test.png'); }

.rbghours {
	display:block;
	margin: 20px auto 0 auto;
	width:196px;
	height:84px;
	background: url('/images/core/sprite-test.png') 0px -84px ;
}

.rbgadmission {
	display:block;
	margin: 20px auto 0 auto;
	width:196px;
	height:84px;
	background: url('/images/core/sprite-test.png') 0px 0px ;
}

.rbgdirections {
	display:block;
	margin: 20px auto 0 auto;
	width:196px;
	height:84px;
	background: url('/images/core/sprite-test.png') 0px -168px ;
}

.rbgweather {
	display:block;
	margin: 20px auto 0 auto;
	width:196px;
	height:84px;
	background: url('/images/core/sprite-test.png') 0px -254px ;
}

/* Hides image on mobile devices */
@media (max-width:500px) {

	.img-hide-mobile {
		display: none;
	}

}

/* Garden After Dark Panel Colors */

.gad-panel-orange {
	background-color: #F7931D;
}

.gad-panel-purple {
	background-color: #652D91;
}

.gad-purple, #rbgdefaultbody .gad-purple a, #rbgdefaultbody .gad-purple a:hover, #rbgdefaultbody .gad-purple a:visited {
	color: #652D91;
	/* color: #594A68; */
}

.gad-bg-purple {
	background-color: #652D91;
}

.gad-bg-orange {
	background-color: #F68C39;
}

.gad-bg-light-orange {
	background-color: #FCB752;
}

.gad-bg-lilac {
	background-color: #C1ABD3;
	/* background-color: #FB9807; */
}

.gad-light-purple {
	color: #594A68;
}

/********************************/
/* End Test Sprite for Presentation */
/********************************/

/* Green Sub-headers */

.green-subheader {
	color: #ffffff;
	padding:12px;
	background-color:#196143;
}

.taleblazer-dropdown {
	max-width: 640px;
	background-color: #F2EDE4;
	color: #000;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	opacity: .9;
	padding: 15px;
	margin-bottom: 4px;
	margin-top: -5px;
}

#slides .slide-description {
	text-shadow: -2px 0 #196143, 0 2px #196143, 2px 0 #196143, 0 -2px #196143;
}

/* Gardening Information */

.gardening-title-div {
	display: block;
}

.gardening-title {
	border-bottom: 2.5px solid #00502F;
	padding: 3px;
	display: inline;
}

.gardening-subtitle {
	margin-top: 20px;
}

/* Rental Sites */

.contact-div {
	margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.rental-info {
	position: absolute !important;
	width: 80%;
	z-index: 5;
	bottom: 175px;
	background-color: #196143;
	padding: 15px;
}

.contact-two-text {
	font-size: 2em;
}

/* .arbor-day-img, .arbor-day-img img {
	width: 50% !important;
	background-color: red;
	height: 500px;
} */
