@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
        
html * {
     font-family: 'Open Sans';
}

/*******************************************/
/************** Begin Nav Bar **************/
/*******************************************/

/* Fixes rounded corners issue in Bootstrap navbar */
.navbar-inverse {
  border-radius: 0;
}

#rbgnavbar a:hover, a, li, .dropdown-menu li:hover {
    color: #000000;
}

.dropdown-menu li:hover {
	background-color: #F2EDE4;
	color: #000000;
}

/* Makes dropdown menu headers change color when selected or clicked, as well as mobile menu icon (Hamburger Menu icon) change to same color */
	.dropdown-toggle:active, 					/*  */
	.open .dropdown-toggle, 					/*  */
	.dropdown-toggle:hover, 					/*  */
	.navbar-inverse .navbar-toggle:active, 		/* menu icon background color when button is active */
	.navbar-inverse .navbar-toggle:focus, 		/* menu icon background color when it is clicked into */
	.navbar-inverse .navbar-toggle:hover 		/* menu icon background color when hovered over */
	{
	background-color: #196143 !important; /* Overwrites Bootstrap's !important */
}

/* Makes headers of the dropdown menus white and bold */
.navbar-inverse .nav li .dropdown-toggle, .navbar-inverse .nav li .dropdown-toggle:hover  {
    color: #FFFFFF !important; /* Overwrites Bootstrap's !important */
}

.dropdown-menu li {
	background-color: #FFFFFF;
}

.dropdown-menu li:hover {
	background-color: #F2EDE4;
}

.dropdown-menu li > a:hover {
	text-decoration: none;
}

.navbar-inverse a:hover {
	color: #FFFFFF;
}

/* Changes the color of link text <a> after navbar has collapsed for small screen or mobile mode */
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:visited {
	color: #000000;
}

.dropdown-menu li, .dropdown-menu a {
	text-align: center;
	color: #000000;
}

.dropdown {
	font-size: 10px;
	padding: 0;
	font-weight: bold;
}

.dropdown ul {
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 10px;
	font-weight: bold;
}

/* Border thickness and color between dropdown menu li, padding */
.dropdown-menu li {
	border-top: 2px double #D3D3D3;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Background color of li in navbar when hovered over */
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a, .dropdown-menu li:hover {
	background-color: #F2EDE4;
}

/* Makes dropdown-menu li links bold*/
.dropdown-menu li > a, .dropdown-menu li > a:visited {
	font-weight: bold;
}

#navbarbg {
	background-color: #00502F;
	width: 100%;
}

#rbgnavbar {
	max-width: 1400px;
	margin-left:auto;
	margin-right:auto;
	background-color:#00502F;
}

#logo {
	padding-top: 13px;
}

#logo img {
	max-width: 202px;
	width: 100%;
	max-height: 23px;
}

#logo img:hover {
	opacity: .9;
}

.nav-button {
	clear: none;
	margin-left: auto;
	margin-right: auto;
	float: right;
}

.nav-button img {
	max-height: 50px;
	max-width: 50px;
}

.nav-button img:hover {
	opacity: .9;
}

/* Adjusts width of dropdown menu */
.dropdown-menu a, .dropdown-menu li {
  min-width: 150px;
}

/* Adjusts center alignment of dropdown menu under main categories when navbar has not collapsed */
@media only screen and (min-width : 769px) {
	
	.dropdown-menu {
	    left: 50% !important;
	    margin-left: -78px;
	}
}

/* For small devices, and after navbar collapses */ 
@media only screen and (max-width : 768px) {
  
	.dropdown-menu li, .dropdown-menu li a, .dropdown-menu ul {
		text-align: center;
		color: #000000;
		list-style: none;
		padding-left: 0 !important;
	}
}

/************************/
/* Begin Search Bar CSS */
/************************/

form {
	width: 100px;
}

.search { 
	padding:3px 15px 3px 22px;
	margin:3px; 
	background: url('../images/search.png') no-repeat 8px 3px;
	background-size: 12px 12px;
	background-repeat: no-repeat;
	width: 135px;
	
}

.rounded { 
	border-radius:15px;
}

input[type=text]{
	color: #00502F;
	font-size: 9px;
}

.rbgsearch { 
	padding-top: 12px;
	float: left;
		/* div containing search form 
	width:95%;
	height: 50px;
	padding: 40px 25px;
		*/
}

.rbgsearch input[type=text]{
	border: 1px solid #acb1b7;
	background-color :#FFFFFF;
}

/************************/
/** End Search Bar CSS **/
/************************/

/*****************************************/
/************** End Nav Bar **************/
/*****************************************/

/************************/
/** Begin RBG Info Div **/
/************************/

#rbginfobg {
	background-color: #000000;
	opacity: 1;
	width: 100%;
}

#rbginfo {
	max-width: 1400px;
	margin: 0 auto 0 auto;
	color: #FFFFFF;
}

#rbghours {
	background-color: red;
	text-align: center;
	font-size: 10px;
}

#rbgadmission {
	background-color: purple;
	font-size: 8px;
	font-family: 'Open Sans';
}

#rbgadmission table {
	margin-left: auto;
	margin-right: auto;
}

.td-title{
	font-size: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.td-padding {
	padding-left: 5px;
}

.td-final1 {
	padding-bottom: 5px;
}

.td-final2 {
	padding-left: 5px;
	padding-bottom: 5px;
}

#admission-left, #admission-right {
	float: left;
}

#rbgdirections {
	background-color: blue;
	
}

#rbgdirections img {
	display: block;
	margin: 0 auto 0 auto;
	width: 137px;
	height: 84px;
}

#rbgdirections img:hover {
	opacity: .9;
}

#rbgweather {
	background-color: green;
}

#rbgweather img {
	display: block;
	margin: 0 auto 0 auto;
	width: 137px;
	height: 84px;
}

#rbgweather img:hover {
	opacity: .9;
}

/* End RBG Info Div */

/* Begin Main Body */

#rbgbody {
	max-width:1400px;
	margin: 0 auto 0 auto;	
}

#rbgbody h1, h2, h3, p {
	padding-left: 5px;
	padding-right: 5px;
}

/*************************************************************/
/*********************** Footer CSS **************************/
/*************************************************************/

/*** Begin Pre-Footer ***/

#prefooterbg {
	background-color: #F2EDE4;
	width: 100%;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #2E7258;
}

#prefooter {
	max-width: 1400px;
	margin: 0 auto 0 auto;
}

#infoempty1, #infoempty2, #empty1, #empty2 {
	line-height: 1px;
}

#prefooter img{
	display: block;
	margin: 10px auto 10px auto;
	width: 166px;
	height: 90px;
}

#prefooter img:hover {
	background-color: #FBF9F6;
	
}


/*** End Pre-Footer ***/

/*** Begin Footer ***/

#rbgfooterbg {
	background-color: #00502F;
	width: 100%;
}

#rbgfooter {
  max-width: 1400px;
  margin: 0 auto 0 auto;
  background-color:#00502F;
}

#rbgfooterlinks {
	margin-left: auto;
	margin-right: auto;
	max-width: 1400px;
	display: inline;
	text-align: center;
}

#rbgfooterlinks ul {
    margin: 0 auto;                  /* center container */
    padding-left: 0;                 /* remove list padding */
    font-size: 0;                    /* remove inline-block white space; see http://stackoverflow.com/a/32801275/3597276 */
}

#rbgfooterlinks li {
    display: inline-block;
    font-size: 10px;
    list-style-type: none;
    box-sizing: border-box;
    text-align: center;
    color: #FFFFFF;
}

#rbgfooterlinks a:link, a:visited, a:active {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

#rbgfooterlinks a:hover {
	color: #C4B59E;
}

#social-media-wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 1400px;
	display: inline;
	text-align: center;
}

#social-media-wrapper ul {
    margin: 0 auto; 		/* center container */
    padding-left: 0;        /* remove list padding */
    font-size: 0;           /* remove inline-block white space; see http://stackoverflow.com/a/32801275/3597276 */
}

#social-media-wrapper li {
    display: inline-block;
    list-style-type: none;
    box-sizing: border-box;
    text-align: center;
	margin: 0px 11px 4px 11px;
}

#social-media-wrapper img {
	width: 39px;
	height: 39px;
}

#uofu {
	background-color: #00502F;
	padding-top: 44px;
}

#uofu img {
	display: block;
    margin: 0 auto 0 auto;
	width: 179px;
	height: 44px;
	vertical-align: bottom;
}

#footerlogo {
	background-color: #00502F;
	padding-top: 15px;
}

#footerlogo img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 169px;
	height: 73px;
}

#zap {
	background-color: #00502F;
	padding-top: 17px;
}

#zap img {
	display: block;
    margin: 0 auto 0 auto;
    width: 170px;
    height: 71px;
}

#uofu img:hover, #footerlogo img:hover, #zap img:hover {
	opacity: .9;
}

.space hr {
	height: 4px;
	visibility: hidden;
	margin: 0px;
}

#contactinfo1 {
	text-align: center;
	color: #FFFFFF;
	font-size: 86%;
}

#contactinfo2 {
	text-align: center;
	color: #F2EDE4;
	font-size: 71%;
	font-style: italic;
}

/*** End Footer ***/

/*************************************************************/
/**************** End Footer CSS *****************************/
/*************************************************************/

/* Added to make Bootstrap row divs with pictures the same height  */

.row {
    overflow: hidden; 
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

/*** End Bootstrap Change ***/