---
title: "1st &amp; 2nd Grade Summer Camps"
layout: "default"
keywords: "1st, 2nd, grade, summer, camp"
published: true
---
<div class="row-fluid">
	<img src="/images/banners/1st-2nd-grade-summer-camp.jpg" class="responsive" alt="first and second grade summer camp" title="1st and 2nd grade summer camp" />
</div>


<h2 class="green text-center">Discover. Learn. Grow.</h2>

<h3 class="text-center">Summer Camps for kids entering First or Second Grade in Fall 2020</h3>

<a href="/summer-camp"><p class="text-center">Back to main Summer Camp page</p></a>

<!-- <p class="text-center"><strong>2020 Summer Camp registration will open on February 24 to Garden members and February 26 to the public.</strong></p>-->

<!--<p class="text-center"><strong>Check back in mid/late January for updated 2020 Summer Camp classes!</strong></p>-->

<p class="text-center"><strong>Click the panels below for information about each camp.</strong></p>

<div class="panel-group" id="accordion01">

	<!-- Green Thumb Gardeners Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#green-thumb">
	  	<div class="panel-heading" style="background-color:#FBB040;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Green Thumb Gardeners</h4>
		        		<h6 class="text-center white">&nbsp;</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JUNE 1 - 5</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - NOON<br /></h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="green-thumb" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 1 - 5<br />Monday - Friday<br />9AM - NOON <br /></h5>
				</div>

			</div>

			<p>What does it take to be a great gardener? Learn the unique skills and knowledge you need to grow amazing flowers, fruits, and vegetables. Learn tips and tricks from the pros who work at RBG, and get hands-on experience as you work side-by-side with them in the Garden. Then, use what you've learned to plant a container garden to take home.</p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2019/1-2-green-thumb-gardeners.pdf"><p>Click Here for Camp Overview.</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->

				<a href="https://55218.blackbaudhosting.com/55218/1st2nd---Green-Thumb-Gardeners-01Jun2020"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $124 <strong>Public:</strong> $155</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Green Thumb Gardeners End-->

	<!-- Fantastic Fairytales start-->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#fantasitic-fairytales">
	  	<div class="panel-heading" style="background-color:#FCC779;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Fantastic Fairytales</h4>
		        		<h6 class="text-center white">Partner Camp with Tanner Dance</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JUNE 8 - 12</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - 4PM</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="fantasitic-fairytales" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 8 - 12<br />Monday - Friday<br />9AM - NOON at RBG<br />1PM - 4PM at Tanner Dance</h5>
					</h5>
				</div>

			</div>
			<p class="bold italic text-center">Partner Camp with Tanner Dance</p>

			<p>Fee-fi-fo-fum, join us for a camp full of fairytale fun! Spend your mornings at Red Butte Garden exploring fairytales and their connection to the plants and animals of the natural world. In the afternoon travel to Tanner Dance where you'll interpret fairytales through dance and other art forms. End the week with a special performance at Tanner Dance to showcase all you've learned. Transportation between sites provided.</p>

      <p class="text-center red">Drop off at Red Butte Garden by 9AM and pick up at Tanner Dance by 4PM.</p>
			<center>
				<a href="/documents/summer-camp-pre-emails/2019/1-2-fantastic-fairytales.pdf"><p>Click Here for Camp Overview.</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/1st2nd---Fantastic-Fairytales-08Jun2020"> {% include register-button.html %} </a>
				<!--<p class="red">Registration for this camp is closed.</p>-->

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATIONS:</h5>
					<p class="text-center">Red Butte Garden / Tanner Dance: 1721 Campus Center Drive, SLC, UT 84112</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $252 <strong>Public:</strong> $315</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Fantastic Fairytales End-->

	<!-- Treasures in the Garden -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#treasures-in-the-garden">
			<div class="panel-heading" style="background-color:#FBB040;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Treasures In the Garden</h4>
								<h6 class="text-center white">Partner Camp with Wasatch Community Gardens</h6>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">JUNE 15 - 19</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">9AM - 4PM<br /></h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="treasures-in-the-garden" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 15 - 19<br />Monday - Friday<br />9AM - NOON at WCG<br />1PM - 4PM at RBG</h5>
				</div>

			</div>

			<p class="text-center bold italic">Partner Camp with Wasatch Community Gardens (WCG)</p>

			<p>Get ready for a week of adventure with Wasatch Community Gardens and Red Butte Garden! Spend your mornings at the WCG Grateful Tomato Garden learning how to grow healthy, organic food that is good for both your body and the environment as you explore composting, organic gardening, and more. In the afternoon, you’ll travel to Red Butte to learn skills like map-reading, orienteering, and navigation before searching the Garden for hidden treasure! Transportation between sites provided.</p>

			<p class="text-center red">Drop off at Wasatch Community Garden Grateful Tomato Garden by 9AM and pick up at Red Butte Garden by 4PM.</p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2019/1-2-treasures-in-the-garden.pdf"><p>Click Here for Camp Overview</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->

			  <a href="https://55218.blackbaudhosting.com/55218/1st2nd---Treasures-in-the-Garden-15Jun2020"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATIONS:</h5>
					<p class="text-center">Wasatch Community Gardens Grateful Tomato Garden: 800 South 600 East, SLC, UT / Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $252 <strong>Public:</strong> $315</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Treasures in the Gardens End-->

	<!-- Full Steam Ahead Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#full-steam-ahead">
			<div class="panel-heading" style="background-color:#FCC779;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Full S.T.E.A.M. Ahead!</h4>
								<h6 class="text-center white">Partner Camp with Discovery Gateway Children's Museum</h6>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">JUNE 15 - 19</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">9AM - 4PM</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="full-steam-ahead" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 15 - 19<br />Monday - Friday<br />9AM - NOON at RBG<br />1PM - 4PM at Discovery Gateway</h5>
				</div>

			</div>

			<p class="bold italic text-center">Partner Camp with Dicovery Gateway Children's Museum</p>

			<p>Explore STEAM (science, technology, engineering, art, and math) with Discovery Gateway Children’s Museum and Red Butte Garden! Spend your mornings at the Garden investigating the natural world as you create chalk rockets, build spaghetti towers, cook edible popcorn art, and more. In the afternoon, travel to Discovery Gateway to continue your STEAM explorations with experiments in the STEAM Lab, art in The Learning Center, and excursions throughout the museum. Don’t miss out on this all-day adventure! </p>

			<p class="text-center red">Drop off at RBG by 9AM and pick up at Discovery Gateway by 4PM.</p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2020/1-2-full-steam-ahead.pdf"><p>Click Here for Camp Overview</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->

				<a href="https://55218.blackbaudhosting.com/55218/1st2nd---Full-STEAM-Ahead-15Jun2020"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden / Discovery Gateway Children's Museum: 444 West 100 South, SLC, UT 84101</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $252 <strong>Public:</strong> $315</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Full STEAM Ahead end-->

	<!-- Mighty Makers -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#mighty-makers">
			<div class="panel-heading" style="background-color:#FBB040;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Mighty Makers</h4>
								<h6 class="text-center white">Partner Camp with Play-Well Teknologies</h6>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">JUNE 22 - 26</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">9AM - 4PM</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="mighty-makers" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 22 - 26<br />Monday - Friday<br />9AM - 4PM at RBG</h5>
				</div>

			</div>

			<p class="bold italic text-center">Partner Camp with Play-Well TEKnologies</p>

			<p>Explore the connection between superheroes and the natural world this week with Play-Well TEKnologies and Red Butte Garden! Spend your mornings with RBG to learn skills and abilities from superheroes like Ironman, Wonder Woman, and Wolverine that mimic the real-life adaptations of plants and animals found in the Garden. In the afternoon, save the world with LEGO® Super Heroes! Build the hideouts and vehicles of your favorite caped crusaders and learn what makes them not only Super Heroes, but Super Hero Engineers! An experienced Play-Well instructor guides young heroes as they design, build, and save a city where ingenuity and imagination can solve any conflict. </p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2019/1-2-mighty-makers.pdf"><p>Click Here for Camp Overview.</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->

			<a href="https://55218.blackbaudhosting.com/55218/1st2nd---Mighty-Makers-22Jun2020"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $252 <strong>Public:</strong> $315</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Mighty Makers End-->

	<!-- Miniature Garden Magic Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#garden-magic">
			<div class="panel-heading" style="background-color:#FCC779;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Miniature Garden Magic</h4>
								<h6 class="text-center white">This is a four-day camp</h6>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">JUNE 29 - JULY 2</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">9AM - Noon</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="garden-magic" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 29 - JULY 2<br />Monday - Thursday<br />9AM - Noon</h5>
				</div>

			</div>

			<p>The natural world is full of magic, and you’ll learn all about it this week at camp. Explore a new part of the Garden each day and discover the gnomes, elves, fairies, and other magical creatures that call Red Butte home. Later, use what you’ve learned to create the perfect home for these magic critters by combining basic garden design principles with small-scale plants and handcrafted accessories to create a magical miniature garden.</p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2020/1-2-miniature-garden-magic.pdf"><p>Click Here for Camp Overview</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->

				<a href="https://55218.blackbaudhosting.com/55218/1st2nd---Miniature-Garden-Magic-29Jun2020"> {% include register-button.html %}

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $100 <strong>Public:</strong> $125</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Miniature Garden Magic End-->

	<!-- Curious Critters Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#curious-critters">
	  	<div class="panel-heading" style="background-color:#FBB040;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Curious About Critters </h4>
		        		<h6 class="text-center white">This is a four-day camp</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JUNE 29 - JULY 2</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">1PM - 4PM</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="curious-critters" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First - Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 5 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 29 - JULY 2<br />Monday - Thursday<br />1PM - 4PM <br /></h5>
				</div>

			</div>

			<p>What do you know about the different animals that live in the Garden? Are they the same as the animals that can be found in your backyard? From bats to bobcats, learn about all of the amazing animals that call Red Butte Garden home.</p>

			<center>
			<a href="/documents/summer-camp-pre-emails/2020/1-2-curious-about-critters.pdf"><p>Click Here for Camp Overview.</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->
				<a href="https://55218.blackbaudhosting.com/55218/1st2nd---Curious-About-Critters"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Members:</strong> $100 <strong>Public:</strong> $125</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Curious Critters End-->

	<!-- Plant Magic Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#plant-magic">
			<div class="panel-heading" style="background-color:#FCC779;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Plant Magic</h4>
								<h6 class="text-center white">Partner Camp with Wasatch Community Gardens</h6>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">JULY 6 - 10</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">9AM - 4PM</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="plant-magic" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JULY 6 - 10<br />Monday - Friday<br />9AM - 4PM</h5>
				</div>

			</div>

			<p>Explore the magic of plants with Wasatch Community Gardens and Red Butte Garden! Spend your mornings at WCG exploring the “supernatural” properties of plants as you create botanical potions and perform “magical” plant experiments. Spend your Afternoons at Red Butte Garden and discover the fairytale origins of plants and animals of the natural world as you plant magic beans, create larger-than-life mushrooms, learn to “magically” clone plants, and more.  Transportation between sites provided. </p>

			<p class="text-center red">Drop off at Wasatch Community Gardens Grateful Tomato Garden by 9AM and pick up at RBG by 4PM.</p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2019/1-2-plant-magic.pdf"><p>Click Here for Camp Overview.</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->

			<a href="https://55218.blackbaudhosting.com/55218/1st2nd---Plant-Magic-06Jul2020"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATIONS:</h5>
					<p class="text-center">Wasatch Community Gardens Grateful Tomato Garden: 800 South 600 East, SLC, UT / Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $252 <strong>Public:</strong> $315</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Plant Magic End-->

	<!-- Sprouting Chefs Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#sprouting-chefs">
			<div class="panel-heading" style="background-color:#FBB040;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Sprouting Chefs</h4>
								<h6 class="text-center white">&nbsp;</h6>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">JULY 13 - 17</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">1PM - 4PM<br /></h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="sprouting-chefs" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JULY 13 - 17<br />Monday - Friday<br />1PM - 4PM <br /></h5>
				</div>

			</div>

			<p>Calling all chefs-in-training! Get ready to explore the Garden with your taste buds as you practice essential kitchen skills like chopping, mixing, blending, and more. In addition to making daily snacks like mango salsa, pineapple popsicles, and hummus, you’ll also harvest fresh ingredients from the Garden, decorate your own chef aprons, and compile a camp cookbook.</p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2019/1-2-sprouting-chefs.pdf"><p>Click Here for Camp Overview.</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/1st2nd---Sprouting-Chefs-13Jul2020"> {% include register-button.html %} </a>
				<!--<p class="red">Registration for this camp is closed.</p>-->

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $124 <strong>Public:</strong> $155</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Sprouting Chefs End-->

	<!-- Detailed Discoveries Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#detailed-discoveries">
			<div class="panel-heading" style="background-color:#FCC779;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Detailed Discoveries </h4>
								<h6 class="text-center white">This is a four-day camp</h6>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">JULY 20 - 23</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">9AM - NOON</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="detailed-discoveries" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JULY 20 - 23<br />Monday - Thursday<br />9AM - NOON</h5>
				</div>

			</div>

			<p>Do you like to get up close with nature? Each day we’ll take a detailed look at the life found at Red Butte Garden through observations, games and crafts. Adopt a tree and learn what it can teach you when you look close enough.  Did you know bird beaks are as different as the tools in a toolbox, and that seeds have tricky ways of getting from one place to another? Observe ants and discover what it’s like to see through their eyes.  What detail will you discover this week at camp?</p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2020/1-2-detailed-discoveries.pdf"><p>Click Here for Camp Overview.</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->

			<a href="https://55218.blackbaudhosting.com/55218/1st2nd---Detailed-Discoveries"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $100 <strong>Public:</strong> $125</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Detailed Discoveries End-->

	<!-- Herbology Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#herbology">
			<div class="panel-heading" style="background-color:#FBB040;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Herbology 101 </h4>
								<h6 class="text-center white">This is a four-day camp</h6>
							</div>

							<div class="col-xs-4">
									<h5 class="text-center white">JULY 20 - 23</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">1PM - 4PM</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="herbology" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JULY 20 - 23<br />Monday - Thursday<br />1 - 4PM</h5>
				</div>

			</div>

			<p>Calling all young wizards and witches! Explore the many “magical” properties of plants from around the world as you create strange potions and perform unbelievable experiments. From flying seeds to walking plants, who knows what magic you’ll uncover this week at camp? </p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2020/1-2-herbology.pdf"><p>Click Here for Camp Overview.</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->

				<a href="https://55218.blackbaudhosting.com/55218/1st2nd---Herbology-101"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $100 <strong>Public:</strong> $125</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Herbology End-->

	<!-- Adventures in Art Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#art-adventures">
			<div class="panel-heading" style="background-color:#FCC779;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Adventures in Art</h4>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">AUGUST 3 - 7</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">9AM - NOON</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="art-adventures" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> AUGUST 3 - 17<br />Monday - Friday<br />9AM - NOON</h5>
				</div>

			</div>

			<p>Ready for an artistic adventure? Explore the world of art this week at camp as you paint, draw, and sculpt your way across the Garden. In addition to learning the basics of line, shape, color, and texture, you’ll also create leaf line pictures, sculpt found object statues, paint with salt, and more. End the week with a gallery stroll to showcase all the incredible art you create during camp.</p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2019/1-2-adventures-in-art"><p>Click Here for Camp Overview.</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->

				<a href="https://55218.blackbaudhosting.com/55218/1st2nd---Adventures-in-Art-03Aug2020"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $124 <strong>Public:</strong> $155</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Adventures in Art End-->

	<!-- Kitchen Wizards Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#kitchen-wizards">
			<div class="panel-heading" style="background-color:#FBB040;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Kitchen Wizards </h4>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">AUGUST 3 - 7</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">1PM - 4PM</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="kitchen-wizards" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> AUGUST 3 - 7<br />Monday - Friday<br />1PM - 4PM</h5>
				</div>

			</div>

			<p>Become a culinary wizard this week at camp as you discover the magic of cooking. In addition to practicing essential kitchen skills like chopping, mixing, blending, and more, you’ll also learn how chefs use fruits, vegetables, herbs, and even flowers to flavor your favorite foods. No need to bring magic wands—you’ll make your own and compile a “spell book” of recipes to continue your culinary explorations at home.</p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2020/1-2-kitchen-wizards.pdf"><p>Click Here for Camp Overview.</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->

			<a href="https://55218.blackbaudhosting.com/55218/1st2nd---Kitchen-Wizards-03Aug2020"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $124 <strong>Public:</strong> $155</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Kitchen Wizards End-->

	<!-- Up Close with Insects Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#up-close-with-insects">
			<div class="panel-heading" style="background-color:#FCC779;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Up Close with Insects </h4>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">AUGUST 10 - 14</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">9AM - NOON</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="up-close-with-insects" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> AUGUST 10 - 14<br />Monday - Friday<br />9AM - NOON</h5>
				</div>

			</div>

			<p>The Garden is alive with insects! Learn about these tiny creatures and how they help plants grow. Spend the week reading stories, creating insect-inspired art, and hiking through the Garden on bug hunts. What strange, cool, and downright bizarre discoveries will you make exploring the world of bugs?</p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2019/1-2-up-close-with-insects.pdf"><p>Click Here for Camp Overview.</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->

			 <a href="https://55218.blackbaudhosting.com/55218/1st2nd---Up-Close-with-Insects-10Aug2020"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $124 <strong>Public:</strong> $155</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!--Test Up Close with Insects End-->

</div>

<!--<p class="text-center red"><sup>*</sup> Short week due to Independence Day and Pioneer Day holidays.</p>-->
