---
title: "1st &amp; 2nd Grade Summer Camps"
layout: "default"
keywords: "1st, 2nd, grade, summer, camp"
published: true
---
<div class="row-fluid">
	<img src="/images/banners/1st-2nd-grade-summer-camp.jpg" class="responsive" alt="first and second grade summer camp" title="1st and 2nd grade summer camp" />
</div>


<h2 class="green text-center">Discover. Learn. Grow.</h2>

<h3 class="text-center">Summer Camps for kids entering First or Second Grade in Fall 2019</h3>

<a href="/summer-camp"><p class="text-center">Back to main Summer Camp page</p></a>

<p class="text-center"><strong>2019 Registration Opens: Monday, February 25 at 9AM for Garden Members / Wednesday, February 27 at 9AM to the General Public.</strong></p>

<p class="text-center"><strong>Check back soon for updated 2019 Summer Camp classes!</strong></p>

<!--<p class="text-center"><strong>Click the panels below for information about each camp.</strong></p>-->

<div class="panel-group" id="accordion01">

	<!-- Green Thumb Gardeners Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#green-thumb">
	  	<div class="panel-heading" style="background-color:#FBB040;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Green Thumb Gardeners</h4>
		        		<h6 class="text-center white">&nbsp;</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JUNE 3 - 7</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - NOON<br /></h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="green-thumb" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 3 - 7<br />Monday - Friday<br />9AM - NOON <br /></h5>
				</div>

			</div>

			<p>What does it take to be a great gardener? Learn the unique skills and knowledge you need to grow amazing flowers, fruits, and vegetables. Learn tips and tricks from the pros who work at RBG, and get hands-on experience as you work side-by-side with them in the Garden. Then, use what you've learned to plant a container garden to take home.</p>

			<center>
				<a href="/documents/180604-green-thumb-gardeners.pdf"><p>Click Here for Camp Overview.</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/1st2nd-Grade---Green-Thumb-Gardeners"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $124 <strong>Public:</strong> $155</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Green Thumb Gardeners End-->

	<!-- Sprouting Chefs Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#sprouting-chefs">
			<div class="panel-heading" style="background-color:#FCC779;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Sprouting Chefs</h4>
								<h6 class="text-center white">&nbsp;</h6>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">JUNE 10 - 14</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">1PM - 4PM<br /></h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="sprouting-chefs" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 10 - 14<br />Monday - Friday<br />1PM - 4PM <br /></h5>
				</div>

			</div>

			<p>Calling all chefs-in-training! Get ready to explore the Garden with your taste buds as you practice essential kitchen skills like chopping, mixing, blending, and more. In addition to making daily snacks like mango salsa, pineapple popsicles, and hummus, you’ll also harvest fresh ingredients from the Garden, decorate your own chef aprons, and compile a camp cookbook.</p>

			<center>
				<a href="/documents/180604-green-thumb-gardeners.pdf"><p>Click Here for Camp Overview.</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/1st2nd-Grade---Green-Thumb-Gardeners"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $124 <strong>Public:</strong> $155</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Sprouting Chefs End-->

	<!-- Fantastic Fairytales -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#fantasitic-fairytales">
	  	<div class="panel-heading" style="background-color:#FBB040;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Fantastic Fairytales</h4>
		        		<h6 class="text-center white">Partner Camp with Tanner Dance</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JUNE 10 - 14</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - 4PM</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="fantasitic-fairytales" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 10 - 14<br />Monday - Friday<br />9AM - NOON at RBG<br />1PM - 4PM at Tanner Dance</h5>
					</h5>
				</div>

			</div>
			<p class="bold italic text-center">Partner Camp with Tanner Dance</p>

			<p>Fee-fi-fo-fum, join us for a camp full of fairytale fun! Spend your mornings at Red Butte Garden exploring fairytales and their connection to the plants and animals of the natural world. In the afternoon travel to Tanner Dance where you'll interpret fairytales through dance and other art forms. End the week with a special performance at Tanner Dance to showcase all you've learned. Transportation between sites provided.</p>

      <p class="text-center red">Drop off at Red Butte Garden by 9AM and pick up at Tanner Dance by 4PM.</p>
			<center>
				<a href="/documents/180611-fantastic-Fairytales.pdf"><p>Click Here for Camp Overview.</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/1st2nd---Fantastic-Fairytales"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATIONS:</h5>
					<p class="text-center">Red Butte Garden / Tanner Dance: 1721 Campus Center Drive, SLC, UT 84112</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $252 <strong>Public:</strong> $315</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Fantastic Fairytales End-->

	<!-- Treasures in the Garden Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#treasures-in-the-garden">
			<div class="panel-heading" style="background-color:#FCC779;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Treasures In the Garden</h4>
								<h6 class="text-center white">Partner Camp with Wasatch Community Gardens</h6>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">JUNE 17 - 21</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">9AM - 4PM<br /></h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="treasures-in-the-garden" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 17 - 21<br />Monday - Friday<br />9AM - NOON at WCG<br />1PM - 4PM at RBG</h5>
				</div>

			</div>

			<p class="text-center bold italic">Partner Camp with Wasatch Community Gardens (WCG)</p>

			<p>Get ready for a week of adventure with Wasatch Community Gardens and Red Butte Garden! Spend your mornings at the WCG Grateful Tomato Garden learning how to grow healthy, organic food that is good for both your body and the environment as you explore composting, organic gardening, and more. In the afternoon, you’ll travel to Red Butte to learn skills like map-reading, orienteering, and navigation before searching the Garden for hidden treasure! Transportation between sites provided.</p>

			<p class="text-center red">Drop off at WCG by 9AM and pick up at Red Butte Garden by 4PM.</p>

			<center>
				<a href="/documents/062018-treasures-in-the-garden.pdf"><p>Click Here for Camp Overview</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/1st2nd---Treasures-in-the-Garden-18Jun2018"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATIONS:</h5>
					<p class="text-center">Wasatch Community Gardens Grateful Tomato Garden: 800 South 600 East, SLC, UT / Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $252 <strong>Public:</strong> $315</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Treasures in the Garden End-->

	<!-- Adventures in STEM Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#full-steam-ahead">
			<div class="panel-heading" style="background-color:#FBB040;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Adventures in STEM - NEW!</h4>
								<h6 class="text-center white">Partner Camp with Play-Well Teknologies</h6>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">JUNE 24 - 28</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">9AM - 4PM</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="full-steam-ahead" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 24 - 28<br />Monday - Friday<br />9AM - NOON at WCG<br />1PM - 4PM at RBG/h5>
				</div>

			</div>

			<p class="bold italic text-center">Partner Camp with Play-Well TEKnologies</p>

			<p>Spend your mornings at the Garden investigating the natural world as you create chalk rockets, build spaghetti towers, cook edible popcorn art, and more. In the afternoon, let your imagination run wild with tens of thousands of LEGO® parts! Build engineer- designed projects such as: Trains, Helicopters, Treehouses, and Beam Bridges. Design and build as never before, and explore your craziest ideas in a supportive environment. </p>

			<center>
				<a href="/documents/072018-full-steam-ahead.pdf"><p>Click Here for Camp Overview</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/1st2nd---Full-STEAM-Ahead-16Jul2018"> {% include register-button.html %} </a>
				<a href="/documents/discovery-gateway-summer-camp-waiver.pdf"><p>Additional Paperwork is needed for this Camp - CLICK HERE to print</p></a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $252 <strong>Public:</strong> $315</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Adventures in STEM End-->

	<!-- Plant Magic Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#plant-magic">
			<div class="panel-heading" style="background-color:#FCC779;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Plant Magic</h4>
								<h6 class="text-center white">Partner Camp with Wasatch Community Gardens</h6>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">JULY 8 - 12</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">9AM - 4PM</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="plant-magic" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JULY 8 - 12<br />Monday - Friday<br />9AM - 4PM</h5>
				</div>

			</div>

			<p class="text-center bold italic">Partner Camp with Wasatch Community Gardens (WCG)</p>

			<p>Explore the magic of plants with Wasatch Community Gardens and Red Butte Garden! Spend your mornings at the WCG Grateful Tomato Garden exploring the “supernatural” properties of plants as you create botanical potions and perform “magical” plant experiments. Spend your Afternoons at Red Butte Garden and discover the fairytale origins of plants and animals of the natural world as you plant magic beans, create larger-than-life mushrooms, learn to “magically” clone plants, and more.  Transportation between sites provided.</p>

			<p class="text-center red">Drop off at RBG by 9AM and pick up at Wasatch Community Gardens by 4PM.</p>

			<center>
				<a href="/documents/072018-plant-magic.pdf"><p>Click Here for Camp Overview</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/1st2nd---Plant-Magic-09Jul2018"> {% include register-button.html %}

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATIONS:</h5>
					<p class="text-center">Red Butte Garden / Wasatch Community Gardens Grateful Tomato Garden: 800 South 600 East, SLC, UT</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $252 <strong>Public:</strong> $315</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Plant Magic End-->

	<!-- Adventures in Art Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#adventures-in-art">
			<div class="panel-heading" style="background-color:#FBB040;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Adventures in Art</h4>
								<h6 class="text-center white">&nbsp;</h6>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">AUGUST 5 - 9</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">9AM - NOON</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="adventures-in-art" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> AUGUST 5 - 9<br />Monday - Friday<br />9AM - NOON</h5>
				</div>

			</div>

			<p>Ready for an artistic adventure? Explore the world of art this week at camp as you paint, draw, and sculpt your way across the Garden. In addition to learning the basics of line, shape, color, and texture, you’ll also create leaf line pictures, sculpt found object statues, paint with salt, and more. End the week with a gallery stroll to showcase all the incredible art you create during camp.</p>

			<center>
				<a href="/documents/082018-adventures-in-art-camp.pdf"><p>Click Here for Camp Overview.</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/1st2nd-Grade---Adventures-in-Art"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $124 <strong>Public:</strong> $155</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Adventures in Art End-->

	<!-- Mighty Makers Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#mighty-makers">
	  	<div class="panel-heading" style="background-color:#FCC779;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Mighty Makers </h4>
		        		<h6 class="text-center white">Partner Camp with Play-Well TEKnologies</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">AUGUST 5 - 9</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - 4PM</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="mighty-makers" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> AUGUST 5 - 9<br />Monday - Friday<br />9AM - 4PM</h5>
				</div>

			</div>

			<p class="text-center bold italic">Partner Camp with Play-Well TEKnologies</p>

			<p>Explore the connection between superheroes and the natural world this week with Play-Well TEKnologies and Red Butte Garden! Spend your mornings with RBG to learn skills and abilities from superheroes like Ironman, Wonder Woman, and Wolverine that mimic the real-life adaptations of plants and animals found in the Garden. In the afternoon, save the world with LEGO® Super Heroes! Build the hideouts and vehicles of your favorite caped crusaders and learn what makes them not only Super Heroes, but Super Hero Engineers! An experienced Play-Well instructor guides young heroes as they design, build, and save a city where ingenuity and imagination can solve any conflict.</p>

			<center>
				<a href="/documents/062018-mighty-makers.pdf"><p>Click Here for Camp Overview.</p></a>
				<a href="https://55218.blackbaudhosting.com/55218/1st2nd---Mighty-Makers"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $252 <strong>Public:</strong> $315</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Might Makers End-->

	<!-- Up Close with Insects Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#up-close-with-insects">
			<div class="panel-heading" style="background-color:#FBB040;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Up Close with Insects </h4>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">AUGUST 12 - 16</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">9AM - NOON</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="up-close-with-insects" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> First / Second</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 6 - 8</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> AUGUST 12 - 16<br />Monday - Friday<br />9AM - NOON</h5>
				</div>

			</div>

			<p>The Garden is alive with insects! Learn about these tiny creatures and how they help plants grow. Spend the week reading stories, creating insect-inspired art, and hiking through the Garden on bug hunts. What strange, cool, and downright bizarre discoveries will you make exploring the world of bugs?</p>

			<center>
				<a href="/documents/062018-mighty-makers.pdf"><p>Click Here for Camp Overview.</p></a>
				<a href="https://55218.blackbaudhosting.com/55218/1st2nd---Mighty-Makers"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $124 <strong>Public:</strong> $155</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Up Close with Insects End-->


</div>

<!--<p class="text-center red"><sup>*</sup> Short week due to Independence Day and Pioneer Day holidays.</p>-->
