---
title: "35 Days of Giving"
layout: "default"
---

<div class="row-fluid">
	<img src="/images/banners/35-days-of-giving.jpg" class="responsive" alt="35 Days of Giving Red Butte Garden" title="35 Days of Giving Red Butte Garden" />
</div>

<br />

 <p class="text-center bold">This year has been bittersweet for all of us, with the cancellation of beloved Garden programs—concerts, summer camps, workshops and family events. Programs that are not only responsible for the creation of opportunities to learn, connect, and grow, but also for the majority of Garden revenue.
 <br /> By donating today, you will bolster Red Butte Garden's ability to overcome the challenges presented by 2020.</p>

 <p class="text-center bold">Support the Garden and help provide quality educational programs, unique exhibitions, and help fund future research projects by our Conservation and Horticulture teams. Give back to the Garden and help us create a community that is enriched by living landscapes and connected to the natural world.
 </p>

<br />
<center>
	<a style="text-decoration:none; color:white; padding-left: 30px; padding-right: 30px; padding-top:10px; padding-bottom:10px; text-decoration:none; font-size: 25px; border: 2px solid #00502F; border-radius: 5px; Background-color:#00502F;" href="{% include give-link.html %}">Donate Now</a>
</center>
		<br />
<h4 class="text-center green">There are many ways to support Red Butte Garden.</h4>

<p class="text-center">Red Butte Garden celebrates its 35th anniversary this year. Check back for the next five weeks—35 days—for more stories about how we have grown.</p>

<br />

<p class="text-center"><iframe width="560px" height="315px" src="https://www.youtube.com/embed/WO6iQ41jzG4" frameborder="0" allowfullscreen></iframe></p>

<br />

<div class="row-fluid">

	<a href="https://www.redbuttegarden.org/week-one-35years/">

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

		<div class="eventwrapsmall hover">

			<img src="/images/misc/development/edu-donation-nokachu.jpg">

			<div class="eventinfo">
				<div class="eventname">Week One</div>
			</div>

		</div>

	</div>

	</a>

	<a href="#">

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

		<div class="eventwrapsmall hover">

			<img src="/images/misc/horticulture-donation.jpg">

			<div class="eventinfo">
				<div class="eventname">Check back for Week Two</div>
			</div>

		</div>

	</div>

	</a>

	<a href="#">

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

		<div class="eventwrapsmall hover">

			<img src="/images/misc/conservation-donation.jpg">

			<div class="eventinfo">
				<div class="eventname">Week Three Coming Soon</div>
			</div>

		</div>

	</div>

	</a>

	<a href="#">

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

		<div class="eventwrapsmall hover">

			<img src="/images/misc/planned-giving-donation.jpg">

			<div class="eventinfo">
				<div class="eventname">Week Four Coming Soon</div>
			</div>

		</div>

	</div>

	</a>

	<a href="#">

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

		<div class="eventwrapsmall hover">

			<img src="/images/misc/memorials-donation.jpg">

			<div class="eventinfo">
				<div class="eventname">Week Five Coming Soon</div>
			</div>

		</div>

	</div>

	</a>

</div>

<h4 class="green text-center">Set up a Recurring Gift</h4>

<p class="text-center"> Recurring gifts are an easy and efficient way to support your favorite Garden program or initiative. For as little as $5, you can provide a steady source of support for Red Butte Garden’s award-winning educational programs, springtime bulb display, or conservation research efforts. For more information on recurring gifts, click <a href="/recurring-info">here</a> here or call <a href="tel:8015813341">801-581-3341</a>.</p>

<br />

<h4 class="green text-center">Double the impact of your gift - see if your employer will match your donation!</h4>

<p class="text-center"> Many employers sponsor matching gift programs and will match any charitable contributions or volunteer hours made by their employees. Visit the University of Utah Office of Development’s <a href="https://umarket.utah.edu/ugive/matching.php">Matching Gift</a> website to see if your company offers a matching gift program or contact your employers’ Human Resources Department. <p>

	<br />

			<center>
				<a style="text-decoration:none; color:white; padding-left: 30px; padding-right: 30px; padding-top:10px; padding-bottom:10px; text-decoration:none; font-size: 25px; border: 2px solid #00502F; border-radius: 5px; Background-color:#00502F;" href="{% include give-link.html %}">Donate Now</a>
			</center>
			<br />
