---
title: "3rd &amp; 4th Grade Summer Camps"
layout: "default"
published: true
---

<div class="row-fluid">
	<img src="/images/banners/3rd-4th-grade-summer-camp.jpg" class="responsive" alt="Third &amp; Fourth Grade Summer Camps" title="Third &amp; Fourth Grade Summer Camps" />
</div>

<h2 class="green text-center">Discover. Learn. Grow.</h2>

<h3 class="text-center">Summer Camps for kids entering Third or Fourth Grade in Fall 2020</h3>

<a href="/summer-camp"><p class="text-center">Back to main Summer Camp page</p></a>

<p class="text-center"><strong>2020 Summer Camp registration will open on February 24 to Garden members and February 26 to the public.</strong></p>

<!--<p class="text-center"><strong>Check back in mid/late January for updated 2020 Summer Camp classes!</strong></p>-->

<p class="text-center"><strong>Click the panels below for information about each camp.</strong></p>

<div class="panel-group" id="accordion01">

	<!-- Garden Gurus Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#garden-gurus">
	  	<div class="panel-heading" style="background-color:#91CCED;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Garden Gurus</h4>
		        		<h6 class="text-center white">&nbsp;</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JUNE 1 - 5</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - NOON</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="garden-gurus" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 1 - 5<br />Monday - Friday<br />9AM - NOON</h5>
				</div>

			</div>

			<!--<p class="text-center italic"><a href="/summer-camp-scholarships">Scholarships Available - CLICK HERE</a></p>-->

			<p>Do you want to be a great gardener? Discover what it takes to grow fabulous plants as you learn tips and tricks from the professionals who work at RBG. Discover cool plants, learn about composting, investigate plant pests, and help professional horticulturists care for the Garden. End the week by planting a patio container garden container to take home. </p>			<!--<a href="/documents/170612-cooking-in-the-garden.pdf"><p class="text-center">Click Here for Camp Overview</p></a>-->

			<center>
				<a href="/documents/summer-camp-pre-emails/2019/3-4-garden-gurus.pdf"><p>Click Here for Camp Overview</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->
				<a href="https://55218.blackbaudhosting.com/55218/3rd4th---Garden-Gurus-03Jun2019"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $124 <strong>Public:</strong> $155</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Garden Gurus End-->

	<!-- Mythical Medieval Adventures Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#mythical-adventures">
	  	<div class="panel-heading" style="background-color:#63B7E6;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Mythical Medieval Adventures</h4>
		        		<h6 class="text-center white">Partner Camp with Tanner Dance</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JUNE 8 - 12</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - 4PM</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="mythical-adventures" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth </h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 8 - 12<br />Monday - Friday<br />9AM - NOON at RBG<br />1PM - 4PM at Tanner Dance</h5>
				</div>

			</div>

			<p class="bold italic text-center">Partner Camp with Tanner Dance</p>

			<p>Hear ye, hear ye! Join Tanner Dance and Red Butte Garden on a mythical medieval adventure! Spend your mornings at RBG learning about the fun, magical, mystical, and unusual traditions from the medieval era as you explore the different plants people used in their everyday lives. In the afternoon travel to Tanner Dance where you'll continue your mythical medieval explorations as you interpret myths, legends and more through dance and other art forms. End the week with a special performance at Tanner Dance to showcase all you've learned. Transportation between sites provided.</p>

			<p class="red text-center">Drop off at Red Butte Garden by 9AM and pick up at Tanner Dance by 4PM</p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2019/3-4-mythical-medieval-adventures.pdf"><p>Click Here for Camp Overview</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/3rd4th---Mythical-Medieval-Adventures-08Jun2020"> {% include register-button.html %} </a>
				<!--<p class="red">Registration for this camp is closed.</p>-->

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATIONS:</h5>
					<p class="text-center">Red Butte Garden / Tanner Dance: 1721 Campus Center Drive, SLC, UT 84112</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $252 <strong>Public:</strong> $315</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Mythical Medieval Adventures End-->

	<!-- Grow Your Own Adventure Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#grow-your-own-adventure">
	  	<div class="panel-heading" style="background-color:#91CCED;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Grow Your Own Adventure</h4>
		        		<h6 class="text-center white">Partner Camp with Wasatch Community Gardens</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JUNE 15 - 19</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - 4PM</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="grow-your-own-adventure" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 15 - 19<br />Monday - Friday<br />9AM - NOON at RBG<br />1PM - 4PM at WCG</h5>
				</div>

			</div>

			<p class="text-center italic bold">Partner Camp with Wasatch Community Gardens (WCG)</p>

			<p>Get ready for an all-day adventure! Spend your mornings at RBG learning skills like map-reading, orienteering, and navigation before searching the Garden for hidden treasure. In the afternoon you’ll travel to the WCG Grateful Tomato Garden to learn to grow healthy, organic food that is good for both your body and the environment as you explore composting, organic gardening, and more. Transportation between sites provided.</p>

			<p class="red text-center">Drop off at Red Butte Garden by 9AM and pick up at WCG Grateful Tomato Garden by 4PM</p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2019/3-4-grow-your-own-adventure.pdf"><p>Click Here for Camp Overview</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->

				<a href= "https://55218.blackbaudhosting.com/55218/3rd4th---Grow-Your-Own-Adventure-15Jun2020"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATIONS:</h5>
					<p class="text-center">Red Butte Garden / Wasatch Community Gardens Grateful Tomato Garden: 600 East 769 South, SLC, UT</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $252 <strong>Public:</strong> $315</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Grow Your Own Adventure End-->

	<!-- STEAM Explorers Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#steam-explorer">
	  	<div class="panel-heading" style="background-color:#63B7E6;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Steam Explorers</h4>
		        		<h6 class="text-center white">Partner Camp with Discovery Gateway Children's Museum</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JUNE 15 - 19</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - 4PM</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="steam-explorer" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third - Fourth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 12</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 15 - 19<br />Monday - Friday<br />9AM - NOON at RBG<br />1PM - 4PM at Discovery Gateway<br /></h5>
				</div>

			</div>

			<p class="text-center italic bold">Partner Camp with Discovery Gateway Children's Museum</p>

			<p>Explore S.T.E.A.M. (science, technology, engineering, art, and math) with Discovery Gateway Children’s Museum and Red Butte Garden! Spend your mornings at RBG investigating STEAM in the natural world as you create parachutes for action figures, craft rafts out of recyclable materials, cook edible popcorn art, and more. In the afternoon, you’ll travel to Discovery Gateway to continue your STEAM explorations with experiments in the STEAM Lab, art in The Learning Center, and excursions throughout the museum. Don’t miss out on this all-day adventure! Transportation provided.</p>

			<p class="red text-center">Drop off at Red Butte Garden by 9AM and pick up at Discovery Gateway by 4PM</p>

			<center>
			<a href="/documents/summer-camp-pre-emails/2020/3-4-steam-explorers.pdf"><p>Click Here for Camp Overview.</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->

				<a href="https://55218.blackbaudhosting.com/55218/3rd4th---STEAM-Explorers-15Jun2020"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
				</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATIONS:</h5>
					<p class="text-center">Red Butte Garden / Disovery Gateway Children's Museum: 444 West 100 South, SLC, UT 84101</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Members:</strong> $252 <strong>Public:</strong> $315</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Steam Explorers End-->

	<!--CooKing Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#cooking">
	  	<div class="panel-heading" style="background-color:#91CCED;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Cooking in the Garden</h4>
		        		<!--<h6 class="text-center white">#</h6>-->
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JUNE 22 - 26</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - Noon</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="cooking" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 22 - 26<br />Monday - Friday<br />9AM - NOON</h5>
				</div>

			</div>

			<p>Food lovers, unite! Get ready to explore the Garden with your taste buds as you practice essential kitchen skills like chopping, mixing, blending, and more. In addition to making daily snacks like Thai spring rolls, quesadillas, curry butter, and hummus, you’ll also harvest fresh ingredients from the Garden, decorate your own chef apron, and compile a camp cookbook.</p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2020/3-4-cooking-in-the-garden.pdf"><p>Click Here for Camp Overview</p></a>

				<p class="red">Registration for this camp is closed.</p>

				<a href= "https://55218.blackbaudhosting.com/55218/3rd4th---Cooking-in-the-Garden-22Jun2020"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $124 <strong>Public:</strong> $155</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Cooking End-->

	<!--Botanical Potions Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#botanical-potions">
			<div class="panel-heading" style="background-color:#63B7E6;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Botanical Potions, Lotions &amp; Charms</h4>
								<h6 class="text-center white">This is a four-day camp</h6>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">JUNE 29 - JULY 2</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">9AM - NOON</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="botanical-potions" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 29 - JULY 2<br />Monday - Thursday<br />9AM - Noon</h5>
				</div>

			</div>

			<!--<p class="text-center italic"><a href="/summer-camp-scholarships">Scholarships Available - CLICK HERE</a></p>-->

			<p>Did you know plants have “magical” properties? Explore the plant kingdom and discover the unique uses of several common (and not-so-common!) plants. From healing to textiles, you’ll investigate how people use plants around the world, and then create your own bevy of botanical potions, lotions, and charms like organic lip balm, insect repellant, beeswax candles, and more. </p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2020/3-4-botanical-potions-lotions.pdf"><p>Click Here for Camp Overview</p></a>

			<!--<p class="red">Registration for this camp is closed.</p>-->

				<a href="https://55218.blackbaudhosting.com/55218/3rd4th---Botanical-Potions-Lotions--Charms-29Jun2020"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $100 <strong>Public:</strong> $125</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Botanical Potions End-->

	<!-- Tiny Worlds Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#tiny-worlds">
	  	<div class="panel-heading" style="background-color:#91CCED;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Tiny Worlds</h4>
		        		<h6 class="text-center white">This is a four-day camp</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JUNE 29 - JULY 2</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">1 - 4PM</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="tiny-worlds" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 29 - JULY 2 <br />Monday - Thursday<br />1 - 4PM</h5>
				</div>

			</div>

			<p>The natural world is filled with magic, and you’ll learn all about it this week at camp. Each day you’ll explore a new mythological creature and discover the magical role it plays in helping the environment. Later, use what you’ve learned to create the perfect home for these magical creatures by combining basic garden design principles with small-scale plants and handcrafted accessories. At the end of the week you’ll have your own tiny world terrarium to take home.</p>

			<center>
				<!--<a href="/documents/summer-camp-pre-emails/2019/3-4-plant-superheros.pdf"><p>Click Here for Camp Overview</p></a>-->

				<!--<p class="red">Registration for this camp is closed.</p>-->

			  <a href="https://55218.blackbaudhosting.com/55218/3rd4th---Tiny-Worlds-29Jun2020"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $100 <strong>Public:</strong> $125</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Tiny Worlds End-->

	<!-- Natures Mythos Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#nature-mythos">
	  	<div class="panel-heading" style="background-color:#63B7E6;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Nature's Magical Mythos</h4>
		        		<h6 class="text-center white">Partner Camp with Wasatch Community Gardens</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JULY 6 - 10</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - 4PM</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="nature-mythos" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JULY 6 - 10<br />Monday - Friday<br />9AM - NOON at RBG<br />1PM - 4PM at WCG</h5>
				</div>

			</div>

			<p class="text-center italic bold">Partner Camp with Wasatch Community Gardens (WCG)</p>

			<p>Explore the magic of nature with WCG and Red Butte Garden! Spend your mornings at Red Butte Garden discovering the mythical origins of everyday things found in the natural world like honeybees, and birds as you create pinecone weather stations, concoct organic weed killer, build DIY birdfeeders, and more. In the afternoon, travel to the WCG Gratefull Tomato Garden to explore the “supernatural” properties of plants as you create botanical potions and perform “magical” plant experiments. Transportation between sites provided.</p>

			<p class="red text-center">Drop off at Red Butte Garden by 9AM and pick up at WCG by 4PM</p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2019/3-4-nature-magical-mythos.pdf"><p>Click Here for Camp Overview</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->

				<a href= "https://55218.blackbaudhosting.com/55218/3rd4th---Natures-Magical-Mythos-06Jul2020-2"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATIONS:</h5>
					<p class="text-center">Red Butte Garden / Wasatch Community Gardens Grateful Tomato Garden: 600 East 800 South, SLC, UT</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $252 <strong>Public:</strong> $315</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Natures Mythos End-->

	<!-- Bug Builders Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#bug-builders">
			<div class="panel-heading" style="background-color:#91CCED;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Bug Builders</h4>
								<h6 class="text-center white">Partner Camp with Play-Well TEKnologies</h6>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">JULY 13 - 17</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">9AM - 4PM</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="bug-builders" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JULY 13 - 17<br />Monday - Friday<br />9AM - 4PM</h5>
				</div>

			</div>

			<!--<p class="text-center italic"><a href="/summer-camp-scholarships">Scholarships Available - CLICK HERE</a></p>-->

			<p class="bold italic text-center">Partner Camp with Play-Well TEKnologies</p>

			<p>Bug lovers unite! Discover the Garden’s tiniest inhabitants as you explore the world of bugs. In the morning build and program robots in this introductory Robotics class using the LEGO® WeDo® system. Learn basic programming skills, simple engineering concepts, and the names of robot components all while working in small groups to complete projects using tilt and motion sensors. In the afternoons, you’ll learn about life cycles, social insects, water bugs, and more as you hike the Garden trails, create bug-related crafts, and conduct cool experiments. By the end of the week, you’ll be an amateur bug expert!</p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2019/3-4-bug-builders.pdf"><p>Click Here for Camp Overview</p></a>

			<!--<p class="red">Registration for this camp is closed.</p>-->

				<a href="https://55218.blackbaudhosting.com/55218/3rd4th---Bug-Builders-13Jul2020"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $252 <strong>Public:</strong> $315</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Bug Builders End-->

	<!-- Adaptation Investigation Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#adaptations">
	  	<div class="panel-heading" style="background-color:#63B7E6;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Adaptation Investigation</h4>
		        		<h6 class="text-center white">This is a four-day camp</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JULY 20 - 23</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - NOON</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="adaptations" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JULY 20-23 <br />Monday - Thursday<br />9AM - NOON</h5>
				</div>

			</div>

			<p>Discover the crazy adaptations of the plant kingdom! Each day we will explore the Garden to learn about tough environments and how plants have adapted to survive them. Through investigations, crafts and games we will discover how plants protect themselves from danger, adapt to extreme environments, reproduce and more!</p>

			<center>
				<!--<a href="/documents/summer-camp-pre-emails/2019/3-4-plant-superheros.pdf"><p>Click Here for Camp Overview</p></a>-->

				<!--<p class="red">Registration for this camp is closed.</p>-->

			 <a href="https://55218.blackbaudhosting.com/55218/3rd4th---Adaptation-Investigation"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $100 <strong>Public:</strong> $125</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Adaptation Investigation End-->

	<!-- Totally Trees Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#totally-trees">
			<div class="panel-heading" style="background-color:#91CCED;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Totally Trees</h4>
								<h6 class="text-center white">This is a four-day camp</h6>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">JULY 20 - 23</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">1 - 4PM</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="totally-trees" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JULY 20 - 23 <br />Monday - Thursday<br />1 - 4PM</h5>
				</div>

			</div>

			<p>What do rubber, chocolate, and charcoal all have in common? They all come from trees! Investigate the largest residents of Red Butte Garden as you explore the world of trees using STEAM (science, technology, engineering, art, and math). By week’s end you’ll find trees are not only beautiful, but they’re also quite useful and fun!</p>

			<center>
			  <a href="/documents/summer-camp-pre-emails/2020/3-4-totally-trees.pdf"><p>Click Here for Camp Overview</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->

				<a href="https://55218.blackbaudhosting.com/55218/3rd4th---Totally-Trees"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $100 <strong>Public:</strong> $125</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Totally Trees End-->

	<!-- Science Chefs Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#science-chefs">
	  	<div class="panel-heading" style="background-color:#63B7E6;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Science Chefs</h4>
		        		<!--<h6 class="text-center white">#</h6>-->
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">AUGUST 3 - 7</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - NOON</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="science-chefs" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> AUGUST 3 - 7<br />Monday - Friday<br />9AM - NOON</h5>
				</div>

			</div>

			<!--<p class="text-center italic"><a href="/summer-camp-scholarships">Scholarships Available - CLICK HERE</a></p>-->

			<p>Become a culinary scientist this week at camp as you discover the science of cooking. Spend the week practicing essential kitchen skills like chopping, mixing, and blending, as you learn why onions make you cry, how bread rises, why fruit browns, and more. You’ll also harvest fresh ingredients from the Garden, decorate a chef’s apron, and compile a camp cookbook.</p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2020/3-4-science-chefs.pdf"><p>Click Here for Camp Overview</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->

				<a href="https://55218.blackbaudhosting.com/55218/3rd4th---Science-Chefs-03Aug2020"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
		</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $124 <strong>Public:</strong> $155</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Science Chefs End-->

	<!-- Plants Around the World Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#plant-world">
	  	<div class="panel-heading" style="background-color:#91CCED;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Plants Around the World</h4>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">AUGUST 3 - 7</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">1 - 4PM</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="plant-world" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> AUGUST 3 - 7<br />Monday - Friday<br />1 - 4PM</h5>
				</div>

			</div>

			<!--<p class="text-center italic"><a href="/summer-camp-scholarships">Scholarships Available - CLICK HERE</a></p>-->

			<p>Although the Garden is located in Utah, it’s home to plants from around the world. Go on a globetrotting adventure this week at camp as you explore the traditions, games, foods, and plants of different countries from around the world. With stops in India, Japan, Kenya and more, you’re in for a world of fun! .</p>

			<center>
			  <a href="/documents/summer-camp-pre-emails/2020/3-4-plants-aound-the-world.pdf"><p>Click Here for Camp Overview</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->

				<a href="https://55218.blackbaudhosting.com/55218/3rd4th---Plants-Around-the-World-03Aug2020"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
		</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $124 <strong>Public:</strong> $155</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Plants Around the World End-->

	<!-- Shinrin-Yoku Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#shinrin-yoku">
	  	<div class="panel-heading" style="background-color:#63B7E6;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Shinrin-Yoku</h4>
		        		<h6 class="text-center white">Parnter Camp with Kidding Around Yoga</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">AUGUST 10 - 14</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - NOON</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="shinrin-yoku" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> AUGUST 10 - 14<br />Monday - Friday<br />9AM - NOON</h5>
				</div>

			</div>

			<!--<p class="text-center italic"><a href="/summer-camp-scholarships">Scholarships Available - CLICK HERE</a></p>-->

			<p class="text-center italic bold">Partner Camp with Kidding Around Yoga </p>

			<p>Shinrin-yoku means “to take in the forest atmosphere” or “forest bathing.” Come join us on this nature-loving adventure in the Garden! We will be taught classes from Kidding Around Yoga with Sarah Bly. Sarah is a certified kids yoga teacher and will be doing all kinds of breathing techniques, yoga poses, games and more.  The rest of camp you will explore the Garden through hikes, crafts, games, and more. By the end of the week, not only will you have a greater appreciation of nature and the world around us, but you’ll also finish camp more relaxed and at one with the universe. Namaste.</p>

			<center>
				<a href="/documents/summer-camp-pre-emails/2019/3-4-shrinrin-yoku.pdf"><p>Click Here for Camp Overview</p></a>

				<!--<p class="red">Registration for this camp is closed.</p>-->

				<a href="https://55218.blackbaudhosting.com/55218/3rd4th---Shinrin-Yoku-10Aug2020"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
		</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $168 <strong>Public:</strong> $210</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
				<p class="text-center bold">801-581-8454 (RBG) or <a href="mailto:sarahbly@kiddingaroundyoga.com"> Sarah Bly (instructor)</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Shinrin Yoku End-->


</div>

<!--<p class="text-center red"><sup>*</sup> Short week due to Independence Day and Pioneer Day holidays.</p>-->
