---
title: "3rd &amp; 4th Grade Summer Camps"
layout: "default"
published: true
---

<div class="eventdivide">
	<hr>
		<div class="grid-header">THIRD &amp; FOURTH GRADE SUMMER CAMPS</div>
	<hr>
</div>

<h2 class="green text-center">Discover. Learn. Grow.</h2>

<h3 class="text-center">Summer Camps for kids entering Third or Fourth Grade in Fall 2018</h3>

<a href="/summer-camp"><p class="text-center">Back to main Summer Camp page</p></a>

<p class="text-center"><strong>Registration Opens: Monday, February 26 at 9AM for Garden Members / Wednesday, February 28 at 9AM to the General Public.</strong></p>

<p class="text-center"><strong>Click the panels below for information about each camp.</strong></p>

<div class="panel-group" id="accordion01">

	<!-- Garden Gurus Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#garden-gurus">
	  	<div class="panel-heading" style="background-color:#91CCED;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Garden Gurus</h4>
		        		<h6 class="text-center white">&nbsp;</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JUNE 4 - 8</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - NOON</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="garden-gurus" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 4 - 8<br />Monday - Friday<br />9AM - NOON</h5>
				</div>

			</div>

			<!--<p class="text-center italic"><a href="/summer-camp-scholarships">Scholarships Available - CLICK HERE</a></p>-->

			<p>Do you want to be a great gardener? Discover what it takes to grow fabulous plants as you learn tips and tricks from the professionals who work at RBG. Discover cool plants, learn about composting, investigate plant pests, and help professional horticulturists care for the Garden. End the week by planting a patio container garden container to take home. </p>			<!--<a href="/documents/170612-cooking-in-the-garden.pdf"><p class="text-center">Click Here for Camp Overview</p></a>-->

			<center>
				<a href="/documents/062018-garden-gurus.pdf"><p>Click Here for Camp Overview</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/3rd4th---Garden-Gurus"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $120 <strong>Public:</strong> $150</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Garden Gurus End-->

	<!-- Mythical Medieval Adventures Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#mythical-adventures">
	  	<div class="panel-heading" style="background-color:#63B7E6;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Mythical Medieval Adventures</h4>
		        		<h6 class="text-center white">Partner Camp with Tanner Dance</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JUNE 11 - 15</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - 4PM</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="mythical-adventures" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth </h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 11 - 15<br />Monday - Friday<br />9AM - NOON at RBG<br />1PM - 4PM at Tanner Dance</h5>
				</div>

			</div>

			<p class="bold italic text-center">Partner Camp with Tanner Dance</p>

			<p>Hear ye, hear ye! Join Tanner Dance and Red Butte Garden on a mythical medieval adventure! Spend your mornings at RBG learning about the fun, magical, mystical, and unusual traditions from the medieval era as you explore the different plants people used in their everyday lives. In the afternoon travel to Tanner Dance where you'll continue your mythical medieval explorations as you interpret myths, legends and more through dance and other art forms. End the week with a special performance at Tanner Dance to showcase all you've learned. Transportation between sites provided.</p>

			<p class="red text-center">Drop off at Red Butte Garden by 9AM and pick up at Tanner Dance by 4PM</p>

			<center>
				<a href="/documents/180611-mythical-medieval-adventure.pdf"><p>Click Here for Camp Overview</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/3rd4th---Mythical-Medieval-Adventures"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden / Tanner Dance: 1721 Campus Center Drive, SLC, UT 84112</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $250 <strong>Public:</strong> $300</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Mythical Medieval Adventures End-->

	<!-- Grow Your Own Adventure Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#grow-your-own-adventure">
	  	<div class="panel-heading" style="background-color:#91CCED;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Grow Your Own Adventure</h4>
		        		<h6 class="text-center white">Partner Camp with Wasatch Community Gardens</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JUNE 18 - 22</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - 4PM</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="grow-your-own-adventure" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 18 - 22<br />Monday - Friday<br />9AM - NOON at RBG<br />1PM - 4PM at WCG</h5>
				</div>

			</div>

			<p class="text-center italic bold">Partner Camp with Wasatch Community Gardens (WCG)</p>

			<p>Get ready for an all-day adventure! Spend your mornings at RBG learning skills like map-reading, orienteering, and navigation before searching the Garden for hidden treasure. In the afternoon you’ll travel to WCG to learn to grow healthy, organic food that is good for both your body and the environment as you explore composting, organic gardening, and more. Transportation between sites provided.</p>

			<p class="red text-center">Drop off at Red Butte Garden by 9AM and pick up at WCG by 4PM</p>

			<center>
				<a href="/documents/062018-grow-your-own-adventure.pdf"><p>Click Here for Camp Overview</p></a>

				<a href= "https://55218.blackbaudhosting.com/55218/3rd4th---Grow-Your-Own-Adventure-18Jun2018"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden / Wasatch Community Gardens Grateful Tomato Garden: 600 East 769 South, SLC, UT</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $250 <strong>Public:</strong> $300</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Grow Your Own Adventure End-->

	<!-- Theatre in the Garden Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#nature-explorers">
			<div class="panel-heading" style="background-color:#63B7E6;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Theater in the Garden </h4>
								<!--<h6 class="text-center white">Partner camp with #</h6>-->
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">JUNE 25 - 29</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">9AM - 4PM</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="nature-explorers" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth (with 5th/6th Grade)</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 25 - 29<br />Monday - Friday<br />9AM - 4PM <br /></h5>
				</div>

			</div>

			<p>Calling all actors and actresses! Spend the week exploring drama, dance, visual arts, and more in this theater camp. Throughout the week, you'll learn to act from a drama teacher, create props and backdrops with a stagecraft instructor, and hone your skills with your fellow thespians.  You’ll end the week teaming up with your 5th and 6th grade friends for a live performance of a special play in the Garden showcasing all you've learned.</p>

			<center>
				<a href="/documents/062018-theater-in-the-garden-3-6.pdf"><p>Click Here for Camp Overview.</p></a>
				<a href="https://55218.blackbaudhosting.com/55218/3rd4th---Theater-in-the-Garden-25Jun2018"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
				</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Members:</strong> $240 <strong>Public:</strong> $300</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Theater in the Garden End-->

	<!--Nature's Magical Mythos Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#nature-mythos">
	  	<div class="panel-heading" style="background-color:#91CCED;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Nature's Magical Mythos</h4>
		        		<h6 class="text-center white">Partner Camp with Wasatch Community Gardens</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JULY 9 - 13</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - 4PM</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="nature-mythos" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JULY 9 - 13<br />Monday - Friday<br />9AM - NOON at RBG<br />1PM - 4PM at WCG</h5>
				</div>

			</div>

			<p class="text-center italic bold">Partner Camp with Wasatch Community Gardens (WCG)</p>

			<p>Explore the magic of nature with WCG and Red Butte Garden! Spend your mornings at WCG to explore the “supernatural” properties of plants as you create botanical potions and perform “magical” plant experiments. In the afternoon, you’ll travel to RBG discovering the mythical origins of common things found in the natural world like honeybees, purple asters, and birds as you create pinecone weather stations, concoct organic weed killer, build DIY birdfeeders, and more. Transportation between sites provided.</p>

			<p class="red text-center">Drop off at WCG by 9AM and pick up at Red Butte Garden by 4PM</p>

			<center>
				<a href="/documents/072018-natures-magical-mythos.pdf"><p>Click Here for Camp Overview</p></a>

				<a href= "https://55218.blackbaudhosting.com/55218/3rd4th---Natures-Magical-Mythos"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden / Wasatch Community Gardens Grateful Tomato Garden: 600 East 800 South, SLC, UT</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $250 <strong>Public:</strong> $300</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Nature's Magical Mythos End-->

	<!-- STEAM Explorers Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#steam-explorers">
	  	<div class="panel-heading" style="background-color:#63B7E6;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">STEAM Explorers</h4>
		        		<h6 class="text-center white">Partner Camp with Discovery Gateway Children's Museum</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JULY 16 - 20</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - 4PM</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="steam-explorers" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JULY 16 - 20<br />Monday - Friday<br />9AM - 4PM</h5>
				</div>

			</div>

			<p class="text-center italic bold">Partner Camp with Discovery Gateway Children's Museum</p>

			<p>Explore STEAM (science, technology, engineering, art, and math) with Discovery Gateway Children’s Museum and Red Butte Garden! Spend your mornings at RBG investigating STEAM in the natural world as you create parachutes for action figures, craft rafts out of recyclable materials to cross the creek, cook edible popcorn art, and more. In the afternoon, you’ll travel to Discovery Gateway to continue your STEAM explorations with experiments in the STEAM Lab, art in the Artspace for Kids Gallery, and excursions throughout the museum. Don’t miss out on this all-day adventure! Transportation between sites provided.</p>

			<p class="red text-center">Drop off at Red Butte Garden by 9AM and pick up at Discovery Gateway by 4PM</p>

			<center>
				<a href="/documents/072018-steam-explorers.pdf"><p>Click Here for Camp Overview</p></a>

			  <a href="https://55218.blackbaudhosting.com/55218/3rd4th---STEAM-Explorers-16Jul2018"> {% include register-button.html %} </a>
				<p class="text-center bold"><a href="/documents/discovery-gateway-summer-camp-waiver.pdf">Additional Paperwork is needed for this Camp Click Here to print.</a></p>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden / Discovery Gateway: 444 West 100 South, SLC, UT 84101</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $250 <strong>Public:</strong> $300</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- STEAM Explorers End-->

	<!--Bug Builders Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#bug-builders">
	  	<div class="panel-heading" style="background-color:#91CCED;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Bug Builders - NEW!</h4>
		        		<h6 class="text-center white">Partner Camp with Play-Well TEKnologies</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">AUGUST 6 - 10</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - 4PM</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="bug-builders" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> AUGUST 6 - 10<br />Monday - Friday<br />9AM - 4PM</h5>
				</div>

			</div>

			<!--<p class="text-center italic"><a href="/summer-camp-scholarships">Scholarships Available - CLICK HERE</a></p>-->

      <p class="bold italic text-center">Partner Camp with Play-Well TEKnologies</p>

			<p>Bug lovers unite! Discover the Garden's tiniest inhabitants as you explore the world of bugs. Mornings will be spent building entomological LEGO&reg; brick creations with the experts from Play-Well TEKnologies.  In the afternoons, you will learn about life cycles, social insects, water bugs, and more as you hike the Garden trails, create bug-related crafts, and conduct cool experiments. By the end of the week, you'll be an amateur bug expert!</p>

			<center>
				<a href="/documents/180806-bug-builders.pdf"><p>Click Here for Camp Overview</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/3rd4th---Bug-Builders"> {% include register-button.html %} </a>


				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $250 <strong>Public:</strong> $300</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Bug Builders End-->

	<!-- Science Chefs Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#science-chefs">
	  	<div class="panel-heading" style="background-color:#63B7E6;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Science Chefs</h4>
		        		<h6 class="text-center white">&nbsp;</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">AUGUST 13 - 17</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - NOON</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="science-chefs" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Third / Fourth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 8 - 10</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> AUGUST 13 - 17<br />Monday - Friday<br />9AM - NOON</h5>
				</div>

			</div>

			<!--<p class="text-center italic"><a href="/summer-camp-scholarships">Scholarships Available - CLICK HERE</a></p>-->

			<p>Become a culinary scientist this week at camp as you discover the science of cooking. In addition to practicing essential kitchen skills like chopping, mixing, and blending, you’ll also discover why onions make you cry, how bread rises, why fruit browns, and more. Throughout the week you’ll also harvest fresh ingredients from the Garden, decorate your own chef apron, and compile a camp cookbook.</p>

			<center>
				<a href="/documents/180813-science-chefs.pdf"><p>Click Here for Camp Overview</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/3rd4th---Science-Chefs-13Aug2018"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
		</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $120 <strong>Public:</strong> $150</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Science Chefs End-->

</div>

<!--<p class="text-center red"><sup>*</sup> Short week due to Independence Day and Pioneer Day holidays.</p>-->
