---
title: 5th &amp; 6th Grade Summer Camps
layout: default
---

<div class="row-fluid">
	<img src="/images/banners/5th-6th-grade-summer-camp.jpg" class="responsive" alt="Fifth &amp; Sixth Grade Summer Camps" title="Fifth &amp; Sixth Grade Summer Camps" />
</div>

<h2 class="green text-center">Discover. Learn. Grow.</h2>

<h3 class="text-center">Summer Camps for kids entering Fifth or Sixth Grade in Fall 2019</h3>

<a href="/summer-camp"><p class="text-center">Back to main Summer Camp page</p></a>

<p class="text-center"><strong>Check back soon for updated 2019 Summer Camp classes!</strong></p>

<!--<p class="text-center"><strong>Click the panels below for information about each camp.</strong></p>-->

<div class="panel-group" id="accordion01">

	<!-- Junior Horticulturists Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#junior-horticulturists">
	  	<div class="panel-heading" style="background-color:#CDE283;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Junior Horticulturists</h4>
		        		<h6 class="text-center white">&nbsp;</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JUNE 3 - 7</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - NOON</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="junior-horticulturists" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Fifth / Sixth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 10 - 12</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 3 - 7<br />Monday - Friday<br />9AM - NOON</h5>
				</div>

			</div>

			<!--<p class="text-center italic"><a href="/summer-camp-scholarships">Scholarships Available - CLICK HERE</a></p>-->

			<p>What does it take to be a great gardener? Learn the tricks of the trade as you study plants, garden design, pest management, and more. Then explore the Red Butte Garden's greenhouses and meet professional horticulturists, all while learning tips and tricks to help grow incredible plants. End the week by planting a container garden to take home. </p>

			<center>
				<a href="/documents/072018-jr-horticulturists.pdf"><p>Click Here for Camp Overview</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/5th6th---Junior-Horticulturists"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $124 <strong>Public:</strong> $155</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Junior Horticulturists End-->

	<!-- Myths and Legends Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#myths-legends">
	  	<div class="panel-heading" style="background-color:#B8D64F;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Myths &amp; Legends</h4>
		        		<h6 class="text-center white">Partner Camp with Tanner Dance</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JUNE 10 - 14</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - 4PM</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="myths-legends" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Fifth / Sixth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 10 - 12</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 10 - 14<br />Monday - Friday<br />9AM - NOON at RBG<br />1PM - 4PM at Tanner Dance</h5>
				</div>

			</div>

			<p class="bold italic text-center">Partner Camp with Tanner Dance</p>

			<p>From Bigfoot to Zeus, explore myths and legends from around the world with Tanner Dance and Red Butte Garden. Spend mornings at the Garden discovering the plants and animals featured in popular mythology. Spend afternoons at Tanner Dance learning about myths and legends through dance, drama, and other art forms. End the week with a special performance at Tanner Dance showcasing all you’ve learned. Transportation between sites provided.</p>

			<p class="red text-center">Drop off at Red Butte Garden by 9AM and pick up at Tanner Dance by 4PM.</p>

			<center>
				<a href="/documents/062018-myths-and-legends.pdf"><p>Click Here for Camp Overview</p></a>

				<!--<p class="text-center red">Registration for this camp is closed.</p>-->

				<a href="https://55218.blackbaudhosting.com/55218/5th6th---Myths--Legends"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATIONS:</h5>
					<p class="text-center">Red Butte Garden / Tanner Dance: 1721 Campus Center Drive, SLC, UT 84112</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $252 <strong>Public:</strong> $315</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Myths and Legends End-->

	<!-- Tiny Spaces Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#tiny-spaces">
			<div class="panel-heading" style="background-color:#CDE283;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Tiny Spaces - NEW! </h4>
								<!--<h6 class="text-center white">Partner camp with #</h6>-->
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">JUNE 17 - 21</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">9AM - NOON</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="tiny-spaces" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Fifth / Sixth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 10 - 12</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 17 - 21<br />Monday - Friday<br />9AM - NOON<br /></h5>
				</div>

			</div>

			<p>Explore the ins and outs of landscape design this week at camp using STEAM. Using Red Butte Garden as inspiration, you’ll create your own dream garden in miniature form. Learn how to combine plants, pathways, decorations and more to create a successful garden. Then recreate your dream plan in miniature form using decorations handmade by you! Each camper will take home a miniature garden at the end of the week.</p>

			<center>
				<a href="/documents/062018-theater-in-the-garden-3-6.pdf"><p>Click Here for Camp Overview.</p></a>

				<!--<p class="text-center red">Registration for this camp is closed.</p>-->

				<a href="https://55218.blackbaudhosting.com/55218/5th6th---Theater-in-the-Garden-25Jun2018"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
				</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Members:</strong> $124 <strong>Public:</strong> $155</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Tiny Spaces End-->

	<!-- Garden Chefs Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#garden-chefs">
	  	<div class="panel-heading" style="background-color:#B8D64F;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Garden Chefs</h4>
		        		<h6 class="text-center white">&nbsp;</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JUNE 17 - 21</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">1PM - 4PM</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="garden-chefs" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Fifth / Sixth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 10 - 12</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 17 - 21<br />Monday - Friday<br />1PM - 4PM</h5>
				</div>

			</div>

			<!--<p class="text-center italic"><a href="/summer-camp-scholarships">Scholarships Available - CLICK HERE</a></p>-->

			<p>Calling all chefs! Get ready to explore the Garden with your taste buds as you practice essential kitchen skills like chopping, mixing, blending, and more. In addition to making daily snacks like corn salsa, cheddar cheese popcorn, pineapple jam, and hummus, you’ll also harvest fresh ingredients from the Garden and compile a camp cookbook.</p>

			<center>
				<a href="/documents/072018-garden-chefs-camp.pdf"><p>Click Here for Camp Overview</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/5th6th---Garden-Chefs-09Jul2018"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $124, <strong>Public:</strong> $155</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Garden Chefs End-->

	<!-- I Will Survive Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#i-will-survive">
	  	<div class="panel-heading" style="background-color:#CDE283;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">I Will Survive</h4>
		        		<h6 class="text-center white">&nbsp;</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">JUNE 8 - 12</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - NOON</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="i-will-survive" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Fifth / Sixth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 10 - 12</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 8 - 12<br />Monday - Friday<br />9AM - Noon<br /></h5>
				</div>

			</div>

			<!--<p class="text-center italic"><a href="/summer-camp-scholarships">Scholarships Available - CLICK HERE</a></p>-->

			<p>Get ready for an outdoor adventure! Spend your week learning to survive in the wild as you explore the basics of navigation, make a collection of safe and useful plants, discover how to make a shelter, and other useful survival skills. On the last day of camp, use your new skills to race through an obstacle course in the ultimate survival challenge!</p>

			<center>
				<a href="/documents/082018-i-will-survive.pdf"><p>Click Here for Camp Overview</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/5th6th---I-Will-Survive-13Aug2018"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $124, <strong>Public:</strong> $155</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- I Will Survive End-->

	<!-- Garden Magicians Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#garden-magicians">
			<div class="panel-heading" style="background-color:#B8D64F;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Garden Magicians - NEW!</h4>
								<h6 class="text-center white">&nbsp;</h6>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">JULY 8 - 12</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">1PM - 4PM</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="garden-magicians" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Fifth / Sixth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 10 - 12</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JULY 8 - 12<br />Monday - Friday<br />1PM - 4PM</h5>
				</div>

			</div>

			<!--<p class="text-center italic"><a href="/summer-camp-scholarships">Scholarships Available - CLICK HERE</a></p>-->

			<p>From plants that don’t like to be tickled and seed pods that explode to plant parasites that smell their prey, nature is full of magic! Discover the magic hidden in the natural world all while learning simple magic tricks sure to amaze your friends and family!  Invite them to watch you show off your new skills in a magic showcase performed by you and your fellow campers on the last day of camp.</p>

			<center>
				<a href="/documents/072018-garden-cuisine.pdf"><p>Click Here for Camp Overview</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/5th6th---Garden-Cuisine-16Jul2018"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $124 <strong>Public:</strong> $155</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Garden Cuisine End-->

	<!-- Nature Architects Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#nature-architects">
			<div class="panel-heading" style="background-color:#CDE283;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Nature Architects</h4>
								<h6 class="text-center white">Partner Camp with Play-Well TEKnologies</h6>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">JULY 15 - 19</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">9AM - 4PM</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="nature-architects" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Fifth / Sixth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 10 - 12</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JULY 15 - 19<br />Monday - Friday<br />9AM - 4PM</h5>
				</div>

			</div>

			<p class="bold italic text-center">Partner Camp with Play-Well TEKnologies</p>

			<!--<p class="text-center italic"><a href="/summer-camp-scholarships">Scholarships Available - CLICK HERE</a></p>-->

			<p>Did you know humans aren't the only architects on the planet? Spend your mornings working with Red Butte Garden to learn about the amazing things animals build in nature like bird nests, anthills, beehives, and more. In the afternoon, work with the experts at Play-Well TEKnologies to practice what you've learned by building cool nature-inspired projects with LEGO&reg; bricks.</p>

			<center>
				<a href="/documents/180806-nature-architects.pdf"><p>Click Here for Camp Overview</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/5th6th---Nature-Architects"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $252, <strong>Public:</strong> $315</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Nature Architects End-->

	<!-- Galactic Explorers start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#galactic-explorers">
	  	<div class="panel-heading" style="background-color:#B8D64F;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Galactic Explorers - NEW!</h4>
		        		<h6 class="text-center white">Partner Camp with Clark Planetarium</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">AUGUST 5 - 9</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - 4PM</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="galactic-explorers" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Fifth / Sixth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 10 - 12</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> AUGUST 5 - 9<br />Monday - Friday<br />9AM - NOON at RBG<br />1PM - 4PM at Clark Planetarium</h5>
				</div>

			</div>

			<p class="bold italic text-center">Partner Camp with Clark Planetarium</p>

			<!--<p class="text-center italic"><a href="/summer-camp-scholarships">Scholarships Available - CLICK HERE</a></p>-->

			<p>Ready for an out of this world adventure? Spend your mornings at Red Butte Garden discovering the connection between space and the plants and animals found on planet Earth. From plants that grow without sunlight to real-life, alien-like creatures, you’ll discover the plethora of bizarre plants and animals from Earth that would be right at home on an alien planet. Spend your afternoons at the Clark Planetarium, exploring the extreme circumstances of space and how life could survive there. Discover how astronauts survive in space and experiment with the technology they use to explore the solar system. Transportation between sites provided.</p>

			<p class="red text-center">Drop off at Red Butte Garden by 9AM and pick up at Clark Planetarium by 4PM.</p>

			<center>
				<a href="/documents/082018-i-will-survive.pdf"><p>Click Here for Camp Overview</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/5th6th---I-Will-Survive-13Aug2018"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATIONS:</h5>
					<p class="text-center">Red Butte Garden / Clark Planetarium at The Gateway, 110 South 400 West, SLC, UT 84101</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $252, <strong>Public:</strong> $315</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Galactic Explorers End-->

	<!-- Zen Chefs start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#zen-chefs">
	  	<div class="panel-heading" style="background-color:#CDE283;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Zen Chefs - NEW!</h4>
		        		<h6 class="text-center white">Partner Camp with Kidding Around Yoga</h6>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">AUGUST 12 - 16</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">9AM - NOON</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="zen-chefs" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Fifth / Sixth</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 10 - 12</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> AUGUST 12 - 16<br />Monday - Friday<br />9AM - NOON<br /></h5>
				</div>

			</div>

			<p class="bold italic text-center">Partner Camp with Kidding Around Yoga</p>

			<!--<p class="text-center italic"><a href="/summer-camp-scholarships">Scholarships Available - CLICK HERE</a></p>-->

			<p>Ohm…could you please pass the salt? Learn to master your cooking AND yoga skills all in one camp! Spend one hour each day practicing yoga with Kidding Around Yoga. Then, master the art of healthy cooking as you chop, blend, and mix your way across the Garden, all while making healthy, tasty treats to enjoy.</p>

			<center>
				<a href="/documents/082018-i-will-survive.pdf"><p>Click Here for Camp Overview</p></a>

				<a href="https://55218.blackbaudhosting.com/55218/5th6th---I-Will-Survive-13Aug2018"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>
				<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $168, <strong>Public:</strong> $210</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Zen Chefs End-->

</div>

<!--<p class="text-center red"><sup>*</sup> Short week due to Independence Day and Pioneer Day holidays.</p>-->
