---
title: "Red Butte Garden Concerts"
layout: "concerts-page"
published: true
---
<a href="https://redbuttegarden.ticketfly.com">
<div class="row-fluid">
	<img src="/images/concert-images/2019-ocs-page-header.jpg" class="responsive" alt="Red Butte Garden Outdoor Concert Series" title="Red Butte Garden Outdoor Concert Series" />
</div>
</a>

<!--Begin Information Section to Hide-->
<div class="tan-bg">

	<br />
	<div class="row-fluid">
			<!--<h4 class="text-center green">THANKS FOR SUPPORTING THE 2018 OUTDOOR CONCERT SERIES</h4>
			<h4 class="text-center green">SEE YOU NEXT YEAR!</h4>-->

			<h4 class="text-center green">LOOK FOR THE FULL CONCERT SERIES ANNOUNCEMENT ON TUESDAY, APRIL 16!</h4>
			<h5 class="text-center">Renew or purchase a Garden-Flex level or above Membership by midnight on April 23 in order to participate in the April 29 Garden member-only online presale.</h5>

		<div class="col-sm-6">
			<h4 class="text-center green">GARDEN MEMBER CONCERT SERIES TICKET PRESALES:</h4>
			<h4 class="text-center">Monday, April 29 at 7PM - <span class="red">Online Only</span><br />Tuesday, April 30 at 9AM - In-person &amp; Online</h4>
		</div>

		<div class="col-sm-6">
			<h4 class="text-center green">GENERAL PUBLIC CONCERT SERIES TICKET SALES:</h4>
			<h4 class="text-center">Monday, May 6 at 9AM - In-Person &amp; Online sales</h4>

		</div>

	</div>
<br />
	<a href="/concert-donors">
		<div class="concertbanner hover">
			<img src="/images/concert-images/sponsors/2019-donor-logo-banner.jpg" alt="Red Butte Garden Concert Series Donors" title="Red Butte Garden Concert Series Donors">
		</div>
	</a>

	<div class="row-fluid">

		<!--<p class="text-center"><a href="/documents/2018-concert-lineup.pdf">CLICK HERE FOR A PRINTABLE LIST OF THE 2018 CONCERT SERIES</a></p>-->

	</div>

</div>
 <!--End Information Section to Hide-->

<br />

<div id="concertcontent" class="container-fluid container-fluid-no-padding">

<!-- Begin Concert Links -->
	<div class="row-fluid" style="max-width:1280px; float:none; margin:auto;">

		<a href="/how-to-buy-tickets">
			<div class="col-xs-6 col-sm-3 " style="clear:left;" >
				<div class="concertinfo hover green-bg">HOW TO BUY</div>
			</div>
		</a>

		<a href="/donor-ticket-packages">
			<div class="col-xs-6 col-sm-3" >
				<div class="concertinfo hover green-bg">TICKET PACKAGES</div>
			</div>
		</a>

		<a href="/concert-faq">
			<div class="col-xs-6 col-sm-3" >
				<div class="concertinfo hover green-bg">FAQ'S</div>
			</div>
		</a>

		<a href="/past-concerts">
			<div class="col-xs-6 col-sm-3" >
				<div class="concertinfo hover green-bg">PAST CONCERTS</div>
			</div>
		</a>

	</div>
<!-- End Concert Links -->

<br />

	<div  class="row-fluid clearfix" >

		<div id="future">

			<!-- Begin Concert -->
			<div class="infowrapper">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 concertwrapper">

					<a href="https://redbuttegarden.ticketfly.com">
						<div class="bandpic hover">
							<img src="/images/concert-images/2019/bela-fleck-on-sale-now.jpg" alt="Bela Fleck & The Flecktones at Red Butte Garden" title="Bela Fleck & The Flecktones at Red Butte Garden">

							<div class="soldout hide">
								<img src="/images/concert-images/SoldOut.png">
							</div>

							<div class="pasttext">
								Past Concert
							</div>

						</div>
					</a>

					<div class="textwrapper">

						<div class="concerttext">

							<div class="con-band-wrap">
								<br />
								<div class="con-title caps"><a href="https://www.belafleck.com/">BÉLA FLECK & THE FLECKTONES </a></div>
								<div class="con-sub hide">#</div>
								<div class="con-opener"><a href="https://billystrings.com/">BILLY STRINGS</a></div>
							</div>

							<div class="con-but-wrap">
								<div class="con-date">Friday, May 31 </div>
								<div class="con-times">Gates at 6PM / Show at 7PM</div>
								<div class="con-price">Garden Members: $45 / Public: $50</div> <br>
								<div class="con-genre hide"></div>
								<div class="row-fluid">
								<!--	{% include sales-dates-button.html %}-->
									<a href="https://redbuttegarden.ticketfly.com">
 		 							<img src="/images/concert-images/buy-tickets.png" class="responsive con-button hover" alt="Buy Tickets for the Red Butte Garden Concert Series" title="Buy Tickets for the Red Butte Garden Concert Series" />
								</div>

							</div>

						</div>

					</div>
					<br />
					<hr width="80%">
					<br />
				</div>
			</div>
			<!-- End Concert -->

			<!-- Begin Concert -->
			<div class="infowrapper">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 concertwrapper">

					<a href="https://redbuttegarden.ticketfly.com">
						<div class="bandpic hover">
							<img src="/images/concert-images/2019/little-feat-on-sale-now.jpg" alt="Little Feat at Red Butte Garden" title="Littel Feat at Red Butte Garden">

							<div class="soldout hide">
								<img src="/images/concert-images/SoldOut.png">
							</div>

							<div class="pasttext">
								Past Concert
							</div>

						</div>
					</a>

					<div class="textwrapper">

						<div class="concerttext">

							<div class="con-band-wrap">
								<br />
								<div class="con-title caps"><a href="https://www.littlefeat.net/">LITTLE FEAT</a></div>
								<div class="con-sub">50th ANNIVERSARY TOUR</div>
								<div class="con-opener"><a href="#"></a></div>
							</div>

							<div class="con-but-wrap">
								<div class="con-date">Wednesday, June 5 </div>
								<div class="con-times">Gates at 6:30PM / Show at 7:30PM</div>
								<div class="con-price">Garden Members: $42 / Public: $47</div> <br>
						    <div class="con-genre hide"></div>
								<div class="row-fluid">
								<!--	{% include sales-dates-button.html %}-->
								<a href="https://redbuttegarden.ticketfly.com">
 		 							<img src="/images/concert-images/buy-tickets.png" class="responsive con-button hover" alt="Buy Tickets for the Red Butte Garden Concert Series" title="Buy Tickets for the Red Butte Garden Concert Series" />
								</div>

							</div>

						</div>

					</div>
					<br />
					<hr width="80%">
					<br />
				</div>
			</div>
			<!-- End Concert -->

			<!-- Begin Concert -->
			<div class="infowrapper">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 concertwrapper">

					<a href="https://redbuttegarden.ticketfly.com">
						<div class="bandpic hover">
							<img src="/images/concert-images/2019/greensky-bluegrass.jpg" alt="Greensky Bluegrass at Red Butte Garden" title="Greensky Bluegrass at Red Butte Garden">

							<div class="soldout hide">
								<img src="/images/concert-images/SoldOut.png">
							</div>

							<div class="pasttext">
								Past Concert
							</div>

						</div>
					</a>

					<div class="textwrapper">

						<div class="concerttext">

							<div class="con-band-wrap">
								<br />
								<div class="con-title caps"><a href="https://greenskybluegrass.com">GREENSKY BLUEGRASS</a></div>
								<div class="con-sub hide">#</div>
								<div class="con-opener"><a href="http://www.thelilsmokies.com/">THE LIL SMOKIES</a></div>
							</div>

							<div class="con-but-wrap">
								<div class="con-date">Thursday, June 27 </div>
								<div class="con-times hide">Gates at 6PM / Show at 7PM</div>
								<div class="con-price hide">Garden Members: $ / Public: $</div>
								<div class="con-genre hide"></div>
								<div class="row-fluid">
								 {% include sales-dates-button.html %}
								</div>

							</div>

						</div>

					</div>
					<br />
					<hr width="80%">
					<br />
				</div>
			</div>
			<!-- End Concert -->

			<!-- Begin Concert -->
			<div class="infowrapper">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 concertwrapper">

					<a href="https://redbuttegarden.ticketfly.com">
						<div class="bandpic hover">
							<img src="/images/concert-images/2019/utah-symphony-on-sale-now.jpg" alt="Utah Symphony at Red Butte Garden" title="Utah Symphony at Red Butte Garden">

							<div class="soldout hide">
								<img src="/images/concert-images/SoldOut.png">
							</div>

							<div class="pasttext">
								Past Concert
							</div>

						</div>
					</a>

					<div class="textwrapper">

						<div class="concerttext">

							<div class="con-band-wrap">
								<br />
								<div class="con-title caps"><a href="https://www.littlefeat.net/">UTAH SYMPHONY'S PATRIOTIC CELEBRATION</a></div>
								<div class="con-sub">featuring</div>
								<div class="con-opener"><a href="https://www.facebook.com/HughPanaro/">Hugh Panaro, vocalist</a></div>
								<div class="con-opener"><a href="#">Michael Krajewski, conductor</a></div>
							</div>

							<div class="con-but-wrap">
								<div class="con-date">Tuesday, July 2</div>
								<div class="con-times">Gates at 7:30PM / Show at 8:30PM</div>
								<div class="con-price">Garden Members: $34 / Public: $39</div> <br>
								<div class="con-genre hide"></div>
								<div class="row-fluid">
								<!--	{% include sales-dates-button.html %}-->
								<a href="https://redbuttegarden.ticketfly.com">
									<img src="/images/concert-images/buy-tickets.png" class="responsive con-button hover" alt="Buy Tickets for the Red Butte Garden Concert Series" title="Buy Tickets for the Red Butte Garden Concert Series" />
								</div>

							</div>

						</div>

					</div>
					<br />
					<hr width="80%">
					<br />
				</div>
			</div>
			<!-- End Concert -->

			<!-- Begin Concert -->
			<div class="infowrapper">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 concertwrapper">

					<a href="https://redbuttegarden.ticketfly.com">
						<div class="bandpic hover">
							<img src="/images/concert-images/2019/pink-martini-china.jpg" alt="Pink Martini at Red Butte Garden" title="Pink Martini at Red Butte Garden">

							<div class="soldout hide">
								<img src="/images/concert-images/SoldOut.png">
							</div>

							<div class="pasttext">
								Past Concert
							</div>

						</div>
					</a>

					<div class="textwrapper">

						<div class="concerttext">

							<div class="con-band-wrap">
								<br />
								<div class="con-sub">An evening with</div>
								<div class="con-title caps"><a href="http://pinkmartini.com/">PINK MARTINI</a></div>
								<div class="con-sub hide">#</div>
								<div class="con-opener"><a href="#">WITH SINGER CHINA FORBES</a></div>
							</div>

							<div class="con-but-wrap">
								<div class="con-date">Thursday, July 11 </div>
								<div class="con-times hide">Gates at 6PM / Show at 7PM</div>
								<div class="con-price hide">Garden Members: $ / Public: $</div>
								<div class="con-genre hide"></div>
								<div class="row-fluid">
								 {% include sales-dates-button.html %}
								</div>

							</div>

						</div>

					</div>
					<br />
					<hr width="80%">
					<br />
				</div>
			</div>
			<!-- End Concert -->

			<!-- Begin Concert -->
			<div class="infowrapper">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 concertwrapper">

					<a href="https://redbuttegarden.ticketfly.com">
						<div class="bandpic hover">
							<img src="/images/concert-images/2019/john-prine-onstage-web.jpg" alt="John Prine at Red Butte Garden" title="John Prine at Red Butte Garden">

							<div class="soldout hide">
								<img src="/images/concert-images/SoldOut.png">
							</div>

							<div class="pasttext">
								Past Concert
							</div>

						</div>
					</a>

					<div class="textwrapper">

						<div class="concerttext">

							<div class="con-band-wrap">
								<br />
								<div class="con-title caps"><a href="https://www.johnprine.com/">JOHN PRINE</a></div>
								<div class="con-sub">The Tree of Forgiveness Tour</div>
								<div class="con-opener"><a href="https://www.imwithherband.com/">I'M WITH HER</a></div>
							</div>

							<div class="con-but-wrap">
								<div class="con-date">Tuesday, July 30 </div>
								<div class="con-times hide">Gates at 6PM / Show at 7PM</div>
								<div class="con-price hide">Garden Members: $ / Public: $</div>
								<div class="con-genre hide"></div>
								<div class="row-fluid">
								 {% include sales-dates-button.html %}
								</div>

							</div>

						</div>

					</div>
					<br />
					<hr width="80%">
					<br />
				</div>
			</div>
			<!-- End Concert -->

			<!-- Begin Concert -->
			<div class="infowrapper">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 concertwrapper">

					<a href="https://redbuttegarden.ticketfly.com">
						<div class="bandpic hover">
							<img src="/images/concert-images/2019/oar.jpg" alt="O.A.R. at Red Butte Garden" title="O.A.R. at Red Butte Garden">

							<div class="soldout hide">
								<img src="/images/concert-images/SoldOut.png">
							</div>

							<div class="pasttext">
								Past Concert
							</div>

						</div>
					</a>

					<div class="textwrapper">

						<div class="concerttext">

							<div class="con-band-wrap">
								<br />
								<div class="con-sub">SiriusXM The Pulse Presents:</div>
								<div class="con-title caps"><a href="https://ofarevolution.liveoar.com/">THE MIGHTY O.A.R.</a></div>
								<div class="con-sub">Summer Tour 2019</div>
								<div class="con-opener"><a href="http://www.weareamericanauthors.com/">AMERICAN AUTHORS</a></div>
							</div>

							<div class="con-but-wrap">
								<div class="con-date">Friday, August 9</div>
								<div class="con-times hide">Gates at 6PM / Show at 7PM</div>
								<div class="con-price hide">Garden Members: $ / Public: $</div>
								<div class="con-genre hide"></div>
								<div class="row-fluid">
								 {% include sales-dates-button.html %}
								</div>

							</div>

						</div>

					</div>
					<br />
					<hr width="80%">
					<br />
				</div>
			</div>
			<!-- End Concert -->

			<!-- Begin Concert -->
			<div class="infowrapper">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 concertwrapper">

					<a href="https://redbuttegarden.ticketfly.com">
						<div class="bandpic hover">
							<img src="/images/concert-images/2019/steve-miller-band-blk-logo.jpg" alt="Steve Miller Band at Red Butte Garden" title="Steve Miller Band at Red Butte Garden">

							<div class="soldout hide">
								<img src="/images/concert-images/SoldOut.png">
							</div>

							<div class="pasttext">
								Past Concert
							</div>

						</div>
					</a>

					<div class="textwrapper">

						<div class="concerttext">

							<div class="con-band-wrap">
								<br />
								<div class="con-sub">Classic Rock Meets Classic Country</div>
								<div class="con-title caps"><a href="http://www.stevemillerband.com/">STEVE MILLER BAND</a></div>
								<div class="con-title caps"><a href="https://www.martystuart.net/">MARTY STUART AND HIS FABULOUS SUPERLATIVES</a> </div>
							</div>

							<div class="con-but-wrap">
								<div class="con-date">Monday, August 19</div>
								<div class="con-times hide">Gates at / Show at </div>
								<div class="con-price hide">Garden Members: $ / Public: $</div>
								<div class="con-genre hide"></div>
								<div class="row-fluid">
								 {% include sales-dates-button.html %}
								</div>

							</div>

						</div>

					</div>
					<br />
					<hr width="80%">
					<br />
				</div>
			</div>
			<!-- End Concert -->

			<!-- Begin Concert -->
			<div class="infowrapper">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 concertwrapper">

					<a href="https://redbuttegarden.ticketfly.com">
						<div class="bandpic hover">
							<img src="/images/concert-images/2019/stray-cats.jpg" alt="Stray Cats Red Butte Garden" title="Stray Cats at Red Butte Garden">

							<div class="soldout hide">
								<img src="/images/concert-images/SoldOut.png">
							</div>

							<div class="pasttext">
								Past Concert
							</div>

						</div>
					</a>

					<div class="textwrapper">

						<div class="concerttext">

							<div class="con-band-wrap">
								<br />
								<div class="con-title caps"><a href="http://straycats.com/">THE STRAY CATS</a></div>
								<div class="con-sub">40th Anniversary Tour</div>
								<div class="con-opener"><a href="#"></a></div>
							</div>

							<div class="con-but-wrap">
								<div class="con-date">Monday, August 26 </div>
								<div class="con-times hide">Gates at TBD PM / Show at TBD PM</div>
								<div class="con-price hide">Garden Members: / Public: </div>
								<div class="con-genre hide"></div>
								<div class="row-fluid">
								 {% include sales-dates-button.html %}
								</div>

							</div>

						</div>

					</div>
					<br />
					<hr width="80%">
					<br />
				</div>
			</div>
			<!-- End Concert -->


<!-- End Concerts Section -->

	 	</div>
	</div>


<br /><br />
<!--<Begin Past Shows Section -->
	<!--<div  class="row-fluid clearfix hide">

		<div class="eventdivide">
			<hr width="90%">
			<div class="grid-header">PAST 2019 CONCERTS</div>
			<hr width="90%">
		</div>
		<br />

	<div class="row-fluid clearfix">
		<div class=" col-xs-12 pastdivide">
		</div>
	</div>-->


</div>
<!-- End Past Shows Section -->

 <!--Begin Concert Links-->
	<div class="row-fluid" style="max-width:1280px; float:none; margin:auto;">

		<a href="/how-to-buy-tickets">
			<div class="col-xs-6 col-sm-3 " style="clear:left;" >
				<div class="concertinfo hover green-bg">HOW TO BUY</div>
			</div>
		</a>

		<a href="/donor-ticket-packages">
			<div class="col-xs-6 col-sm-3" >
				<div class="concertinfo hover green-bg">TICKET PACKAGES</div>
			</div>
		</a>

		<a href="/concert-faq">
			<div class="col-xs-6 col-sm-3" >
				<div class="concertinfo hover green-bg">FAQ'S</div>
			</div>
		</a>

		<a href="/past-concerts">
			<div class="col-xs-6 col-sm-3" >
				<div class="concertinfo hover green-bg">PAST CONCERTS</div>
			</div>
		</a>

	</div>
<!--End Concert Links-->

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script>

window.onload = concertDates;

function concertDates() {

var d = new Date();


var month = Date.prototype.getUTCMonth() + 1;
var day = d.getDate();

var concertmonth = document.getElementById("concertmonth28"),
        value = element.innerHTML;

var concertday = document.getElementById("concertmonth28"),
        value = element.innerHTML;

if (month > concertmonth) {
	$("#concertmonth28").addClass("past")
} }


$( ".past" ).insertAfter( ".pastdivide" );

</script>


<!-- Begin Concert Template -->

<!-- Begin Concert
<div class="infowrapper past">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 concertwrapper">

		<a href="https://redbuttegarden.ticketfly.com">
			<div class="bandpic hover">
				<img src="/images/concert-images/backup/darmok-and-jalad-at-tanagra.jpg" alt="Artist Name" title="Artist Name">

				<div class="soldout">
					<img src="/images/concert-images/SoldOut.png">
				</div>

				<div class="pasttext">
					Past Concert
				</div>

			</div>
		</a>

		<div class="textwrapper">

			<div class="concerttext">

				<div class="con-band-wrap">
					<br />
					<div class="con-title caps"><a href="#">ARTIST NAME GOES HERE</a></div>
					<div class="con-sub">Subtitle or Tour Name Here</div>
					<div class="con-opener"><a href="#">OPENER NAME GOES HERE</a></div>
				</div>

				<div class="con-but-wrap">
					<div class="con-date">Sunday, September 10 @ 7PM</div>
					<div class="con-price">Garden Members: $ / Public: $</div>
					<div class="con-times">Gates at 6PM &nbsp; Show at 7PM</div>
					<div class="con-genre hide">Genres go here</div>
					<div class="row-fluid">
						<a href="https://redbuttegarden.ticketfly.com">
							<img src="/images/core/tickets.png" class="responsive con-button hover" alt="Buy Tickets for the Red Butte Garden Concert Series" title="Buy Tickets for the Red Butte Garden Concert Series" />
						</a>
					</div>
					<br />
					<hr width="80%">
					<br />
				</div>

			</div>

		</div>

	</div>
</div>
End Concert -->

<!-- End Concert Template -->
