---
title: "Free Garden Events"
layout: "default"
---

<div class="row-fluid">
	<img src="/images/banners/free-garden-events.jpg" class="responsive" alt="Free Red Butte Garden Events" title="Free Red Butte Garden Events" />
</div>

	<div class="col xs-12" style="display: block; float: left;">
		<br />

		<!--
		<ul>
			<li><a href="/sundance">Sundance Institute Summer Film Series</a></li><br />
			<li><a href="/horticulture-lecture-series">Horticulture Spotlight Lecture Series</a></li><br />
			<li><a href="/spyhop-heatwave">SPYHOP Heatwave Festival - July 18, 2016</a></li><br />
		</ul>
		-->
		{% for post in site.categories.free %}
		    {% if post.url %}
			<div class="col-sm-4">
				<a href="{{ post.url }}">
				<div class="eventwrapsmall hover">

					<img src="../images/events/{{ post.event-image }}">

					<div class="eventinfo">
						<div class="eventname">{{ post.title }}</div>
						<div class="eventdate">{{ post.event-dates }}</div>
						<div class="eventnotes">{{ post.event-notes}}</div>
					</div>

				</div>
				</a>
			</div>
		    {% endif %}
		{% endfor %}
<br />
  	</div>


		<div style="display: block; float: left;">

		<div class="col xs-12">
			<h3>ZAP FREE ADMISSION DAYS</h3>
			<hr>
			<h4>Thanks to funding in part by Salt Lake County Zoo, Arts, and Parks Program (ZAP), guests can enjoy six days of free Garden admission.</h4>
			<br />

			<h4 class="green">Arbor Day - The last Friday of every April </h4>
			<h5>April 24, 2020</h5>
			<h6>Activities 9AM-3PM</h6>
			<p>Join us for a fun day of activities and interactive exploration stations throughout the Garden. Due to the generous support of Rocky Mountain Power, all guests leave with a free tree to take home (while supplies last).</p>

			<br />

			<h4 class="green">Pioneer Day</h4>
			<h5>Every July 24</h5>
			<h6></h6>
			<p>Spend time with family and friends on the holiday at Red Butte Garden with free admission all day long.</p>
			<p>Limited capacity this year. Tickets must be reserved in advance. <a href="/garden-welcome-back/">MAKE A RESERVATION</a> </p>

			<br />

			<h4 class="green">Labor Day - The first Monday of every September</h4>
			<h5>Monday, September 7, 2020 </h5>
			<h6></h6>
			<p>On this day we especially acknowledge the volunteers who labor in the Garden and at events to help make your Garden visit a wonderful experience.</p>

			<br />

			<h4 class="green">Zeke Dumke, Jr. Day - The first Monday of every October</h4>
			<h5>Monday, October 5, 2020</h5>
			<h6></h6>
			<p>In recognition of his visionary role in the founding and development of Red Butte Garden, the first Monday of every October is now "Ezekiel R. Dumke, Jr. Free Day."</p>

			<br />

			<h4 class="green">Annual Holiday Open House &amp; Art Fair</h4>
			<h5>Saturday &amp; Sunday, December 5 &amp; 6, 2020</h5>
			<h6></h6>
			<p>Held the first weekend of every December, the Holiday Open House has become a wonderful tradition at the Garden. The Orangerie is filled with 19-20 Utah artists offering their hand-made work for sale. It's also the same weekend of our <b>Annual Gift Shop Holiday Sale</b> offering an additional 10% off all purchases.</p>

			<br />

<center>
	<a href="https://slco.org/zap/"><img src="/images/core/zap-color.jpg" alt="Zoo, Arts and Parks Program logo" title="Zoo, Arts and Parks Program logo" class="responsive" style="max-width:200px;" </a>
	</center>

	<br />
		</div>

	</div>
	<br />
	</div>
	</div>
	<br />
