---
title: "Free Garden Events"
layout: "default"
---

<div class="row-fluid">
	<img src="/images/banners/free-garden-events.jpg" class="responsive" alt="Free Red Butte Garden Events" title="Free Red Butte Garden Events" />
</div>

<div class="row-fluid">

	<!-- Boredom Busters)-->
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a href="/boredom-busters">
			<div class="eventwrapsmall hover">

				<img src="/images/events/boredom-busters/ladybug-origami-thumb.jpg">

				<div class="eventinfo">
					<div class="eventname">BOREDOM BUSTERS</div>
					<div class="eventdate"></div>
					<div class="eventnotes">Fun, Free Activities</div>
				</div>

			</div>
			</a>
		</div>
	<!-- END Boredom Busters-->

	<!-- BEGIN NORMAL FREE EVENTS -->

		{% for post in site.categories.free %}
		    {% if post.url %}
			<div class="col-sm-4">
				<a href="{{ post.url }}">
				<div class="eventwrapsmall hover">

					<img src="../images/events/{{ post.event-image }}">

					<div class="eventinfo">
						<div class="eventname">{{ post.title }}</div>
						<div class="eventdate">{{ post.event-dates }}</div>
						<div class="eventnotes">{{ post.event-notes}}</div>
					</div>

				</div>
				</a>
			</div>
		    {% endif %}
		{% endfor %}
<br />
  	</div>

		<!-- BOOTANICAL (special event page thumb- add to top of page in Oct)-->
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<a href="/bootanical">
				<div class="eventwrapsmall hover">

					<img src="/images/misc/bootanical/bootanical-thumb.jpg">

					<div class="eventinfo">
						<div class="eventname">BOOTANICAL IN THE GARDEN</div>
						<div class="eventdate">OCTOBER 1-31</div>
						<div class="eventnotes">Free Daytime Admission</div>
					</div>

				</div>
				</a>
			</div>
		<!-- END BOOTANICAL-->


		<div style="display: block; float: left;">
			<br />

		<div class="col xs-12">
	   <hr>
			<h3>ZAP FREE ADMISSION DAYS</h3>
			<h4>Thanks to funding in part by Salt Lake County Zoo, Arts, and Parks Program (ZAP), guests can enjoy six days of free Garden admission.</h4>
			<br />

			<h4 class="green">Arbor Day - The last Friday of every April </h4>
			<h5>April 30, 2021</h5>
			<h6>Activities 9AM-3PM</h6>
			<p>Join us for a fun day of activities and interactive exploration stations throughout the Garden. Due to the generous support of Rocky Mountain Power, all guests leave with a free tree to take home (while supplies last).</p>

			<br />

			<h4 class="green">Pioneer Day</h4>
			<h5>Every July 24</h5>
			<h6></h6>
			<p>Spend time with family and friends on the holiday at Red Butte Garden with free admission all day long.</p>
			<!--<p>Limited capacity this year. Tickets must be reserved in advance. <a href="/garden-welcome-back/">MAKE A RESERVATION</a> </p>-->

			<br />

			<h4 class="green">Labor Day - The first Monday of every September</h4>
			<h5>Monday, September 6, 2021 </h5>
			<h6></h6>
			<p>On this day we especially acknowledge the volunteers who labor in the Garden and at events to help make your Garden visit a wonderful experience.</p>

			<br />

			<h4 class="green">Zeke Dumke, Jr. Day - The first Monday of every October</h4>
			<h5>Monday, October 4, 2021</h5>
			<h6></h6>
			<p>In recognition of his visionary role in the founding and development of Red Butte Garden, the first Monday of every October is now "Ezekiel R. Dumke, Jr. Free Day."</p>

			<br />

			<h4 class="green">Annual Gift Shop Holiday Sale</h4>
			<h5>Saturday &amp; Sunday, December 5 &amp; 6, 2020</h5>
			<h6></h6>
			<p>Held the first weekend of every December, the <b>Annual Gift Shop Holiday Sale</b> offers an additional 10% off all gift shop purchases. </p>
      <p>The Holiday Open House Art Fair in the Orangerie has been cancelled this year. We look forward to hosting the event next December 2021.  </p>
			<br />

<center>
	<a href="https://slco.org/zap/"><img src="/images/core/zap-color.jpg" alt="Zoo, Arts and Parks Program logo" title="Zoo, Arts and Parks Program logo" class="responsive" style="max-width:200px;" </a>
	</center>

	<br />
		</div>

	</div>
	<br />
	</div>
	</div>
	<br />
