---
title: "Garden Adventures"
layout: "default"
---

<div class="row-fluid">
	<img src="/images/banners/garden-adventures.jpg" class="responsive" alt="Garden Adventures Classes at Red Butte Garden" title="Garden Adventures Classes at Red Butte Garden" />
</div>

<h4 class="text-center green">Classes for children ages 4-12 and a parent.</h4>

<p class="text-center bold">Each Garden Adventures class focuses on a different topic and seeks to help kids connect with plants while encouraging them to explore the wonders of the natural world. <br>Classes are designed for parents or caregivers to attend and participate with their child. Limit one adult/caregiver per child.</p>

<div class="tan-bg">
  <br />
<!--<h5 class="text-center">Garden Adventure class cost - Caregiver included</h5>
<h5 class="text-center green">>Garden Members: $8 per child<br />General Public: $10 per child</h5>-->

<h5 class="text-center">Special Garden Adventure classes on Jan 20<!--March 10 and April 21--> and Feb 3 - Caregiver included</h5>
<h5 class="text-center green">Garden Members: $24 per child / General Public: $30 per child</h5>

<br />
</div>

<h4 class="text-center">Register online for a Garden Adventure date below or call 801-581-8454</h4>
<p class="text-center bold">REGISTRATION REQUIRED, NO INFANTS PLEASE. </p>

<p class="text-center"><a href="/refund-policy">View our Refund Policy</a></p>

<br /><hr width="95%" /><br />

<!-- Begin Fungus Among Us -->
<div class="row-fluid">

	<div class="col-sm-3">
    <br class="br-hide" />

		<div class="eventwrapsmall">

			<img src="/images/events/fungus-amongus.jpg" alt="Fabulous Fungus Garden Adventures at Red Butte Garden" title="Fabulous Fungus Garden Adventures at Red Butte Garden" class="responsive" />

			<div class="eventinfo">
				<div class="eventname">FABULOUS FUNGUS AMONG US</div>
				<div class="eventdate">SATURDAY, JAN 20</div>
				<div class="eventnotes">Two Sessions</div>
			</div>

		</div>

	</div>

	<div class="col-sm-9">

		<h3 class="text-center green">Fabulous Fungus Among Us</h3>

		<p class="text-center">REGISTRATION REQUIRED</p>

		<div class="tan-bg">
		<br />
		<h4 class="text-center bold green">Session A: SATURDAY, JANUARY 20 @ 10AM - 11:30AM</h4>

		<center>
			<p class="text-center bold">This session is closed.</p>
			<!--<a href="https://55218.blackbaudhosting.com/55218/Fabulous-Fungus-Among-Us"><input type="submit" name="Apply-Button" value="Register Now" class="apply-button hover" /></a>-->
		</center>

		<br />

		<h4 class="text-center bold green">Session B: SATURDAY, JANUARY 20 @ 1PM - 2:30PM</h4>

		<center>
			<p class="text-center bold">This session is closed.
			<!--<a href="https://55218.blackbaudhosting.com/55218/Fabulous-Fungus-Among-Us-20Jan2018">{% include register-button.html %}</a>
		</center>-->
		</div>

    <br />
    <p class="text-center bold">It’s time to put the fun in fungus in this SPECIAL Garden Adventure!  It won’t take mush-room in your schedule to learn about the fabulous, and freaky world of fungi.  From dedicated decomposers to dastardly diseases, freaky forms to fabulous facilitators, deadly dangerous to delicious dinners, fungi have it all!  You’ll really lichen the chance to explore the ways fungi can help and hinder our world, and even take some delicious fungi home to grow!</p>

	</div>

</div>
 <!--End Fungus Among Us -->

<br /><hr width="95%" /><br />

<!--Begin Botanical Valentines-->
<div class="row-fluid">

	<div class="col-sm-3">
    <br class="br-hide" />

		<div class="eventwrapsmall">

			<img src="/images/events/botanical-valentine.jpg" alt="Botanical Valentines Garden Adventures at Red Butte Garden" title="Botanical Valentines Garden Adventures at Red Butte Garden" class="responsive" />

			<div class="eventinfo">
				<div class="eventname">BOTANICAL VALENTINES</div>
				<div class="eventdate">SATURDAY, FEB 3</div>
				<div class="eventnotes">Two Sessions</div>
			</div>

		</div>

	</div>

	<div class="col-sm-9">

		<h3 class="text-center green">Botanical Valentines</h3>

		<p class="text-center">REGISTRATION REQUIRED</p>

		<div class="tan-bg">
		<br />
		<h4 class="text-center bold green">Session A: SATURDAY, FEBRUARY 3 @ 10AM - 11:30AM</h4>

		<center>
			<p class="text-center bold">This session is closed.</p>
			<!--<a href=" https://55218.blackbaudhosting.com/55218/Botanical-Valentines"><input type="submit" name="Apply-Button" value="Register Now" class="apply-button hover" /></a>-->
		</center>

		<br />

		<h4 class="text-center bold green">Session B: SATURDAY, FEBRUARY 3 @ 1PM - 2:30PM</h4>

		<center>
			<!--<p class="text-center bold">This session is closed.-->
			<a href=" https://55218.blackbaudhosting.com/55218/Botanical-Valentines-03Feb2018">{% include register-button.html %}</a>
		</center>
	</div>

    <br />
    <p class="text-center bold">Kick off your Valentine’s Day celebrations in this SPECIAL Garden Adventure! Using found objects from the Garden and other natural materials, participants will work together to create unique, handmade valentines perfect to give to friends, family members, and more! After, we’ll snack on chocolate covered botanical treats and even take home a special, heart-shaped houseplant.</p>

	</div>

</div>
<!--End Botanical Valentines-->

<!--<br /><hr width="95%" /><br />

<!--Begin Lucky Leprechaun Terrariums
<div class="row-fluid">

	<div class="col-sm-3">
    <br class="br-hide" />

		<div class="eventwrapsmall">

			<img src="/images/events/lucky-leprechaun-terrarium.jpg" alt="Lucky Leprechaun Terrariums Garden Adventures at Red Butte Garden" title="Lucky Leprechaun Terrariums Garden Adventures at Red Butte Garden" class="responsive" />

			<div class="eventinfo">
				<div class="eventname">LUCKY LEPRECHAUN TERRARIUMS</div>
				<div class="eventdate">SATURDAY, MARCH 10</div>
			</div>

		</div>

	</div>

	<div class="col-sm-9">

		<h3 class="text-center green">Special Holiday Garden Adventure:</h3></b>
		<h3 class="text-center green">Lucky Leprechaun Terrariums</h3>

		<p class="text-center">REGISTRATION REQUIRED</p>

		<div class="tan-bg">
		<br />
		<h4 class="text-center bold green">SATURDAY, MARCH 10 @ 10AM - 11:30AM</h4>

		<center>
			<a href= "https://55218.blackbaudhosting.com/55218/Special-Holiday-Garden-Adventure---Lucky-Leprechaun-Terrariums">{% include register-button.html %}</a>
		</center>
		</div>

    <br />
    <p class="text-center bold">Kickoff your St. Patrick's Day celebrations by planting a lucky leprechaun terrarium in this special Garden Adventure!
		After learning what a terrarium is and how to care for it, participants will work together to plant and decorate miniature terrariums sure to entice leprechaun visitors to your home. Containers, plants, decorations, and more will be provided.
	</p>

	</div>

</div>
<!--End Lucky Leprechaun Terrariums-->

<!--<br /><hr width="95%" /><br />

<!--Begin Sproutin'Seeds
<div class="row-fluid">

 <div class="col-sm-3">
		<br class="br-hide" />

	 <div class="eventwrapsmall">

		 <img src="/images/events/sprouting-seeds.jpg" alt="Sproutin' Seeds Garden Adventures at Red Butte Garden" title="Sproutin' Seeds Garden Adventures at Red Butte Garden" class="responsive" />

		 <div class="eventinfo">
			 <div class="eventname">SPROUTIN' SEEDS</div>
			 <div class="eventdate">SATURDAY, MARCH 17</div>
		 </div>

	 </div>

 </div>

 <div class="col-sm-9">

	 <h3 class="text-center green">Sproutin' Seeds</h3>

	 <p class="text-center">REGISTRATION REQUIRED</p>

	 <div class="tan-bg">
	 <br />
	 <h4 class="text-center bold green">SATURDAY, MARCH 17 @ 10AM - 11:30AM</h4>

	 <center>
		 <a href= "https://55218.blackbaudhosting.com/55218/Sproutin-Seeds-17Mar2018">{% include register-button.html %}</a>
	 </center>
   </div>

		<br />
		<p class="text-center bold">Spring is almost here, and it’s the perfect time to start thinking about your garden! Come join us as we learn about seeds and how to start plants indoor. Then, get a head start on your own garden by creating a seed-starter kit to take home.</p>

 </div>

</div>
<!--End Sproutin' Seeds

<br /><hr width="95%" /><br />

 	<!--Begin Bulb Bonanza
<div class="row-fluid">

	<div class="col-sm-3">
    <br class="br-hide" />

		<div class="eventwrapsmall">

			<img src="/images/events/bulb-bonanza.jpg" alt="Bulb Bonanza Garden Adventures at Red Butte Garden" title="Bulb Bonanza Garden Adventures at Red Butte Garden" class="responsive" />

			<div class="eventinfo">
				<div class="eventname">BULB BONANZA</div>
				<div class="eventdate">SATURDAY, APRIL 14</div>
			</div>

		</div>

	</div>
	<div class="col-sm-9">

		<h3 class="text-center green">Bulb Bonanza</h3>

		<p class="text-center">REGISTRATION REQUIRED</p>

		<div class="tan-bg">
		<br />
		<h4 class="text-center bold green">SATURDAY, APRIL 14 @ 10AM - 11:30AM</h4>

	 <center>
			<a href="https://55218.blackbaudhosting.com/55218/Bulb-Bonanza-14Apr2018">{% include register-button.html %}</a>
		</center>
    </div>

		<br />

    <p class="text-center bold">With hyacinths, fritillaria, daffodils, and more, this year’s bulb display will knock your socks off! Discover the different bulb varieties found in the Garden and find out what makes these plants special and unique. After, we’ll use our new knowledge in a fun-filled game of bulb bingo with special prizes for all participants!</p>

	</div>

</div>
<!--End Bulb Bonanza

<br /><hr width="95%" /><br />

<!--Begin Magic Miniature Gardens
<div class="row-fluid">

	<div class="col-sm-3">
    <br class="br-hide" />

		<div class="eventwrapsmall">

			<img src="/images/events/magic-miniature-gardens.jpg" alt="Magic Miniature Gardens Garden Adventures at Red Butte Garden" title="Magic Miniature Gardens Garden Adventures at Red Butte Garden" class="responsive" />

			<div class="eventinfo">
				<div class="eventname">MAGIC MINIATURE GARDENS</div>
				<div class="eventdate">SATURDAY, APRIL 21</div>
			</div>

		</div>

	</div>

	<div class="col-sm-9">

		<h3 class="text-center green">Special Holiday Garden Adventure:</h3></b>
		<h3 class="text-center green">Magic Miniature Gardens</h3>

		<p class="text-center">REGISTRATION REQUIRED</p>

		<div class="tan-bg">
		<br />
		<h4 class="text-center bold green">SATURDAY, APRIL 21 @ 10AM - 11:30AM</h4>

		<center>
			<a href="https://55218.blackbaudhosting.com/55218/Special-Holiday-Garden-Adventure---Magic-Miniature-Gardens">{% include register-button.html %}</a>
		</center>
    </div>

    <br />
    <p class="text-center bold">Celebrate spring by planting a miniature garden in this special Garden Adventure! After learning what a miniature garden is and how to care for it, participants will work together to design, plant, and decorate the perfect tiny oasis for a fairy, gnome, or elf. Containers, plants, decorations, and more will be provided. Don’t miss out on this magical class!</p>

	</div>

</div>
<!--End Magic Miniature Gardens

<br /><hr width="95%" /><br />

<!--Begin Terrific Trees
<div class="row-fluid">

 <div class="col-sm-3">
		<br class="br-hide" />

	 <div class="eventwrapsmall">

		 <img src="/images/events/terrific-trees.jpg" alt="Terrific Trees Garden Adventures at Red Butte Garden" title="Terrific Trees Garden Adventures at Red Butte Garden" class="responsive" />

		 <div class="eventinfo">
			 <div class="eventname">TERRIFIC TREES</div>
			 <div class="eventdate">SATURDAY, MAY 5</div>
		 </div>

	 </div>

 </div>

 <div class="col-sm-9">

	 <h3 class="text-center green">Terrific Trees</h3>

	 <p class="text-center">REGISTRATION REQUIRED</p>

	 <div class="tan-bg">
	 <br />
	 <h4 class="text-center bold green">SATURDAY, MAY 5 @ 10AM - 11:30AM</h4>

	 <center>
		 <a href= "https://55218.blackbaudhosting.com/55218/Terrific-Trees-05May2018">{% include register-button.html %}</a>
	 </center>
   </div>

	 <br />
	 <p class="text-center bold">Arbor Day may be over, but that doesn’t mean our celebration of trees has to end! Explore the fascinating world of trees and discover the different varieties found in the Garden. At the end of class, receive a tree seedling to take home and plant in your yard.</p>

 </div>

</div>
<!--End Terrific Trees

<br /><hr width="95%" /><br />

<!--Begin Busy Bees
<div class="row-fluid">

 <div class="col-sm-3">
		<br class="br-hide" />

	 <div class="eventwrapsmall">

		 <img src="/images/events/busy-bees.jpg" alt="Busy Bees Garden Adventures at Red Butte Garden" title="Busy Bees Garden Adventures at Red Butte Garden" class="responsive" />

		 <div class="eventinfo">
			 <div class="eventname">BUSY BEES</div>
			 <div class="eventdate">SATURDAY, MAY 19</div>
		 </div>

	 </div>

 </div>

 <div class="col-sm-9">

	 <h3 class="text-center green">Busy Bees</h3>

	 <p class="text-center">REGISTRATION REQUIRED</p>

	 <div class="tan-bg">
	 <br />
	 <h4 class="text-center bold green">SATURDAY, MAY 19 @ 10AM - 11:30AM</h4>

	 <center>
		 <a href= "https://55218.blackbaudhosting.com/55218/Busy-Bees-19May2018">{% include register-button.html %}</a>
	 </center>
   </div>

	 <br />
	 <p class="text-center bold">Did you know that the honeybee is the official state insect of Utah? Through explorations in the Garden, a bee-utiful craft, and more we’ll learn about this industrious bug and the important role it plays in helping the Garden “bee” amazing!</p>

 </div>

</div>
<!--End Busy Bees

<br /><hr width="95%" /><br />
<!--Begin Perfect Pollinators
<div class="row-fluid">

 <div class="col-sm-3">
		<br class="br-hide" />

	 <div class="eventwrapsmall">

		 <img src="/images/events/perfect-pollinators.jpg" alt="Perfect Pollinators Garden Adventures at Red Butte Garden" title="Perfect Pollinators Garden Adventures at Red Butte Garden" class="responsive" />

		 <div class="eventinfo">
			 <div class="eventname">PERFECT POLLINATORS</div>
			 <div class="eventdate">SATURDAY, JUNE 23</div>
		 </div>

	 </div>

 </div>

 <div class="col-sm-9">

	 <h3 class="text-center green">Perfect Pollinators</h3>

	 <p class="text-center">REGISTRATION REQUIRED</p>

	 <div class="tan-bg">
	 <br />
	 <h4 class="text-center bold green">SATURDAY, JUNE 23 @ 10AM - 11:30AM</h4>

	 <center>
		 <a href= "https://55218.blackbaudhosting.com/55218/Perfect-Pollinators-23Jun2018">{% include register-button.html %}</a>
	 </center>
   </div>

		<br />
		<p class="text-center bold">It’s National Pollinator Week (June 20-26) and we’re celebrating up in the Sprout House. Explore the amazing things pollinators do and learn why these little critters are a vital part of the environment. Then create a pollinator habitat to take home with you.
(LEGO themed)</p>

 </div>

</div>
<!--End Perfect Pollinators

<br /><hr width="95%" /><br />
<!--Begin Plantiful Pizza
<div class="row-fluid">

 <div class="col-sm-3">
		<br class="br-hide" />

	 <div class="eventwrapsmall">

		 <img src="/images/events/plantiful-pizza.jpg" alt="Plantiful Pizza Garden Adventures at Red Butte Garden" title="Plantiful Pizza Garden Adventures at Red Butte Garden" class="responsive" />

		 <div class="eventinfo">
			 <div class="eventname">PLANTIFUL PIZZA</div>
			 <div class="eventdate">SATURDAY, JULY 14</div>
		 </div>

	 </div>

 </div>

 <div class="col-sm-9">

	 <h3 class="text-center green">Plantiful Pizza</h3>

	 <p class="text-center">REGISTRATION REQUIRED</p>

	 <div class="tan-bg">
	 <br />
	 <h4 class="text-center bold green">SATURDAY, JULY 14 @ 10AM - 11:30AM</h4>

	 <center>
		 <a href= "https://55218.blackbaudhosting.com/55218/Plantiful-Pizza-14Jul2018">{% include register-button.html %}</a>
	 </center>
   </div>

		<br />
		<p class="text-center bold">From sage and basil to tomatoes and peppers, you can put almost any plant on a pizza! Learn more about this tasty Italian dish and the plants that help make it oh-so delicious. Then, create your own scrumptious mini pizza using a variety of flavorful plants.</p>

 </div>

</div>
<!--End Plantiful Pizza

<br /><hr width="95%" /><br />
<!--Begin Incredible Ice Cream
<div class="row-fluid">

 <div class="col-sm-3">
		<br class="br-hide" />

	 <div class="eventwrapsmall">

		 <img src="/images/events/incredible-ice-cream.jpg" alt="Incredible Ice Cream Garden Adventures at Red Butte Garden" title="Incredible Ice Cream Garden Adventures at Red Butte Garden" class="responsive" />

		 <div class="eventinfo">
			 <div class="eventname">INCREDIBLE ICE CREAM</div>
			 <div class="eventdate">SATURDAY, AUGUST 18</div>
		 </div>

	 </div>

 </div>

 <div class="col-sm-9">

	 <h3 class="text-center green">Incredible Ice Cream</h3>

	 <p class="text-center">REGISTRATION REQUIRED</p>

	 <div class="tan-bg">
	 <br />
	 <h4 class="text-center bold green">SATURDAY, AUGUST 18 @ 10AM - 11:30AM</h4>

	 <center>
		 <a href= "https://55218.blackbaudhosting.com/55218/Incredible-Ice-Cream-18Aug2018">{% include register-button.html %}</a>
	 </center>
   </div>

		<br />
		<p class="text-center bold">Summer might be ending, but we’re having one last celebration in the Sprout House—with ice cream! Join us as we explore the science of making this frozen treat and investigate the plants that help make it oh-so tasty. Then, we’ll mix up a batch of homemade ice cream and flavor it with a few common (and not-so-common!) plants.</p>

 </div>

</div>
<!--Incredible Ice Cream-->

<br /><hr width="95%" /><br />
