---
title: "Lil Buds Preshool Preview"
layout: "default"
keywords: "lil buds, preschool, summer, camp"
published: true
---
<!--<div class="row-fluid">
	<img src="/images/banners/1st-2nd-grade-summer-camp.jpg" class="responsive" alt="first and second grade summer camp" title="1st and 2nd grade summer camp" />
</div>-->

<div class="text-center lilbuds-title-div">
<h2 class="green gardening-title">LIL' BUDS CLASSES</h2>
<h2 class="green gardening-subtitle">Preschool Preview</h2>
<h4 class="green gardening-subtitle">Day camps for preschool children (ages 3-4) and a caregiver.</h4>
</div>
<br />

<div class="row-fluid">

<p class="text-center">Give your lil’ bud a jump start on preschool topics all while having a fun time with new friends. Through games, crafts and garden explorations you can help your lil’ bud discover how fun learning can be!</p>

<a href="/lil-buds"><p class="text-center">Back to main Lil' Buds page</p></a>

<p class="text-center"><strong>2019 Registration Opens: Monday, February 25 at 9AM for Garden Members / Wednesday, February 27 at 9AM to the General Public.</strong></p>

<p class="text-center"><strong>Check back soon for updated 2019 Lil' Buds classes!</strong></p>

<!--<p class="text-center"><strong>Click the panels below for information about each camp.</strong></p>-->

<div class="panel-group" id="accordion01">

	<!-- Colors Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#colors">
	  	<div class="panel-heading" style="background-color:#91CCED;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Colors</h4>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">MONDAY, JUNE 10</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">10:30AM - NOON<br /></h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="colors" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Preschool</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 3 - 4</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 10<br />Monday<br />10:30AM - NOON <br /></h5>
				</div>

			</div>

			<p class="text-center">Brighten your Lil’ Bud’s day as we explore the rainbow of colors found in the natural world. </p>

			<center>

				<a href="https://55218.blackbaudhosting.com/55218/Lil-Buds-Colors-10Jun2019"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden Children's Garden - Em's Sprout House </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST per child - Caregiver included:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $16 <strong>Public:</strong> $20</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Colors End-->

	<!-- Letters Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#letters">
				<div class="panel-heading" style="background-color:#63B7E6;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Letters</h4>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">MONDAY, JUNE 17</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">10:30AM - NOON<br /></h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="letters" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Preschool</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 3 - 4</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 17<br />Monday<br />10:30AM - NOON <br /></h5>
				</div>

			</div>

			<p class="text-center">From A to Z, discover the letters of the alphabet with the help of Chauncey, the Red Butte Garden Gnome, and his favorite plants.</p>

			<center>

				<a href="https://55218.blackbaudhosting.com/55218/Lil-Buds-Letters-17Jun2019"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden Children's Garden - Em's Sprout House </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST per child - Caregiver included:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $16 <strong>Public:</strong> $20</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Letters End-->

	<!-- Numbers start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#numbers">
	  	<div class="panel-heading" style="background-color:#91CCED;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">Numbers</h4>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">MONDAY, JUNE 24</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">10:30AM - NOON</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="numbers" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Preschool</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 3 - 4</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 24<br />Monday<br />10:30AM - NOON<br />
					</h5>
				</div>

			</div>

			<p class="text-center">One, two, three, how many plants do you see? Count on a fun time as we hunt for numbers hidden in the trees, flowers, and shrubs found in the Garden.</p>

			<center>

				<a href="https://55218.blackbaudhosting.com/55218/Lil-Buds-Numbers-24Jun2019"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION</h5>
					<p class="text-center">Red Butte Garden Children's Garden - Em's Sprout House </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST per child - Caregiver included:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $16 <strong>Public:</strong> $20</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Numbers End-->

	<!-- Opposites Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#opposites">
			<div class="panel-heading" style="background-color:#63B7E6;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Opposites</h4>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">MONDAY, JULY 8</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">10:30AM - NOON<br /></h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="opposites" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Preschool</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 3 - 4</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JULY 8<br />Monday<br />10:30AM - NOON <br />
				</div>

			</div>

			<p class="text-center">Tall, short, rough, smooth, hard, soft — the natural world is filled with differences! Discover the world of opposites using the plants and animals of the Garden.</p>

			<center>

				<a href="https://55218.blackbaudhosting.com/55218/Lil-Buds-Opposites-08Jul2019"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATIONS:</h5>
					<p class="text-center">Red Butte Garden Children's Garden - Em's Sprout House</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST per child - Caregiver included:</h5>
					<p class="text-center"><strong>Garden Members:</strong> $16 <strong>Public:</strong> $20</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Opposites End-->

	<!-- Shapes Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#shapes">
			<div class="panel-heading" style="background-color:#91CCED;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">Shapes</h4>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">MONDAY, JULY 15</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">10:30AM - NOON</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="shapes" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Preschool</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 3 - 4</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JULY 15<br />Monday<br />10:30AM - NOON<br />
				</div>

			</div>

			<p class="text-center">From triangular trees to circular flowers, we’ll explore the different shapes found in the natural world. Be there, or be square!  </p>

			<center>

				<a href="https://55218.blackbaudhosting.com/55218/Lil-Buds-Shapes-15Jul2019"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden Children's Garden - Em's Sprout House</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST per child - Caregiver included</h5>
					<p class="text-center"><strong>Garden Members:</strong> $16 <strong>Public:</strong> $20</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Shapes End-->

</div>
