---
title: "Lil Buds How Does Your Garden Grow?"
layout: "default"
published: true
---
<!--<div class="row-fluid">
	<img src="/images/banners/1st-2nd-grade-summer-camp.jpg" class="responsive" alt="first and second grade summer camp" title="1st and 2nd grade summer camp" />
</div>-->

<div class="text-center lilbuds-title-div">
<h2 class="green gardening-title">LIL' BUDS CLASSES</h2>
<h2 class="green gardening-subtitle">How Does Your Garden Grow?</h2>
<h4 class="green gardening-subtitle">For preschoolers ages 3-4 and a caregiver.</h4>
</div>
<br />

<div class="row-fluid">

<p class="text-center">Dig into the basics of botany and learn about world of plants. We'll explore flowers, trees, shrubs, and more with activities perfectly suited for your Lil' Bud like plant-inspired art projects, fun games, plant-based snacks, botanical picture books, and more.</p>

<a href="/lil-buds"><p class="text-center">Back to main Lil' Buds page</p></a>

<!--<p class="text-center"><strong>2020 registration opens February 24 for Garden members and February 26 to the public.</strong></p>-->

<!--<p class="text-center"><strong>Check back in mid/late January for updated 2020 Lil' Buds classes!</strong></p>-->

<p class="text-center"><strong>Click the panels below for information about each camp.</strong></p>

<div class="panel-group" id="accordion01">

	<!-- Roots Start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#colors">
	  	<div class="panel-heading" style="background-color:#91CCED;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">PLANT PARTS</h4>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">THURSDAY, JUNE 4</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">10 - 11:30AM<br /></h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="colors" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Preschool</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 3 - 4</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 4<br />Thursday<br />10 - 11:30AM <br /></h5>
				</div>

			</div>

			<p class="text-center">Plants are living things with roots, stems, leaves, flowers, and more. We'll investigate each plant part and learn how it helps the plant to grow.</p>

			<center>

				<a href="https://55218.blackbaudhosting.com/55218/Lil-Buds-Roots"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden Children's Garden - Em's Sprout House </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST per child - Caregiver included:</h5>
					<p class="text-center"><strong>Garden members:</strong> $16 <strong>Public:</strong> $20</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Roots End-->

	<!-- Stems Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#letters">
				<div class="panel-heading" style="background-color:#63B7E6;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">PLANT CARE</h4>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">THURSDAY, JUNE 11</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">10 - 11:30AM<br /></h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="letters" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Preschool</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 3 - 4</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 11<br />Thursday<br />10 - 11:30AM <br /></h5>
				</div>

			</div>

			<p class="text-center">Did you know all living things need certain things to grow? Come explore what plants need and find out how you can help them grow.</p>

			<center>

				<a href="https://55218.blackbaudhosting.com/55218/Lil-Buds--Stems"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden Children's Garden - Em's Sprout House </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST per child - Caregiver included:</h5>
					<p class="text-center"><strong>Garden members:</strong> $16 <strong>Public:</strong> $20</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Stems End-->

	<!-- Leaves start -->
	<div class="panel panel-default">
	  <a data-toggle="collapse" data-parent="#accordion01" href="#numbers">
	  	<div class="panel-heading" style="background-color:#91CCED;">
	        <div class="panel-title">

	        	<div class="row">
		        	<div class="col-xs-4">
		        		<h4 class="text-center white">EATING PLANTS</h4>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">THURSDAY, JUNE 18</h5>
		        	</div>

		        	<div class="col-xs-4">
		        		<h5 class="text-center white">10 - 11:30AM</h5>
		        	</div>
	        	</div>

	        </div>
		</div>
	  </a>
	  <div id="numbers" class="panel-collapse collapse">
	    <div class="panel-body">

	    	<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Preschool</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 3 - 4</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 18<br />Thursday<br />10 - 11:30AM<br />
					</h5>
				</div>

			</div>

			<p class="text-center">Did you know some of your favorite foods are actually parts of a plant? Discover the tasty pieces of plants we eat everyday and learn how roots, stems, leaves, and even flowers make great snacks.</p>

			<center>

				<a href="https://55218.blackbaudhosting.com/55218/Lil-Buds--Leaves"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION</h5>
					<p class="text-center">Red Butte Garden Children's Garden - Em's Sprout House </p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST per child - Caregiver included:</h5>
					<p class="text-center"><strong>Garden members:</strong> $16 <strong>Public:</strong> $20</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
	  </div>
	</div>
	<!-- Leaves End-->

	<!-- Flowers Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#opposites">
			<div class="panel-heading" style="background-color:#63B7E6;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">PLANT USES</h4>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">THURSDAY, JUNE 25</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">10 - 11:30AM<br /></h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="opposites" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Preschool</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 3 - 4</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JUNE 25<br />Thursday<br />10 - 11:30AM <br />
				</div>

			</div>

			<p class="text-center">Did you know plants are used to make clothes, books, furniture, and even candy? Explore all the ways humans use plants and then create a "plant-astic" project to take home.</p>

			<center>

				<a href="https://55218.blackbaudhosting.com/55218/Lil-Buds--Flowers"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATIONS:</h5>
					<p class="text-center">Red Butte Garden Children's Garden - Em's Sprout House</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST per child - Caregiver included:</h5>
					<p class="text-center"><strong>Garden members:</strong> $16 <strong>Public:</strong> $20</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Flowers End-->

	<!-- Seeds Start -->
	<div class="panel panel-default">
		<a data-toggle="collapse" data-parent="#accordion01" href="#shapes">
			<div class="panel-heading" style="background-color:#91CCED;">
					<div class="panel-title">

						<div class="row">
							<div class="col-xs-4">
								<h4 class="text-center white">LET'S PLANT!</h4>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">THURSDAY, JULY 2</h5>
							</div>

							<div class="col-xs-4">
								<h5 class="text-center white">10 - 11:30AM</h5>
							</div>
						</div>

					</div>
		</div>
		</a>
		<div id="shapes" class="panel-collapse collapse">
			<div class="panel-body">

				<div class="row">

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">GRADE:</span> Preschool</h5>
				</div>

				<div class="col-xs-6 col-sm-4">
					<h5 class="text-center"><span class="green">AGES:</span> 3 - 4</h5>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center"><span class="green">SESSION:</span> JULY 2<br />Thursday<br />10 - 11:30AM<br />
				</div>

			</div>

			<p class="text-center">Did you know gardening can be fun? Dig, plant, water, and weed your way to fun as you we learn the basics of how to plant a garden. Then, create and plant your own mini-garden to take home.</p>

			<center>

				<a href="https://55218.blackbaudhosting.com/55218/Lil-Buds--Seeds-and-Fruit"> {% include register-button.html %} </a>

				<!--<p class="red">SOLD OUT! Click Below To Be Added to Waiting List</p>-->
				<!--<a href="https://redbuttegarden.formstack.com/forms/summer_camp_waitlist"><input type="submit" name="Apply-Button" value="Waiting List" class="apply-button hover" /></a>-->
			</center>

			<br />

			<div class="row">

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">LOCATION:</h5>
					<p class="text-center">Red Butte Garden Children's Garden - Em's Sprout House</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">COST per child - Caregiver included</h5>
					<p class="text-center"><strong>Garden Members:</strong> $16 <strong>Public:</strong> $20</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<h5 class="text-center green">CONTACT INFORMATION:</h5>
					<p class="text-center bold">801-581-8454</p>
				</div>

			</div>

		</div>
		</div>
	</div>
	<!-- Seeds End-->

</div>
