---
title: Spring Events | Red Butte Garden
layout: default
---

<div class="row-fluid">
	<img src="/images/banners/spring-events.jpg" class="responsive" alt="Spring Events at Red Butte Garden" title="Spring Events at Red Butte Garden" />
</div>

<div class="row-fluid">

	<!-- SPRING PLANT SALE
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a href="/spring-plant-sale">
			<div class="eventwrapsmall hover">

				<img src="/images/events/spring-plant-sale.jpg">

				<div class="eventinfo">
					<div class="eventname">2018 ANNUAL SPRING PLANT SALE</div>
					<div class="eventdate">Member Benefit Day: FRIDAY, MAY 11 <br /> General Public: SATURDAY, MAY 12</div>
					<div class="eventnotes">Fri &amp; Sat - free admission for garden members<br /> Sat - free public admission</div>
				</div>

			</div>
			</a>
		</div>
	 SPRING PLANT SALE-->

  {% for post in site.categories.spring reversed %}
    {% if post.url %}
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<a href="{{ post.url }}">
		<div class="eventwrapsmall hover">

			<img src="/images/events/{{ post.event-image }}">

			<div class="eventinfo">
				<div class="eventname">{{ post.title }}</div>
				<div class="eventdate">{{ post.event-dates }}</div>
				<div class="eventnotes">{{ post.event-notes}}</div>
			</div>

		</div>
		</a>
	</div>
    {% endif %}
  {% endfor %}

</div>
