---
title: "Summer Events | Red Butte Garden"
layout: "default"
published: true
---

<div class="row-fluid">
	<img src="/images/banners/summer-events.jpg" class="responsive" alt="Summer Events at Red Butte Garden" title="Summer Events at Red Butte Garden" />
</div>

<div class="row-fluid">

	<!-- BEGIN Art Exhibits  -->
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a href="/exhibits">
			<div class="eventwrapsmall hover">

				<img src="/images/events/lucy-peterson-watkins-exhibit.jpg">

				<div class="eventinfo">
					<div class="eventname">ART EXHIBITS</div>
					<div class="eventdate">in the Visitor Center </div>
				</div>

			</div>
			</a>
		</div>
	 <!-- END Art Exhibits -->

	<!-- BEGIN NORMAL SUMMER EVENTS -->

  {% for post in site.categories.summer reversed %}
    {% if post.url %}
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<a href="{{ post.url }}">
		<div class="eventwrapsmall hover">

			<img src="/images/events/{{ post.event-image }}">

			<div class="eventinfo">
				<div class="eventname">{{ post.title }}</div>
				<div class="eventdate">{{ post.event-dates }}</div>
				<div class="eventnotes">{{ post.event-notes}}</div>
			</div>

		</div>
		</a>
	</div>
    {% endif %}
  {% endfor %}

</div>
