---
title: "Summer Events | Red Butte Garden"
layout: "default"
published: true
---

<div class="eventdivide">
		<hr class="summer-banner">
			<div class="grid-header">SUMMER EVENTS</div>		
		<hr class="summer-banner">
</div>

<div class="row-fluid">
<!--
  {% for post in site.categories.summer %}
    {% if post.url %}        
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<a href="{{ post.url }}">
		<div class="eventwrapsmall hover">
		
			<img src="../images/events/{{ post.event-image }}">
			
			<div class="eventinfo">
				<div class="eventname">{{ post.title }}</div>
				<div class="eventdate">{{ post.event-dates }}</div>
				<div class="eventnotes">{{ post.event-notes}}</div>
			</div>
	
		</div>
		</a> 
	</div>
    {% endif %} 
  {% endfor %}
-->

  {% for post in site.categories.summer %}
    {% if page.last_modified_at %}        
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<a href="{{ post.url }}">
		<div class="eventwrapsmall hover">
		
			<img src="../images/events/{{ post.event-image }}">
			
			<div class="eventinfo">
				<div class="eventname">{{ post.title }}</div>
				<div class="eventdate">{{ post.event-dates }}</div>
				<div class="eventnotes">{{ post.event-notes}}</div>
			</div>
	
		</div>
		</a> 
	</div>
    {% endif %} 
  {% endfor %}


	
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<!-- Begin GROW YOUR OWN HERBS Event-->
		<div class="eventwrapsmall hover">
		
			<img src="../images/events/grow-herbs.jpg">
			
			<div class="eventinfo">
				<div class="eventname">GROW YOUR OWN HERBS</div>
				<div class="eventdate">MAY 9 &amp; 16</div>
				<div class="eventnotes">&nbsp;</div>
			</div>
	
		</div>
		<!-- End GROW YOUR OWN HERBS Event -->
	</div>

</div>
