<br />
<table>
	<tr>
		<td class="td-title">ADMISSION:</td>
		<td class="td-padding"></td>
	</tr>
	<tr>
		<td>MEMBERS:</td>
		<td class="td-padding">FREE</td>
	</tr>
	<tr>
		<td>ADULTS (ages 18-64):</td>
		<td class="td-padding strikethrough"><span class="inner">$<span id="adults-adm">12</span></span><span class="no-strike" id="adult-half">&nbsp;&nbsp;$6</span></td>
	</tr>
	<tr>
		<td>SENIORS (ages 65+):</td>
		<td class="td-padding strikethrough"><span class="inner">$<span id="senior-adm">10</span></span><span class="no-strike" id="senior-half">&nbsp;&nbsp;$5</span></td>
	</tr>
	<tr>
		<td>MILITARY w/ID:</td>
		<td class="td-padding strikethrough"><span class="inner">$<span id="mil-adm">10</span></span><span class="no-strike" id="mil-half">&nbsp;&nbsp;$5</span></td>
	</tr>
	<tr>
		<td>CHILDREN (ages 3-17):</td>
		<td class="td-padding strikethrough"><span class="inner">$<span id="child-adm">7</span></span><span class="no-strike" id="child-half">&nbsp;&nbsp;$3.50</span></td>
	</tr>
	<tr>
		<td>CHILDREN (under 3):</td>
		<td class="td-padding">FREE</td>
	</tr>
	<tr>
		<td>UofU FACULTY/STAFF:</td>
		<td class="td-padding strikethrough"><span class="inner">$10</span><span class="no-strike">&nbsp;$5</span></td>
	</tr>
	<tr class="tr-final">
		<td class="td-final1">UofU STUDENTS:</td>
		<td class="td-final2">FREE w/VALID ID</td>
	</tr>	
</table>
<div id="admissionDiscount2"></div>