<!-- Original admission.html, commented out for BOOtanical (replaced sub-comments with ~~)

<br />
<table>
	<tr>
		<td class="td-title">ADMISSION:</td>
		<td class="td-padding"></td>
	</tr>
	<tr>
		<td>MEMBERS:</td>
		<td class="td-padding">FREE</td>
	</tr>
	<tr>
	<!~~ ADULT ADMISSION PRICE ~~>
		<td>ADULTS (ages 18-64):</td>
		<td class="td-padding">
			$<span id="adult-adm">14</span>
			<span id="adult-half"></span>
		</td>

	</tr>
	<tr>
	<!~~ SENIOR ADMISSION PRICE ~~>
		<td>SENIORS (ages 65+):</td>
		<td class="td-padding">
			$<span id="senior-adm">12</span>
			<span id="senior-half"></span>
		</td>
	</tr>
	<tr>
	<!~~ MILITARY ADMISSION PRICE ~~>
		<td>MILITARY w/ID:</td>
		<td class="td-padding">
			$<span id="mil-adm">12</span>
			<span id="mil-half"></span>
		</td>
	</tr>
	<tr>
	<!~~ CHILD 3-7 ADMISSION PRICE ~~>
		<td>CHILDREN (ages 3-17):</td>
		<td class="td-padding">
			$<span id="child-adm">7</span>
			<span id="child-half"></span>
		</td>
	</tr>
	<tr>
		<td>CHILDREN (under 3):</td>
		<td class="td-padding">FREE</td>
	</tr>
	<tr>
	<!~~ STAFF/FACULTY ADMISSION PRICE ~~>
		<td>UofU FACULTY/STAFF:</td>
		<td class="td-padding">
			$<span id="staff-adm">12</span>
			<span id="staff-half"></span>
		</td>

	</tr>
	<tr class="tr-final">
		<td class="td-final1">UofU STUDENTS:</td>
		<td class="td-final2">FREE w/VALID ID</td>
	</tr>
</table>

End original code for BOOtanical comment -->

<!-- Begin special BOOtanical code added October 2020 -->

<br />
<table>
	<tr>
		<td class="td-title">ADMISSION:</td>
		<td class="td-padding"></td>
	</tr>
	<tr>
		<td>MEMBERS:</td>
		<td class="td-padding">FREE</td>
	</tr>
	<tr>
		<td class="td-title">Non-Members:</td>
		<td class="td-padding"></td>
	</tr>
	<tr>
	<!-- BOOtanical Mondays PRICE -->
		<td>Mondays 9am-9pm:</td>
		<td class="td-padding">
			<span id="non-mem-mon-adm">FREE</span>
		</td>

	</tr>
	<tr>
	<!-- BOOtanical TU-SU DAY PRICE -->
		<td>Tue-Sun 9am-4pm:</td>
		<td class="td-padding">
			<span id="non-mem-day-adm">FREE</span>
		</td>
	</tr>
	<tr>
	<!-- BOOtanical TU-SU EVE PRICE -->
		<td>Tue-Sun 5pm-9pm:</td>
		<td class="td-padding">
			$<span id="non-mem-eve-adm">5</span>
		</td>
	</tr>
	<tr>
</table>

<p style="text-align:center; font-size:75%">Admission prices will change to normal prices in November</p>

<!-- End special BOOtanical code -->

<div id="admissionDiscount"></div>
<br />
