<div class="concert-print-wrapper">

  <h2 class="text-center">Red Butte Garden 2019 Outdoor Concert Series</h2>

  <table class="text-center">
    <tr>
      <th colspan="2">Date</th>
      <th colspan="1">Concert</th>
      <th colspan="1">Member</th>
      <th colspan="1">Public</th>
      <th colspan="1">Day of Show</th>
    </tr>

    <tr>
      <td>Fri</td>
      <td>5/31</td>
      <td>Béla Fleck &amp; The Flecktones w/Billy Strings</td>
      <td>$45</td>
      <td>$50</td>
      <td>$52</td>
    </tr>

    <tr>
      <td>Wed</td>
      <td>6/5</td>
      <td>Little Feat</td>
      <td>$42</td>
      <td>$47</td>
      <td>$49</td>
    </tr>

    <tr>
      <td>Thur</td>
      <td>6/6</td>
      <td>A Concert Version of Joseph and the Amazing Technicolor Dreamcoat</td>
      <td>$30</td>
      <td>$35</td>
      <td>$37</td>
    </tr>

    <tr>
      <td>Tues</td>
      <td>6/25</td>
      <td>Howard Jones w/Men Without Hats</td>
      <td>$45</td>
      <td>$47</td>
      <td>$49</td>
    </tr>

    <tr>
      <td>Wed</td>
      <td>6/26</td>
      <td>Lucinda Williams and her band Buick 6</td>
      <td>$35</td>
      <td>$40</td>
      <td>$42</td>
    </tr>

    <tr>
      <td>Thurs</td>
      <td>6/27</td>
      <td>Greensky Bluegrass w/Lil Smokies</td>
      <td>$35</td>
      <td>$40</td>
      <td>$42</td>
    </tr>

    <tr>
      <td>Wed</td>
      <td>6/27</td>
      <td>Utah Symphony's Patriotic Celebration w/Hugh Panaro</td>
      <td>$34</td>
      <td>$39</td>
      <td>$41</td>
    </tr>

    <tr>
      <td>Wed</td>
      <td>7/10</td>
      <td>Galactic w/Karl Denson's Tiny Universe</td>
      <td>$33</td>
      <td>$38</td>
      <td>$40</td>
    </tr>

    <tr>
      <td>Thurs</td>
      <td>7/11</td>
      <td>Pink Martini w/China Forbes</td>
      <td>$42</td>
      <td>$47</td>
      <td>$49</td>
    </tr>

    <tr>
      <td>Sun</td>
      <td>7/14</td>
      <td>Lyle Lovett and his Large Band</td>
      <td>$48</td>
      <td>$53</td>
      <td>$55</td>
    </tr>

    <tr>
      <td>Thurs</td>
      <td>7/18</td>
      <td>Seal</td>
      <td>$70</td>
      <td>$75</td>
      <td>$78</td>
    </tr>

    <tr>
      <td>Tues</td>
      <td>7/23</td>
      <td>Nathaniel Rateliff & The Night Sweats w/Lucius</td>
      <td>$50</td>
      <td>$55</td>
      <td>$58</td>
    </tr>

    <tr>
      <td>Fri</td>
      <td>7/26</td>
      <td>Trampled By Turtles w/Dead South</td>
      <td>$37</td>
      <td>$42</td>
      <td>$44</td>
    </tr>

    <tr>
      <td>Tues</td>
      <td>7/30</td>
      <td>John Prine w/I'm With Her</td>
      <td>$60</td>
      <td>$65</td>
      <td>$67</td>
    </tr>

    <tr>
      <td>Sun</td>
      <td>8/4</td>
      <td>Umphrey's McGee w/Pigeons Playing Ping Pong</td>
      <td>$37</td>
      <td>$42</td>
      <td>$44</td>
    </tr>

    <tr>
      <td>Mon</td>
      <td>8/5</td>
      <td>Jonny Lang / JJ Grey &amp; Mofro</td>
      <td>$46</td>
      <td>$51</td>
      <td>$53</td>
    </tr>

    <tr>
      <td>Wed</td>
      <td>8/7</td>
      <td>Mandolin Orange</td>
      <td>$32</td>
      <td>$37</td>
      <td>$39</td>
    </tr>

    <tr>
      <td>Fri</td>
      <td>8/9</td>
      <td>The Mighty O.A.R. w/American Authors</td>
      <td>$53</td>
      <td>$58</td>
      <td>$60</td>
    </tr>

    <tr>
      <td>Tues</td>
      <td>8/13</td>
      <td>Shakey Graves / Dr. Dog</td>
      <td>$38</td>
      <td>$43</td>
      <td>$45</td>
    </tr>

    <tr>
      <td>Wed</td>
      <td>8/14</td>
      <td>Lord Huron</td>
      <td>$40</td>
      <td>$45</td>
      <td>$48</td>
    </tr>

    <tr>
      <td>Fri</td>
      <td>8/16</td>
      <td>The B-52s w/OMD &amp; Berlin</td>
      <td>$73</td>
      <td>$78</td>
      <td>$80</td>
    </tr>

    <tr>
      <td>Mon</td>
      <td>8/19</td>
      <td>Steve Miller Band / Marty Stuart and his Fabulous Superlatives</td>
      <td>$82</td>
      <td>$87</td>
      <td>$89</td>
    </tr>

    <tr>
      <td>Mon</td>
      <td>8/26</td>
      <td>The Stray Cats</td>
      <td>$74</td>
      <td>$79</td>
      <td>$81</td>
    </tr>

    <tr>
      <td>Wed</td>
      <td>8/28</td>
      <td>The Wood Brothers / Colter Wall</td>
      <td>$35</td>
      <td>$40</td>
      <td>$42</td>
    </tr>

    <tr>
      <td>Thurs</td>
      <td>8/29</td>
      <td>Amos Lee w/Madison Cunningham</td>
      <td>$40</td>
      <td>$45</td>
      <td>$47</td>
    </tr>

    <tr>
      <td>Wed</td>
      <td>9/4</td>
      <td>Gov't Mule</td>
      <td>$37</td>
      <td>$42</td>
      <td>$45</td>
    </tr>

    <tr>
      <td>Fri</td>
      <td>9/6</td>
      <td>Gary Clark Jr.</td>
      <td>$58</td>
      <td>$63</td>
      <td>$65</td>
    </tr>

    <tr>
      <td>Wed</td>
      <td>9/11</td>
      <td>Mark Knopfler</td>
      <td>$87</td>
      <td>$92</td>
      <td>$94</td>
    </tr>

    <tr>
      <td>Sun</td>
      <td>9/15</td>
      <td>Boz Scaggs</td>
      <td>$45</td>
      <td>$50</td>
      <td>$52</td>
    </tr>

    <tr>
      <td>Thurs</td>
      <td>9/19</td>
      <td>Jason Isbell and The 400 Unit</td>
      <td>$57</td>
      <td>$62</td>
      <td>$64</td>
    </tr>

    <tr>
      <td>Mon</td>
      <td>9/23</td>
      <td>Tash Sultana w/The Teskey Brothers</td>
      <td>$40</td>
      <td>$45</td>
      <td>$47</td>
    </tr>

  </table>

</div>
