

<div>
	<a href="/concerts">
		<img u="image" src2="/images/slideshow/outdoor-concert-series.jpg" alt="Outdoor Concert Series" title="Outdoor Concert Series"/>
		<div class="slide-description">RED BUTTE GARDEN<br /> OUTDOOR CONCERT SERIES</div>
	</a>
</div>

<div>
	<a href="/summer">
		<img u="image" src2="/images/slideshow/spring-events.jpg" alt="Red Butte Garden Events" title="Red Butte Garden Events"/>
		<div class="slide-description">SUMMER EVENTS </div>
	</a>
</div>

<div>
	<a href="/adult-education">
		<img u="image" src2="/images/slideshow/classes-workshops.jpg" alt="Classes and Workshops for Adults" title="Classes and Workshops for Adults"/>
		<div class="slide-description">CLASSES &AMP; WORKSHOPS<br />FOR ADULTS</div>
	</a>
</div>

<div>
	<a href="/kids-classes">
		<img u="image" src2="/images/slideshow/summer-camp.jpg" alt="Camps and Classes for Kids" title="Camps and Classes for Kids"/>
		<div class="slide-description">GARDEN ADVENTURES<br />&AMP; CLASSES FOR KIDS</div>
	</a>
</div>

<div>
	<a href="/water-conservation-garden-page">
		<img u="image" src2="/images/slideshow/wcg-grand-opening.jpg" />
		<div class="slide-description">WATER CONSERVATION GARDEN<br />DISCOVER THE BEAUTY OF ADAPTATION</div>
	</a>
</div>

<!--
<div>
	<a href="/glass-art-show">
		<img u="image" src2="/images/slideshow/glass-art-show-slide.jpg" alt="Glass Art Show" title="Glass Art Show"/>
		<div class="slide-description">GLASS ART SHOW<br />NOVEMBER 3 - DECEMBER 18</div>
	</a>

	<div>
		<a href="https://55218.blackbaudhosting.com/55218/Use-Where-Needed-Most">
			<img u="image" src2="/images/slideshow/give-to-the-garden.jpg" />
			<div class="slide-description">INSPIRE ADVENTURE, CURIOSITY &amp; HOPE <br />GIVE TO THE GARDEN</div>
		</a>
	</div>

</div>-->

<!-- This is the format that you will need for each picture - make sure to replace the # with an actual link or URL, and replace the src2 code with the proper image reference
<div>
	<a href="#">
		<img u="image" src2="/images/slideshow/event01.jpg" />
		<div class="slide-description">DESCRIPTION GOES HERE</div>
	</a>
</div>
-->
