<div>
	<a href="/concerts">
		<img u="image" src2="/images/slideshow/concerts.jpg" />
		<div class="slide-description">2017 OUTDOOR CONCERT SERIES</div>
	</a>
</div>

<div>
	<a href="/summer-camp">
		<img u="image" src2="/images/slideshow/summer-camp.jpg" />
		<div class="slide-description">SUMMER CAMP</div>
	</a>
</div>

<div>
	<a href="/spring">
		<img u="image" src2="/images/slideshow/spring-events.jpg" />
		<div class="slide-description">SPRING EVENTS</div>
	</a>
</div>

<!--
<div>
	<a href="/spring-plant-sale">
		<img u="image" src2="/images/slideshow/spring-plant-sale.jpg" />
		<div class="slide-description">38<sup>th</sup> ANNUAL SPRING PLANT SALE</div>
	</a>
</div>
-->

<!-- This is the format that you will need for each picture - make sure to replace the # with a link or URL, and replace the src2 code with the proper image reference
<div>
	<a href="#">
		<img u="image" src2="/images/slideshow/event01.jpg" />
		<div class="slide-description">DESCRIPTION GOES HERE</div>
	</a>
</div>
-->
