

  <div>
	  <a href="/35-days-of-giving">
		  <img u="image" src2="/images/slideshow/35-years-annual-appeal.jpg" alt="Red Butte Garden Fundraiser" title="Red Butte Garden Fundraiser"/>
		  <div class="slide-description"></div>
	  </a>
  </div>

  <div>
	  <a href="/plan-your-garden-visit">
		  <img u="image" src2="/images/slideshow/fall-events-slide2.jpg" alt="Plan Your Garden Visit" title="Plan Your Garden Visit"/>
		  <div class="slide-description">Happy Holidays! <br /> Red Butte Garden will be closed Dec 24-Jan 31, 2021 </div>
	  </a>
  </div>

	<div>
		<a href="/virtual-garden-resources">
			<img u="image" src2="/images/slideshow/classes-workshops-2.jpg" alt="Red Butte Garden Classes" title="Red Butte Garden Classes"/>
			<div class="slide-description">Online Classes &amp; Virtual Resources</div>
		</a>
	</div>

  <div>
  	<a href="/glass-art-show">
  		<img u="image" src2="/images/slideshow/glass-art-show-slide.jpg" alt="Glass Art Show" title="Glass Art Show"/>
  		<div class="slide-description">Glass at the Garden <br /> November 7 - December 20</div>
  	</a>
  </div>


<!--<div>
	<a href="/memberships">
		<img u="image" src2="/images/slideshow/give-to-the-garden-floral-walk.jpg" />
		<div class="slide-description">BECOME A GARDEN MEMBER</div>
	</a>
</div>

<div>
	<a href="/kids-classes">
		<img u="image" src2="/images/slideshow/summer-camp.jpg" alt="Camps and Classes for Kids" title="Camps and Classes for Kids"/>
		<div class="slide-description">SUMMER CAMP<br />FOR KIDS</div>
	</a>
</div>

<!--<div>
	<a href="/water-conservation-garden-page">
		<img u="image" src2="/images/slideshow/water-conservation-garden.jpg" />
		<div class="slide-description">WATER CONSERVATION GARDEN<br />DISCOVER THE BEAUTY OF ADAPTATION</div>
	</a>
</div>-->

<!--
<div>
<a href="/garden-after-dark">
	<img u="image" src2="/images/slideshow/garden-after-dark.jpg" alt="Garden After Dark" title="Garden After dark"/>
	<div class="slide-description">GARDEN AFTER DARK - TROUBLE IN OZ<br /> OCTOBER 17-19 &AMP; 24-26</div>
</a>
</div>

<div>
	<a href="/glass-art-show">
		<img u="image" src2="/images/slideshow/glass-art-show-slide.jpg" alt="Glass Art Show" title="Glass Art Show"/>
		<div class="slide-description">GLASS ART SHOW<br />NOVEMBER 2 - DECEMBER 17</div>
	</a>
</div>


</div>-->

<!-- This is the format that you will need for each picture - make sure to replace the # with an actual link or URL, and replace the src2 code with the proper image reference
<div>
	<a href="#">
		<img u="image" src2="/images/slideshow/event01.jpg" />
		<div class="slide-description">DESCRIPTION GOES HERE</div>
	</a>
</div>
-->
