<div id="prefooterbg">
	
	<div id="prefooter" class="container">
	
		<div class="row">
			<div id="empty1" class="col-sm-2">&nbsp;</div>
			<div class="col-sm-2"><a href="#"><img src="images/footer-membership.png" alt="BECOME A MEMBER"></a></div>
			<div class="col-sm-4"><a href="#"><img src="images/footer-donate.png" alt="DONATE TO THE GARDEN"></a></div>
			<div class="col-sm-2"><a href="#"><img src="images/footer-volunteer.png" alt="VOLUNTEER WITH US"></a></div>
			<div id="empty2" class="col-sm-2">&nbsp;</div>
		</div>
		
	</div>
	
</div>

<div id="rbgfooterbg">

	<div id="rbgfooter" class="container">
	
			<br />
	
			<div id="social-media-wrapper">
				
				<ul>
					<li><div class="yelp"><a href="http://www.yelp.com/biz/red-butte-garden-and-arboretum-salt-lake-city"></a></div></li>
					<li><a href="http://www.tripadvisor.com/Attraction_Review-g60922-d269627-Reviews-Red_Butte_Garden-Salt_Lake_City_Utah.html"><img src="images/tripadvisor.png" alt="Red Butte Garden on Trip Advisor" onmouseover="this.src='images/tripadvisor-hover.png'"
onmouseout="this.src='images/tripadvisor.png'"></a></li>
					<li><a href="https://plus.google.com/115349740133726957245/about"><img src="images/googleplus.png" alt="Red Butte Garden on Google Plus" onmouseover="this.src='images/googleplus-hover.png'"
onmouseout="this.src='images/googleplus.png'"></a></li>
					<li><a href="https://www.facebook.com/redbutte"><img src="images/facebook.png" alt="Red Butte Garden on Facebook" onmouseover="this.src='images/facebook-hover.png'"
onmouseout="this.src='images/facebook.png'"></a></li>
					<li><a href="https://instagram.com/redbuttegarden/"><img src="images/instagram.png" alt="Red Butte Garden on Instagram" onmouseover="this.src='images/instagram-hover.png'"
onmouseout="this.src='images/instagram.png'"></a></li>
					<li><a href="https://twitter.com/redbuttegarden"><img src="images/twitter.png" alt="Red Butte Garden on Twitter" onmouseover="this.src='images/twitter-hover.png'"
onmouseout="this.src='images/twitter.png'"></a></li>
					<li><a href="https://www.youtube.com/user/RedButteGarden"><img src="images/youtube.png" alt="Red Butte Garden on YouTube" onmouseover="this.src='images/youtube-hover.png'"
onmouseout="this.src='images/youtube.png'"></a></li>
					<li><a href="http://www.redbuttegarden.org/social-media"><img src="images/snapchat.png" alt="Red Butte Garden on Snapchat" onmouseover="this.src='images/snapchat-hover.png'"
onmouseout="this.src='images/snapchat.png'"></a></li>
					<li><a href="http://www.reddit.com/r/redbuttegarden"><img src="images/reddit.png" alt="Red Butte Garden on Reddit" onmouseover="this.src='images/reddit-hover.png'"
onmouseout="this.src='images/reddit.png'"></a></li>
					<li><a href="https://www.pinterest.com/redbuttegarden/"><img src="images/pinterest.png" alt="Red Butte Garden on Pinterest" onmouseover="this.src='images/pinterest-hover.png'"
onmouseout="this.src='images/pinterest.png'"></a>
				</ul>
				
			</div>
	
			<div class="space"><hr></div><div class="space"><hr></div><div class="space"><hr></div>
			
			<div id="rbgfooterlinks">
				<ul>
					<li><a href="#">CONTACT US</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
					<li><a href="#">BOARD</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
					<li><a href="#">PARTNERS</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
					<li><a href="#">PRESS ROOM</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
					<li><a href="#">PUBLICATIONS</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
					<li><a href="#">POLICIES</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
					<li><a href="#">EMPLOYMENT</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
					<li><a href="#">DONATION REQUEST</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
					<li><a href="#">SIGN UP FOR OUR NEWSLETTER</a></li>
				</ul>
			</div>
			
		<div class="space"><hr></div>		
		
		<div class="row">
				
			<div id="uofu" class="col-lg-2"><a href="http://www.utah.edu"><img src="images/uofu.png"></a></div>
			<div id="footerlogo" class="col-lg-8"><a href="http://www.redbuttegarden.org"><img src="images/footerlogo.png"></a></div>
			<div id="zap" class="col-lg-2"><a href="http://www.zapisyou.org"><img src="images/zap.png"></a></div>
			
		</div>
		<div class="space"><hr></div>
		<div class="space"><hr></div>
		<div class="row">
	
			<div id="contactinfo1" class="col-sm-12">801.525.0556 | 300 WAKARA WAY, SALT LAKE CITY, UT 84108</div>
			<div id="contactinfo2" class="col-sm-12">Copyright &copy2016 Red Butte Garden</div>	
	
		</div>
		<div class="space"><hr></div>
	</div>

</div>

</body>

</html>
