<div id="rbgfooterbg">

	<div id="rbgfooter" class="container">
	
		<div class="row">
			
			<div id="rbgfooterlinks" class="col-sm-3">
				<div class="space"><hr></div><div class="space"><hr></div><div class="space"><hr></div>
				<a href="#">CONTACT US</a><br /><hr>
				<a href="#">BOARD</a><br /><hr>
				<a href="#">PARTNERS</a><br /><hr>
				<a href="#">PRESS ROOM</a><br /><hr>
				<a href="#">PUBLICATIONS</a><br /><hr>
				<a href="#">POLICIES</a><br /><hr>
				<a href="#">EMPLOYMENT</a><br /><hr>
				<a href="#">DONATION REQUEST</a><br /><hr>
				<a href="#">SIGN UP FOR OUR<br />NEWSLETTER</a><br /><br />
			</div>
			
			<br />
			
			<div id="social-media" class="col-sm-6">
				<a href="http://www.yelp.com/biz/red-butte-garden-and-arboretum-salt-lake-city"><img src="images/yelp.png" alt="Red Butte Garden on Yelp"></a>
				<a href="http://www.tripadvisor.com/Attraction_Review-g60922-d269627-Reviews-Red_Butte_Garden-Salt_Lake_City_Utah.html"><img src="images/tripadvisor.png" alt="Red Butte Garden on Trip Advisor"></a>
				<a href="https://plus.google.com/115349740133726957245/about"><img src="images/googleplus.png" alt="Red Butte Garden on Google Plus"></a>
				<a href="https://www.facebook.com/redbutte"><img src="images/facebook.png" alt="Red Butte Garden on Facebook"></a>
				<a href="https://instagram.com/redbuttegarden/"><img src="images/instagram.png" alt="Red Butte Garden on Instagram"></a>
				<a href="https://twitter.com/redbuttegarden"><img src="images/twitter.png" alt="Red Butte Garden on Twitter"></a>
				<a href="https://www.youtube.com/user/RedButteGarden"><img src="images/youtube.png" alt="Red Butte Garden on YouTube"></a>
				<a href="http://www.redbuttegarden.org/social-media"><img src="images/snapchat.png" alt="Red Butte Garden on Snapchat"></a>
				<a href="http://www.reddit.com/r/redbuttegarden"><img src="images/reddit.png" alt="Red Butte Garden on Reddit"></a>
			</div>
			
			<!-- Including this code makes links to social media icons malfunction if they vertically collapse
			
			<div class="col-sm-3">
			&nbsp;
			</div>
			
			-->
			
		</div>
		
		<div class="row">
				
			<div id="uofu" class="col-lg-2"><a href="http://www.utah.edu"><img src="images/uofu.png"></a></div>
			<div id="footerlogo" class="col-lg-8"><a href="http://www.redbuttegarden.org"><img src="images/footerlogo.png"></a></div>
			<div id="zap" class="col-lg-2"><a href="http://www.zapisyou.org"><img src="images/zap.png"></a></div>
			
		</div>
		<div class="space"><hr></div>
		<div class="row">
	
			<div id="contactinfo1" class="col-sm-12">801.525.0556 | 300 WAKARA WAY, SALT LAKE CITY, UT 84108</div>
			<div id="contactinfo2" class="col-sm-12">Copyright &copy2016 Red Butte Garden</div>	
	
		</div>
		<div class="space"><hr></div>
	</div>

</div>

</div>


  </body>
    
</html>
