<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  
  <title>Enjoy the Garden | Red Butte Garden</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" /> <!-- Google Font 'Open Sans' -->
  <link rel="stylesheet" href="CSS/summer.css"> <!-- Additional local CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>

  
<div class="container">


<body>

<nav class="navbar navbar-inverse">

  <div id="navbarbg" class="container-fluid">
    
    <div id="rbgnavbar" class="container">    
    
		<div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a id="logo" class="pull-left" href="http://www.redbuttegarden.org"><img src="images/logo.png" alt="Red Butte Garden"></a>
	    </div>
	    
	    <div class="collapse navbar-collapse" id="myNavbar">
	      
	      <ul class="nav navbar-nav">
	        
	        <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="rbgwhitelink">VISIT <span class="caret"></span></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">GARDEN MAPS</a></li>
	            <li><a href="#">GIFT SHOP</a></li>
	            <li><a href="#">FREE DAYS <br />& EVENTS</a></li>
	            <li><a href="#">PRIVATE<br />TOURS</a></li>
				<li><a href="#">PLAY <br />TALEBLAZER</a></li>
	            <li><a href="#">POETRY IN <br />THE GARDEN</a></li>
	          </ul>
	        </li>
	        
			<li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="rbgwhitelink">PLANTS & GARDENS <span class="caret"></span></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">OUR GARDENS</a></li>
	            <li><a href="#">PLANT <br />COLLECTIONS</a></li>
	            <li><a href="#">WHAT'S BLOOMING<br /> NOW BLOG</a></li>
	            <li><a href="#">CONSERVATION <br />RESEARCH</a></li>
	            <li><a href="#">GARDENING <br />IN UTAH</a></li>
	          </ul>
	        </li>

	        <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="rbgwhitelink">EVENTS <span class="caret"></span></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">SPRING</a></li>
	            <li><a href="#">SUMMER</a></li>
	            <li><a href="#">FALL</a></li>
	            <li><a href="#">WINTER</a></li>
	            <li><a href="#">EVENT <br />CALENDAR</a></li>
	          </ul>
	        </li>
			
			<li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="rbgwhitelink">EDUCATION <span class="caret"></span></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">WORKSHOPS <br />& CLASSES</a></li>
	            <li><a href="#">TOURS</a></li>
	            <li><a href="#">LECTURES</a></li>
		        <li><a href="#">KID'S <br />CLASSES</a></li>
	            <li><a href="#">SUMMER<br />CAMP</a></li>
	            <li><a href="#">TEACHERS <br />& STUDENTS</a></li>
	          </ul>
	        </li>
	        
			<li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="rbgwhitelink">GET INVOLVED <span class="caret"></span></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">ABOUT US</a></li>
	            <li><a href="#">MEMBERSHIP</a></li>
	            <li><a href="#">VOLUNTEER</a></li>
	            <li><a href="#">GIVE</a></li>
	            <li><a href="#">CURRENT <br />FUNDRAISERS</a></li>
	            <li><a href="#">CORPORATE <br />SPONSORSHIP</a></li>
	          </ul>
	        </li>

	        <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="rbgwhitelink">PRIVATE EVENTS <span class="caret"></span></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">RENTAL<br />RATES</a></li>
	            <li><a href="#">WEDDINGS<br />& RECEPTIONS</a></li>
	            <li><a href="#">CORPORATE EVENTS <br />& PRIVATE PARTIES</a></li>
	            <li><a href="#">RENTAL<br />SITES</a></li>
	            <li><a href="#">CATERERS</a></li>
	            <li><a href="#">RENTAL<br />CALENDAR</a></li>
	            <li><a href="#">PHOTOGRAPHY<br />POLICY</a></li>
	            <li><a href="#">BIRTHDAY<br />PARTIES</a></li>
	          </ul>
	        </li>
	      
	      </ul>
	      	<!--
			<div class="lighter">
				<form>
					<span><input type="text" class="search rounded" placeholder="Search..."></span>
				</form>
			</div>
			-->
	    </div>
    
    </div>
      
  </div>
  
</nav>
