<!-- Begin Navbar -->
<div class="navbar-wrapper">

		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">

		  <div id="navbarbg" class="container-fluid">

		    <div id="rbgnavbar" class="container-fluid">

				<div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a id="logo" class="pull-left" href="https://www.redbuttegarden.org"><img src="/images/core/rbg-logo-new.png" class="hover responsive" alt="Red Butte Garden" title="Red Butte Garden" /></a>

						<a href="/search"><div class="visible-xs visible-sm visible-md visible-lg pull-right searchicon searchicon-header responsive" style="max-width:35px;margin-top:7px"><img src="/images/core/search.png" /></div></a>

			    </div>

			    <div class="collapse navbar-collapse" id="myNavbar">

			      <ul class="nav navbar-nav">

			        <li class="dropdown">
			          <a class="dropdown-toggle" data-toggle="dropdown" href="#">VISIT <span class="caret"></span></a>
			          <ul class="dropdown-menu">
									<a title="Link to info page for visiting the garden while following COVID-19 guidlines" href="/plan-your-garden-visit/"><li>PLAN YOUR VISIT</li></a>
									<a title="Link to general information page with prices, hours, directions, etcetera" href="/general-info"><li>GENERAL INFO</li></a>
									<a title="Link to page about Red Butte Garden including mission statement and brief history" href="/about-us"><li>ABOUT US</li></a>
			            <a title="Link to page with maps of the garden" href="/garden-maps"><li>GARDEN MAPS</li></a>
			            <a title="Link to page discribing our garden gift shop" href="/gift-shop"><li>GIFT SHOP</li></a>
			            <a title="Link to page listing free admission days and free events" href="/free-garden-events"><li>FREE DAYS<br />&amp; EVENTS</li></a>
			            <a title="Link to page descriping how to schedule private garden tours" href="/garden-tours"><li>GARDEN TOURS</li></a>
			            <a title="Link to our poetry box map, poetry walk info, and contest" href="/poetry"><li>POETRY IN<br />THE GARDEN</li></a>
			            <!--<a href="/garden-journal"><li>GARDEN JOURNAL</li></a>-->
			          </ul>
			        </li>

							<li class="dropdown">
			          <a class="dropdown-toggle" data-toggle="dropdown" href="#">PLANTS &amp; GARDENS <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <!-- <a href="/gardens"><li>OUR GARDENS</li></a> -->
									<a title="Link to map displaying plant location in the garden" href="/plant-map"><li>INTERACTIVE<br/>PLANT MAP</li></a>
									<a title="Link to page with info about our themed gardens" href="/themed-gardens"><li>THEMED GARDENS</li></a>
									<a title="Link to slideshows and descriptions of our various plant collections" href="/plant-collections"><li>PLANT COLLECTIONS</li></a>
			            <a title="Tips and tricks for doing your own gardening" href="/gardening-information"><li>GARDENING INFORMATION</li></a>
									<a title="Desciptions of what's going on in our Conservation Department" href="/conservation-research"><li>PLANT CONSERVATION<br />RESEARCH</li></a>
			            <a title="A blog for keeping up with blooms at the garden" href="/whats-blooming"><li>WHAT'S BLOOMING<br /> NOW BLOG</li></a>
			          </ul>
			        </li>

			        <li class="dropdown">
			          <a class="dropdown-toggle" data-toggle="dropdown" href="#">EVENTS <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <a title="Link to page listing concert schedules and general information" href="/concerts"><span class="concert-li"><li>OUTDOOR CONCERT SERIES</li></span></a>
									<a title="Links for interacting with the garden online" href="/virtual-garden-resources"><li>VIRTUAL RESOURCES</li></a>
									<a title="Links to events going on during the Spring season" href="/spring"><li>SPRING EVENTS</li></a>
			            <a title="Links to events going on during the Summer season" href="/summer"><li>SUMMER EVENTS</li></a>
			            <a title="Links to events going on during the Fall season" href="/fall"><li>FALL EVENTS</li></a>
			            <a title="Links to events going on during the Winter season" href="/winter"><li>WINTER EVENTS</li></a>
									<a title="Info for current and upcoming art displays at the garden" href="/exhibits"><li>ART EXHIBITS</li></a>
			            <!--<a href="/calendar"><li>EVENT CALENDAR</li></a>-->
			          </ul>
			        </li>

							<li class="dropdown">
			          <a class="dropdown-toggle" data-toggle="dropdown" href="#">EDUCATION <span class="caret"></span></a>
			          <ul class="dropdown-menu">
									<a title="Link to various ideas for educational ways to stave off boredom" href="/boredom-busters"><li>BOREDOM BUSTERS</li></a>
							    <a title="Educational activities for adults" href="/adult-education"><li>CLASSES &amp; WORKSHOPS<br/ >FOR ADULTS</li></a>
									<a title="Garden Adventures are classes for children ages 4-12 and a parent" href="/garden-adventures"><li>GARDEN ADVENTURES<br/ >CLASSES FOR KIDS</li></a>
									<a title="Info about our summer camp options for kids" href="/summer-camp"><li>SUMMER CAMP</li></a>
									<a title="Themed classes for one child aged 3-4 and a parent or caregiver" href="/lil-buds"><li>LIL' BUDS<br/ >PRESCHOOL CLASSES</li></a>
									<a title="Info on a free GPS-enabled smart-phone game application for playing the garden" href="/taleblazer"><li>PLAY TALEBLAZER</li></a>
				        	<a title="Info on upcoming lectures at the garden" href="/lectures"><li>LECTURES</li></a>
			            <a title="Educational program offerings for both teachers and students" href="/teachers-and-students"><li>TEACHERS &amp; STUDENTS</li></a>
			          </ul>
			        </li>

							<li class="dropdown">
			          <a class="dropdown-toggle" data-toggle="dropdown" href="#">GET INVOLVED <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <a title="How to volunteer with the garden" href="/volunteer"><li>VOLUNTEER</li></a>
			            <a title="Link to donate to the garden" href="{% include give-link.html %}"><li>GIVE</li></a>
			            <a title="Options for becoming a member of Red Butte Garden" href="/memberships"><li>MEMBERSHIP</li></a>
								 	<a title="How to make a donation to the garden in tribute or memoriam" href="/memorials-and-tributes"><li>MEMORIALS &amp;<br />TRIBUTES</li></a>
			            <a title="Alternative ways to support the garden" href="/ways-to-give"><li>WAYS TO GIVE</li></a>
			            <a title="Opportunities for coporate sponsorship" href="/corporate-sponsorship"><li>CORPORATE<br />SPONSORSHIP</li></a>
			            <a title="Employment opportunities at the garden" href="/employment"><li>EMPLOYMENT</li></a>
			          </ul>
			        </li>

			        <li class="dropdown">
			          <a class="dropdown-toggle" data-toggle="dropdown" href="#">PRIVATE EVENTS <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <a title="How to schedule a wedding reservation" href="/weddings-and-receptions"><li>WEDDINGS<br />&amp; RECEPTIONS</li></a>
			            <a title="How to schedule a private party" href="/private-parties"><li>CORPORATE EVENTS<br />&amp; PRIVATE PARTIES</li></a>
			            <a title="Info on the various spaces available to be rented" href="/rental-sites"><li>RENTAL SITES</li></a>
			            <a title="Google calendars showing reservations for rental spaces" href="/rental-availability"><li>RENTAL AVAILABILITY</li></a>
			            <a title="Pricing info for rentals and catering events" href="/rental-rates-and-catering"><li>RENTAL PRICING<br />&amp; CATERING</li></a>
									<a title="Policy info for photography at the garden" href="/photo-policy"><li>PHOTO POLICY</li></a>
			          </ul>
			        </li>

			        <li class="dropdown search" id="navhide4">
		          	<span class="dropdown-toggle searchicon searchicon-mobile-menu hide-mobile"><a title="search the garden website" href="/search"><img src="/images/core/search.png"></a></span>
			        </li>

							<br class="br-hide-lg" />

							<li class="dropdown navbutton" id="navhide1">
			        	<a class="dropdown-toggle" title="Link to donate to the garden" href="{% include give-link.html %}">GIVE</a>
			        </li>

			        <li class="dropdown navbutton" id="navhide2">
			         	 <a class="dropdown-toggle" title="Options for becoming a member of Red Butte Garden" href="/memberships">JOIN</a>
			        </li>

			        <li class="dropdown navbutton" id="navhide3">
			         	 <a class="dropdown-toggle" title="How to volunteer with the garden" href="/volunteer">VOLUNTEER</a>
			        </li>

			      </ul>

			    </div>

		    </div>

		  </div>

		</nav>
</div>
<!-- End Navbar -->
