<!-- Begin Search Bar Toggle Script-->
	<script type="text/javascript"> 
	
	$(function(){
	$(".searchbar").hide();
	

	
	$(".searchicon").on("click", 
		function(){
	
			if( $( ".searchbar" ).is( ":hidden" ) ) {
			
			    $(".navbutton, .searchbar").toggle(300);
			    $(".searchicon").css("background-color", "#196143");
			    
			    return;
			
			}
			
			else if ( $( ".navbutton" ).is( ":hidden" ) ) { 
				
				$(".searchbar, .navbutton").toggle(0);
				$(".searchicon").css("background-color","transparent");
				
				  $('.searchicon').hover(
				    function() {
				      var $this = $(this);
				      $this.data('bgcolor', $this.css('background-color')).css('background-color', '#196143');
				    },
				    function() {
				      var $this = $(this);
				      $this.css('background-color', $this.data('bgcolor'));
				    }
				  ); 
				return;
			}
	});
	
	});

	
	</script>
<!-- End Search Bar Toggle Script -->