<!-- Begin Search Bar Toggle Script-->
	<script type="text/javascript"> 
	
	$(function(){
	$(".searchbar").hide();
	

	
	$(".searchicon").on("click", 
		function(){
	
			if( $( ".searchbar" ).is( ":hidden" ) ) {
			
			    //$(".navbutton, .searchbar").toggle(300);
			    $(".navbutton").hide(300);
			    $(".searchbar").show(300);
			    $(".searchicon").css("background-color", "#196143");
			    
			    return;
			
			}
			
			else if ( $( ".navbutton" ).is( ":hidden" ) ) { 
				
				//$(".searchbar, .navbutton").toggle(0);
				$(".searchbar").hide(300);
				$(".navbutton").show(300);
				$(".searchicon").css("background-color", "transparent");
				$(".searchicon").mouseover(function() {
				    $(this).find(" > div").css("background-color","#196143");
				}).mouseout(function() {
				    $(this).find(" > div").css("background-color","transparent");
				});
				
				/*
				$(".searchicon").css("background-color","transparent");
				
				  $('.searchicon').hover(
				    function() {
				      var $this = $(this);
				      $this.data('transparent', $this.css('background-color')).css('background-color', '#196143');
				    },
				    function() {
				      var $this = $(this);
				      $this.css('background-color', $this.data('transparent'));
				    }
				  ); 
				return;
				*/
				
				
			}
			return;
	});
	
	return;
	
	});

	
	</script>
<!-- End Search Bar Toggle Script -->