<!-- Begin Search Bar Toggle Script-->
	<script type="text/javascript"> 
	
	$(function(){
	$(".searchbar").hide();
	

	
	$(".searchicon").on("click", 
		function(){
	
			if( $( ".searchbar" ).is( ":hidden" ) ) {
			
			    $(".navbutton, .searchbar").toggle(300);
			    $(".searchicon").css("background-color", "#196143");
			
			}
			
			else { 
				
				$(".searchbar, .navbutton").toggle(0);
				$(".searchicon").css("background-color","transparent");
				$(".searchicon").hover().css("background-color","#196143");
				
			}
	});
	
	});

	
	</script>
<!-- End Search Bar Toggle Script -->