---
title: "NATURE CONNECTS WALKING TOURS"
date: "2000-01-01 18:06:02 -06:00"
categories:
- summer
subtitle: "Guided Walking Tours"
event-notes: "guided walking tours"
layout: "events"
event-image: "nature-connects-hummingbird-and-flower.jpg"
event-dates: "JUNE 2"
event-location: "Red Butte Garden"
button-type: "register"
tickets-link: "#"
tickets-button: "hide"
registration-info: "N/A"
instructor-info: "N/A"
member-cost: "Free"
public-cost: "Free with Garden Admission"
published: false
---

<p class="text-center">Learn more about Nature Connects®: Art with LEGO® Bricks and discover fascinating details about the sculptures on display thoughout the Garden.</p>

<p class="text-center">Wear comfortable clothes and walking shoes. Meet in the Visitor Center courtyard.</p>

<p class="text-center">Visit the <a href="/nature-connects/">Nature Connects: Art with LEGO Bricks</a> exhibition page to see all the fun events planned!</p>

<br />

<div class="tan-bg">
  <br />
  <div class="row-fluid">

<h4 class="text-center green">Saturday, June 2</h4>
    <p class="text-center"><strong>Two Tours to Choose From!</strong></p>
    <p class="text-center red"><strong>Space is limited. Registration is required.</strong></p>

    <div class="col-sm-6">
      <p class="text-center date bold">June 2</p>
      <p class="text-center date bold">10 - 11AM</p>
      <center>
        <a href="https://55218.blackbaudhosting.com/55218/Nature-Connects-Walking-Tour-Session-A">{% include register-button.html %}</a>
        <!--<a href="#"><input type="submit" name="Apply-Button" value="Sold Out!" class="apply-button hover" /></a>-->
      </center>

      <br />
    </div>

<div class="col-sm-6">
      <p class="text-center date bold">June 2</p>
      <p class="text-center date bold">1 - 2PM</p>
      <center>
        <a href="https://55218.blackbaudhosting.com/55218/Nature-Connects-Walking-Tour-Session-B">{% include register-button.html %}</a>
        <!--<a href="#"><input type="submit" name="Apply-Button" value="Sold Out!" class="apply-button hover" /></a>-->
      </center>
    </div>
    <br />
  </div>
  <br />

<p class="text-center"><a href="/garden-tours">CLICK HERE</a> to learn more about our other Guided and Private Tours.</p>
</div>

</div>

<br />

</div>

<br />
