---
title: "YOGA IN THE GARDEN"
date: "2000-01-01 18:06:06 -06:00"
categories:
- adult
- summer
subtitle: "with Kristin Vance of Fluid Heart Yoga"
layout: "events"
event-image: "yoga.jpg"
event-dates: "JUNE - AUGUST, 2018"
event-location: "Tue/Thu: <em>Red Butte Garden Courtyard</em><br />Sun: <em>Red Butte Garden lawn, near Water Pavilion</em>"
button-type: "register"
tickets-link: ""
registration-info: "Drop-in is first-come, first-served </br> day of class<br /><strong>Phone Registration Also Available: </strong>801-581-8454"
instructor-info: "Kristin Vance of Fluid Heart Yoga"
member-cost: "<br />Tue/Thu: <em>$96</em> / Drop-in: <em>$13</em><br />Sun: <em>$12</em> / Sun. Drop-in: <em>$13</em>"
public-cost: "<br />Tue/Thu: <em>$120</em> / Drop-in: <em>$17</em><br />Sun: <em>$15</em> / Sun. Drop-in: <em>$17</em>"
event-notes: "with Kristin Vance of Fluid Heart Yoga"
tickets-button: "hide"
published: false
---

<p class="text-center"><strong>REGISTRATION REQUIRED</strong></p>

<br />

<p class="text-center">Join us for Yoga in the Garden this summer. Intended for all levels, from beginners to those who practice more regularly. Class is aimed at enhancing your quality of well being in a unique and thriving environment. Kristin Vance of Fluid Heart Yoga, leads a style of Yoga called Vinyasa, or movement with breath. It is a creative practice of movement with a focus on connection, reconnecting with your authentic and creative self, as well as your awareness in movement and as a way of being. You are encouraged to come as you are, with no expectations of what you ought to know about yoga or being flexible. It is not a competition of flexibility it is simply a practice of awareness in playful movement, where you will gain flexibility and leave feeling rejuvenated and light. Wear comfortable clothing, bring a yoga mat, towel, water bottle, and sunscreen. </p>

<p class="text-center">Drop-in cost is $13 for Garden Members and $17 for General Public. Up to 5 drop-ins are available for each section, on a first-come, first-served basis.</p>
</br>
<div class="tan-bg">
  <br />
  <div class="row-fluid">

    <h4 class="text-center green">TUESDAYS &amp; THURSDAY MORNINGS</h4>
    <p class="text-center"><strong>7:30 - 8:30AM</strong><br />
    4 Weeks of Yoga Each Session</p>

    <div class="col-sm-4">
      <h5 class="text-center green">Session 1</h5>
      <p class="text-center bold date">JUNE 6-28</p>
      <center>
        <a href="https://55218.blackbaudhosting.com/55218/Yoga-in-the-Garden---Session-One">{% include register-button.html %}</a>
      </center>
    </div>

    <div class="col-sm-4">
      <h5 class="text-center green">Session 2</h5>
      <p class="text-center bold date">JULY 10-AUGUST 2</p>
      <center>
        <a href="https://55218.blackbaudhosting.com/55218/Yoga-in-the-Garden---Session-Two">{% include register-button.html %}</a>
      </center>
    </div>

    <div class="col-sm-4">
      <h5 class="text-center green">Session 3</h5>
      <p class="text-center bold date">AUGUST 7-30</p>
      <center>
        <a href="https://55218.blackbaudhosting.com/55218/Yoga-in-the-Garden---Session-Three">{% include register-button.html %}</a>
      </center>
    </div>

  </div>
  <br />
</div>

<br />

<div class="tan-bg">
  <br />
  <div class="row-fluid">

    <h4 class="text-center green">SUNDAY MORNING YOGA</h4>
    <p class="text-center"><strong>9 - 10AM</strong><br />
    Single Class Each Session</p>

    <div class="col-sm-4">
      <!--<h5 class="text-center green">Session</h5>-->
      <h5 class="text-center green">Session 1</h5>
      <p class="text-center bold date">JUNE 10</p>
      <center>
        <a href="https://55218.blackbaudhosting.com/55218/Yoga-in-the-Garden---Sunday-Session-One">{% include register-button.html %}</a>
      </center>
    </div>

    <div class="col-sm-4">
      <!--<h5 class="text-center green">Session</h5>-->
      <h5 class="text-center green">Session 2</h5>
      <p class="text-center bold date">JULY 1</p>
      <center>
        <a href="https://55218.blackbaudhosting.com/55218/Yoga-in-the-Garden---Sunday-Session-Two">{% include register-button.html %}</a>
      </center>
    </div>

    <div class="col-sm-4">
      <!--<h5 class="text-center green">Session</h5>-->
      <h5 class="text-center green">Session 3</h5>
      <p class="text-center bold date">AUGUST 5</p>
      <center>
        <a href="https://55218.blackbaudhosting.com/55218/Yoga-in-the-Garden---Sunday-Session-Three">{% include register-button.html %}</a>
      </center>
    </div>

  </div>
  <br />
</div>
