---
title: "EVENING EXPLORATION GARDEN TOURS"
date: "2000-01-01 18:05:17 -06:00"
categories:
- spring
- summer
subtitle: "Guided Tours"
event-notes: "guided tours"
layout: "events"
event-image: "evening-exploration.jpg"
event-dates: "MAY-AUGUST"
event-location: "Red Butte Garden"
button-type: "register"
tickets-link: "#"
tickets-button: "hide"
registration-info: "N/A"
instructor-info: "N/A"
member-cost: "Free"
public-cost: "Garden Admission"
published: true
---

<p class="text-center">Join us for an exploration of what’s blooming throughout the Garden. Take a walk with one of our knowledgable Garden Guides and take an intimate look at the Garden and see how it changes throughout the summer season. The sunset views also can't be beat.</p>

<p class="text-center">Wear comfortable clothes and walking shoes. Meet in the Visitor Center courtyard.</p>

<p class="text-center"><a href="/garden-tours">CLICK HERE</a> to learn more about our other Guided and Private Tours.</p>
<br />

  <div class="tan-bg">
        <br />

        <h4 class="text-center green">THURSDAY EVENINGS</h4>
        <p class="text-center"><strong>Four Tours to Choose From!</strong></p><br />

        <p class="text-center">REGISTRATION REQUIRED - TOURS LIMITED TO 30 PARTICIPANTS EACH</p>

      <br />

  <div class="row-fluid">

    <div class="col-sm-6">
      <h5 class="text-center green">Session 1</h5>
      <p class="text-center date bold">MAY 17</p>
      <p class="text-center date bold">7 - 8:30PM</p>
      <center>
        <a href="https://55218.blackbaudhosting.com/55218/Evening-Exploration-Garden-Tour-17May2018">{% include register-button.html %}</a>
        <!--<a href="#"><input type="submit" name="Apply-Button" value="Sold Out!" class="apply-button hover" /></a>
      </center>-->

    </div>

    <div class="col-sm-6">
      <h5 class="text-center green">Session 2</h5>
      <p class="text-center date bold">JUNE 21</p>
      <p class="text-center date bold">7 - 8:30PM</p>
      <center>
        <a href="https://55218.blackbaudhosting.com/55218/Evening-Exploration-Garden-Tour-21Jun2018">{% include register-button.html %}</a>
        <!--<a href="#"><input type="submit" name="Apply-Button" value="Sold Out!" class="apply-button hover" /></a>
      </center>-->

    </div>

    <div class="col-sm-6">
      <h5 class="text-center green">Session 3</h5>
      <p class="text-center date bold">JULY 12</p>
      <p class="text-center date bold">7 - 8:30PM</p></p>
      <center>
        <a href="https://55218.blackbaudhosting.com/55218/Evening-Exploration-Garden-Tour-12Jul2018">{% include register-button.html %}</a>
        <!--<a href="#"><input type="submit" name="Apply-Button" value="Sold Out!" class="apply-button hover" /></a>
      </center>-->

    </div>

    <br />
    <div class="col-sm-6">
      <h5 class="text-center green">Session 4</h5>
      <p class="text-center date bold">AUGUST 23</p>
      <p class="text-center date bold">5:30 - 7PM</p>
      <center>
        <a href="https://55218.blackbaudhosting.com/55218/Evening-Exploration-Garden-Tour-23Aug2018">{% include register-button.html %}</a>
        <!--<a href="#"><input type="submit" name="Apply-Button" value="Sold Out!" class="apply-button hover" /></a>
      </center>-->

    </div>


</div>

<br /><br />

</div>
