---
title: "OPEN STUDIO WITH ELAINE HULTGREN"
date: "2000-01-01 17:11:01 -06:00"
categories:
- adult
subtitle: ""
layout: "events"
event-image: "open-studio.jpg"
event-dates: ""
event-location: "Red Butte Garden Classroom"
button-type: "register"
tickets-link: ""
registration-info: "N/A"
instructor-info: "N/A"
member-cost: "$25"
public-cost: "$25"
event-notes: "Offered monthly, 6-9PM"
tickets-button: "hide"
published: true
---
<div class="tan-bg">
  <br />
  <h4 class="text-center green">Class Times</h4>
  <p class="text-center"><strong>FRIDAYS, JANUARY 19 &amp APRIL 20</strong><br />
  <p class="text-center">REGISTRATION REQUIRED</p>
  <br />
</div>
<br />

<p>Open Studio is designed for the artists taking classes at RBG that have unfinished artwork or have questions about a class can come and receive information and direction from me and see what other artists are doing in other classes. Sharing of knowledge is encouraged.</p>

  <div class="col-sm-6">
      <h4 class="text-center green">JANUARY 19</h4>
      <center>
        <a href="https://55218.blackbaudhosting.com/55218/Elaine-Hultgren-Open-Studio-Class-19Jan2018">{%include register-button.html%}</a>
      </center>
    </div>

    <!--<div class="col-sm-4">
      <h5 class="text-center green">FEBRUARY 16</h5>
      <center>
        <a href="https://55218.blackbaudhosting.com/55218/Elaine-Hultgren-Open-Studio-Class-16Feb2018"><input type="submit" name="Apply-Button" value="Register Now" class="apply-button hover" /></a>
      </center>
    </div>-->

	 <div class="col-sm-6">
	      <h4 class="text-center green">APRIL 20</h4>
	      <center>
	        <a href="https://55218.blackbaudhosting.com/55218/Elaine-Hultgren-Open-Studio-Class-20Apr2018">{%include register-button.html%}</a>
	      </center>
        <br />
	    </div>

</div>


<br />

</div>
