---
title: "FREE HORTICULTURE SPOTLIGHT LECTURE SERIES"
date: "2000-01-01 18:07:07 -06:00"
categories:
- lecture
- free
- summer
subtitle: "free and interesting lectures to choose from"
layout: "events"
event-image: "horticulture-spotlight-lecture-series.jpg"
event-dates: "JUNE 25, JULY 9, AUG 27 @ 6:30-7:30PM"
event-location: "Red Butte Garden Classroom"
button-type: ""
tickets-link: ""
calendar-link: ""
member-sale-date: "N/A"
public-sale-date: "N/A"
member-cost: "Free"
public-cost: "Free"
event-notes: "free admission"
tickets-button: "hide"
calendar-button: ""
published: true
---

<!--<p class="lilac text-center"><strong>THANKS FOR YOUR SUPPORT! CHECK BACK THIS SPRING FOR 2018 LECTURE SERIES TOPICS &amp; DATES<br /></strong></p>-->

<h3 class="text-center">Utah State University Salt Lake County Extension</h3>
<h4 class="text-center">2018 Horticulture Spotlight Lecture Series</h4>
<br />


<div class="tan-bg">
  <br />
  <div class="row-fluid">

    <p class="text-center"><strong>All lectures from 6:30 - 7:30PM</strong></p>
    <p class="text-center"><strong>Lectures are Free but registration with USU Extension is required.</strong></p>

    <div class="col-sm-4">
      <h5 class="text-center green">Selecting, Propagating, and Growing Utah Native Plants</h5>
      <h5 class="text-center italic">with Dr. Larry Rupp, Professor &amp; Landscape Horticulture Specialist at Utah State University</h5>
      <p class="text-center date bold">JUNE 25</p>
      <center>
      <a href="https://www.eventbrite.com/e/selecting-propagating-and-growing-utah-native-plants-tickets-45662628150">{% include register-button.html %}</a>
      </center>
    </div>

    <div class="col-sm-4">
      <h5 class="text-center green">25 Great Deciduous Trees for the Salt Lake Landscape</h5>
      <h5 class="text-center italic">with Katie Wagner, Associate Professor, Utah State University</h5>
      <p class="text-center date bold">JULY 9</p>
      <center>
        <a href="https://www.eventbrite.com/e/25-great-deciduous-trees-for-the-salt-lake-landscape-tickets-45663299157">{% include register-button.html %}</a>
      </center>
    </div>

    <div class="col-sm-4">
      <h5 class="text-center green">Ornamental Grasses</h5>
      <h5 class="text-center italic">Eddy Dawson, Director of IT, Red Butte Garden</h5>
      <p class="text-center date bold">AUGUST 27</p>
      <center>
        <a href="https://www.eventbrite.com/e/ornamental-grasses-for-the-wasatch-front-tickets-45665348286">{% include register-button.html %}</a>
      </center>
    </div>



  </div>
  <br />
</div>
