---
title: "NATURAL AREA TOUR"
date: "2000-01-01 18:05:15 -06:00"
categories:
- spring
- summer
subtitle: "Guided Tours"
layout: "events"
event-image: "natural-area-hike.jpg"
event-dates: "MAY 15 &amp JUNE 19"
event-location: "Red Butte Garden"
button-type: "register"
tickets-link: "#"
tickets-button: "hide"
registration-info: "N/A"
instructor-info: "Neal Dombrowski, RBG Horticulturalist"
member-cost: "Free"
public-cost: "Garden Admission"
published: true
---

<p class="text-center">Join us for an exploration of Red Butte Garden's natural area. Walk with one of our horticulturalists for an intimate look at the area just outside of the Garden. Wear comfortable clothes and walking shoes, and dress for the weather. Meet in the Visitor Center Courtyard.</p>

<div class="tan-bg">

  <div class="row-fluid">

<p class="text-center">REGISTRATION REQUIRED - TOUR LIMITED TO 30 PARTICIPANTS</p>

<div class="col-sm-6">

  <p class="text-center date bold">TUESDAY, MAY 15</p>
  <p class="text-center date bold">6-8PM</p>
          <a href="https://55218.blackbaudhosting.com/55218/Natural-Area-Tour"> {% include register-button.html %}</a>
  <center>

  <br />
</div>
<div class="col-sm-6">

  <p class="text-center date bold">TUESDAY, JUNE 19</p>
  <p class="text-center date bold">6-8PM</p>
          <a href="http://55218.blackbaudhosting.com/55218/Natural-Area-Tour-19Jun2018"> {% include register-button.html %}</a>
  <center>

  <br />
</div>
</div>
