---
title: "EVENING EXPLORATION GARDEN TOUR"
date: "2000-01-01 20:05:14 -06:00"
categories:
- summer
- fall
- adult
subtitle: "Guided Tour"
event-notes: "guided tour"
layout: "events"
event-image: "evening-exploration.jpg"
event-dates: "SPRING, SUMMER, FALL"
event-location: "Red Butte Garden"
button-type: "register"
tickets-link: "https://55218.blackbaudhosting.com/55218/Evening-Exploration-Garden-Tour-14May2020"
tickets-button: "hide"
registration-info: "N/A"
instructor-info: "N/A"
member-cost: "Free"
public-cost: "Garden Admission"
published: false
---
<p class="text-center"><strong>Due to the Garden closure, this is event has been postponed until further notice.</strong><br />


<p class="text-center">Join one of our knowledgable Garden guides for an exploration of what’s blooming throughout the Garden, and to see how it changes throughout the seasons. The sunset views of Salt Lake City and the mountains also can't be beat.</p>

<p class="text-center"> Please wear comfortable clothes and walking shoes. Meet in the Red Butte Garden Visitor Center courtyard.</p>

<p class="text-center"><a href="/garden-tours">CLICK HERE</a> to learn more about our other Guided and Private Tours.</p>
<br />

  <div class="tan-bg">
        <br />

        <h4 class="text-center green">THURSDAY EVENINGS</h4>
        <p class="text-center"><strong>Check back for more seasonal tours</strong></p><br />

        <p class="text-center">REGISTRATION REQUIRED - TOURS LIMITED TO 30 PARTICIPANTS EACH</p>

      <br />

  <!--<div class="row-fluid">

    <div class="col-sm-6">
      <h5 class="text-center green">Session 1</h5>
      <p class="text-center date bold">MAY 14</p>
      <p class="text-center date bold">6:30 - 8PM</p>
      <center>
        <a href="https://55218.blackbaudhosting.com/55218/Evening-Exploration-Garden-Tour-14May2020">{% include register-button.html %}</a>
        <!--<a href="#"><input type="submit" name="Apply-Button" value="Sold Out!" class="apply-button hover" /></a>
      </center>-->
<!--
</div>

<div class="col-sm-6">
      <h5 class="text-center green">Session 2</h5>
      <p class="text-center date bold">JUNE 20</p>
      <p class="text-center date bold">7 - 8:30PM</p>
      <center>
        <a href="https://55218.blackbaudhosting.com/55218/Evening-Exploration-Garden-Tour-20Jun2019">{% include register-button.html %}</a>

</center></div>
<b />

<div class="col-sm-6">
      <h5 class="text-center green">Session 3</h5>
      <p class="text-center date bold">JULY 25</p>
      <p class="text-center date bold">7 - 8:30PM</p>
      <center>
        <a href="https://55218.blackbaudhosting.com/55218/Evening-Exploration-Garden-Tour-25Jul2019">{% include register-button.html %}</a>

  </div>

  <div class="col-sm-6">
      <h5 class="text-center green">Session 4</h5>
      <p class="text-center date bold">AUGUST 15</p>
      <p class="text-center date bold">6:30-8PM</p></p>
      <center>
        <a href="https://55218.blackbaudhosting.com/55218/Evening-Exploration-Garden-Tour-15Aug2019">{% include register-button.html %}</a>
        <!--<a href="#"><input type="submit" name="Apply-Button" value="Sold Out!" class="apply-button hover" /></a>
      </center>

  </div>

  <div class="col-sm-6">
      <h5 class="text-center green">Session 5</h5>
      <p class="text-center date bold">SEPTEMBER 26</p>
      <p class="text-center date bold">6:30-8PM</p></p>
      <center>
        <a href="https://55218.blackbaudhosting.com/55218/Evening-Exploration-Garden-Tour-26Sep2019">{% include register-button.html %}</a>


<br />

  </div>
</div>-->

</div>
<br /><br />
</div>
