<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Chrome, Firefox OS, Opera and Vivaldi -->
	<meta name="theme-color" content="#196143">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#196143">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#196143">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" /> <!-- Font 'Open Sans' Hosted by Google -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/CSS/summer.css"> <!-- Additional local CSS -->
  
{% include searchbar-toggle.html %}

</head>
<body>
{% include navbar.html %} 

<div id="rbgdefaultbody" class="container-fluid">

<!-- Begin First Column -->
	<div class="row-fluid">
		
		<div class="col-sm-3">
	
			<!-- Event Picture-->
			<div class="event-pic">
				<img src="/images/{{ page.event-image }}">
			</div>
			
			<div class="ev-title-mobile">
				<br />
		  	  	<div class="ev-title">{{ page.title }}</div>
		  	  	<div class="ev-sub">{{ page.subtitle }}</div>
	  	  	</div>
			
	  	  	<div class="ev-date-mobile">
				{{ page.event-dates }}
			</div>
			
			<a class="ev-ticket-link" href="{{ page.tickets-link }}">
					<div class="ev-tickets hover {{ page.tickets-button}}"><img src="/images/buy-tickets.png"></div>
			</a>
			
			<a class="ev-cal-link" href="{{ page.calendar-link }}">
				<div class="ev-cal hover {{ page.calendar-button }}"><img src="/images/add-to-cal.png"></div>
			</a>
			
			<hr class="ev-hr">
			<hr class="hidden">
			
			<br />
			<div class="ev-info-header">Location:</div>
			<div class="ev-location">{{ page.event-location }}</div>
			
			<br />
			
			<!-- Registration Info -->
			<div class="ev-info-header">Registration Info:</div>
			
			<div>
				<div class="inline">Garden Members On Sale -&nbsp;</div>
				<div class="ev-member-sale">{{ page.member-sale-date }}</div>
			</div>
			
			<div>
				<div class="inline">General Public On Sale -&nbsp;</div>
				<div class="ev-public-sale">{{ page.public-sale-date }}</div>
			</div>
			
			<!-- Price Info -->
			<br />
			<div class="ev-info-header">Cost:</div>
			
			<div>
				<div class="inline">Garden Members:&nbsp;</div>
				<div class="ev-member-cost">${{ page.member-cost }}</div>
			</div>
			
			<div>
				<div class="inline">General Public:&nbsp;</div>
				<div class="ev-public-cost">${{ page.public-cost }}</div>
			</div>
			
			<br />
		
		</div>
<!-- End First Column -->

<!-- Begin Second Column -->
	
  	  <div class="col-sm-9">
  	  
  	  	<div class="ev-title-reg">
	  	  	<div class="ev-title">{{ page.title }}</div>
	  	  	<div class="ev-sub">{{ page.subtitle }}</div>
  	  	</div>
  	  	
  	  	<br />
  	   
  	  	<div class="ev-date">{{ page.event-dates }}</div>
  	   
  	  	<div class="ev-space"><br /><br /></div>
  	   
  	  	<div class="ev-desc">
	   		{{ content }}     
	   	</div>
  	  	
  	  </div>

  </div>
<!-- End Second Column -->
</div>


</body>
{% include footer.html %}