<!DOCTYPE html>
<html lang="en">
<head>
	<!-- meta tags for SEO and indexing -->
	<!-- Keywords tag removed since it is discouraged by modern search engines -->
	<meta name="description" content="{{ page.description }}" >
	<meta name="author" content="Red Butte Garden">
	<!-- Tag for UDS Google Analytics (Marketing and Communications)-->
	<meta name="google-site-verification" content="SYzG0-ATvEy8GqOjJfv4OER9xYw3IUVMpB0mYLHTwWE" />
	<!-- KSL Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T5L8MRQ');</script>
<!-- End KSL Google Tag Manager -->
<!-- Chrome, Firefox OS, Opera and Vivaldi -->
<meta name="theme-color" content="#196143">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#196143">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#196143">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>

<!-- Open Graph Tags -->
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:url" content="{{ site.url }}/{{ page.path }}" />
<meta property="og:type" content="website" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
{% include favicon.html %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" /> <!-- Font 'Open Sans' Hosted by Google -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/CSS/summer.css?v={% include css-js-versions.html %}">
<link rel="stylesheet" href="/CSS/plant-map.css">
<link rel="stylesheet" href="/CSS/MarkerCluster.css">
<link rel="stylesheet" href="/CSS/MarkerCluster.Default.css">

<!-- Fallback to local CSS & JS copies if CDN fails -->
<script>window.jQuery.fn.modal || document.write('<script src="/js/bootstrap-3.3.7.min.js"><\/script>')</script>
<script>
    (function($) {
        $(function() {
            if ($('#rbgdefaultbody > div > div').css('min-height') !== '1px') {
                $('head').prepend('<link rel="stylesheet" href="/css/bootstrap-3.3.7.min.css">');
            }
        });
    })(window.jQuery);
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window, document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '1644186115889541');
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=1644186115889541&ev=PageView&noscript=1"
		/></noscript>
		<!-- End Facebook Pixel Code -->

		{% include etix_google_analytics.html %}
		{% include searchbar-toggle.html %}
		{% include marketing-header.html %}
		{% include leaflet-css.html %}
		{% include leaflet-script.html %}
	</head>
	<body>
		<!-- KSL Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5L8MRQ"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<!-- End KSL Google Tag Manager (noscript) -->
			{% include navbar.html %}
			{% include marketing-body.html %}
			<div id="rbgdefaultbody" class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						{{ content }}
					</div>
				</div>
			</div>

			<!-- Google Analytics Code -->

			{% include google-analytics.html %}

		</body>

		{% include footer.html %}
		{% include seasonal-css-js.html %}
